Charset
a a,ai,an,ang,ao 爱安啊阿暗广案按艾奥仰呵哀岸厂埃碍傲昂唉挨矮哎俺黯熬庵敖嚣凹澳懊隘癌夭鳌拗肮鞍盎嗳袄瑷蔼谙霭暧嗷愛翱坳皑腌噫捱遨嗄氨媪鏖骜诶胺吖桉螯鹌聱闇獒犴奧卬欸鏊奡盦艹毐嗌骯嫒礙砹阨锕铵盫璈抝岙菴媕廒慠曖謷藹鰲屵佁垵唵晻锿僾瞹枊豻埯啽揞叆嶴諳騃伌厑岇芺侒岰垇昹峖玵洝荌昻柪娭啀娾硋閊偣婩隌堓梎镺溾凒萻葊軪厫隞溰塧魞腤痷雸蔜嗸獓嶅滶媼嫯敱敳嘊誝蓭罯銨貋摮澚錒皚躷鞌磝墺噯濭壒懓嬡薆鴱﨟儑錌擙鎄餲璦懝馣鮟醠翶謸襖皧馤翺譪鵪爊鶕韽驁譺鑀鷔鼇鱜鱛靄鱫靉
ba ba,bai,ban,bang,bao 把白八吧版半百报宝保般包办帮巴旁伯伯抱败板班罢拜暴摆爸伴薄拔爆邦搬炮霸扮堡膀棒柏陌饱剥绑斑胞豹跋榜鲍傍褒扳颁瀑绊芭疤瓣谤叭磅拌镑坂曝坝呗苞靶掰葆刨蚌梆闆笆耙鸨阪稗浜煲岜褓灞辦幫杷雹報瘢寶捭佰擺粑捌敗舨魃龅趵飽襬罷剝蒡孢鲅綁茇昄菝勹钯钣枹絆攽柈豝軷粺癍抜玤柭牓螌襃鎊覇犦丷仈勽叐朳玐扷夿弝庍岅佨妭拝肦瓪姅坢怑怉炦胈癹挀垹挷釟蚆哵羓垻栢瓸粄秚捠窇宲珤铇跁猈竡湴邫笣蚫菢袌鲃詙鈀絔粨鈑幇棓堢媬兡斒頒鉡搒塝稖寚飹鉋颰蝂靽幚蜯裦駂鳵骲鳻魬螁蕔鴇緥髱鮁䎬薭褩縍艕闁賲虣鮑鎺謗曓儤鼥鯐贁辬鞤藵犤韛寳矲齙忁䎱鑤壩欛靌
bei bei,ben,beng 本被北背备悲奔辈贝杯倍卑笨崩碑狈绷蹦悖惫迸蓓甭蚌焙贲泵苯孛備夯陂琲嘣钡碚邶貝畚揹锛輩繃甏狽憊鞴褙坌唄鐾盃菶琫鹎镚祊犇柸桮骳糒伻牬昁苝泍郥甮俻奙倴埄梖偝偹鄁珼翉逩桳捹渀奟埲逬椑軰僃棓閍絣琣揼鉳蛽愂禙楍痭嵭犕誖鞁綳塴鋇撪錛鞛藣鵯鏰
bi bi,bian,biao,bie,bin,bing 便并别比表变边必编兵病笔标毕避秘冰遍臂闭彼壁辩逼鼻宾柄辨鞭辟屏碧币镖扁鄙贬陛蔽彬弊饼毙禀匕滨彪璧辫敝秉婢庇鬓丙憋汴炳婊別蝙斌摒飙卞濒匾弼瘪泌殡缤裨痹俾膑邊並鳖砭睥變摈镳槟槟贲蹩弁裱膘褊哔飚骠筆愎薜杓筚镔篦標閉畀髀妣傧錶編笾豳嬖髌毖畢跸獱屄邠荸窆蓖觱荜吡濞邲忭秕昺绠煸襞幣頻駜邴併偪摽鞞髟貶狴淲徧閟沘佖苾餅儦芘粃瀌鳔蠙飆怭怲珌変萆彆鏢苄柀昞舭铋栟庳賓斃瀕辯顮冫诐釆玢倂楅飶滗腷稟滮篳鳊奰躄繽佊抦飑笓俵赑愊詖貱痺誁麃濱鄨檳韠臕辮鷩鬢仌氷朼夶皀疕迊坒抃汳陃毞怶妼咇畁炞玣峅苪幷柲疪昪骉庰垪袐粊覍莂眪栤竝窉啚閇萞梐萙蛂梹掤蛃偋毴堛皕禆弻湢賁蛯萹猵惼缏揙猋脿椕寎棅傡榌蜌鉍滭嗶彃蓽睤煏牑甂閞嫑鈵箄聛熚鄪獙綼箅箆馝稨碥辡颮蔈幖墂徶賔豩瑸髩鉼鞆豍貏髲襅幤潷罼獘箯糄諚緶艑熛諘鋲鵖螕廦縪鮅鞕鴘辧瘭磦褾襒儐餠鲾蹕嬶鍽邉藊颷檦蟞濵虨鬂擯鮩鎞鏎饆謤藨璸殯臏繴襣鞸魓爂贆癟霦鰏躃驆鯿鯾穮鷝鐴贔朇飇飈飊鱉鑌鑣鼈髕籩鼊虌龞驫靐
bo bo,bu 不部步般布伯波补博薄播勃捕堡怖柏拨玻魄剥泊卜脖驳搏膊簿帛哺蕃钵礴簸跛渤埠舶箔菠卟埔擘孛逋钹饽啵補亳瓿檗佈趵鹁踣撥铂钚晡鲅蔔镈浡駁嶓钸餔蘗誧礡欂歩埗缽蔀僰謈鵓髆醭襮癶仢肑吥癷瓝狛歨咘郣侼胉畓柨巭盋砵哱袯瓟秡挬庯峬悑勏捗荹紴袰萡淿袹溊葧鈈碆鉢猼馎愽鈸鉑鲌鈽鳪廍僠馛艊牔煿踄餑鋍郶馞駮鮊孹錻餢篰襏簙餺鎛嚗懪鵏蹳髉糪譒轐驋鱍鑮鸔
ca ca,cai,can,cang,cao 才参草藏采材残彩财菜惨操苍曹猜餐擦裁蔡拆沧仓灿踩惭舱睬蚕糙槽嘈掺臧嚓粲璨孱漕伧骖纔慘參殘採肏蒼燦憯財螬慚倉綵鶬飡凔懆蠶偲慒艚黪寀滄⺋仺艸乲毝鸧倸宷曺啋婇埰叄棌湌叅喰朁傖愺跴傪獊嵢遪蝅䅟蓸嶆慙儏撡鄵嬠穇薒澯螥艙濸褿攃縩篸賶謲襙礤鏪騲爘驂鼜黲礸蠺鑶
ce ce,cen,ceng 曾层参策侧测册厕岑恻蹭涔噌層側測廁嶒冊惻筴簎夨荝拺敇埁笒粣笧萗厠猠硛梣萴筞蓛箣嵾憡竲驓
cha cha,chai,chan,chang,chao 长常场产单朝差差超查察唱潮茶插倘尝颤缠厂抄禅昌刹吵畅阐嘲柴倡肠拆叉偿诧钗裳炒蝉钞怅巢绰敞岔忏铲娼搀剿喳掺蟾嫦猖潺晁嚓谗長馋茬谄豺場搽咤孱徜杈焯侪碴衩昶婵槎鬯剎姹阊伥澶氅產羼顫菖惝苌廛楂嚐觇廠虿詫锸汊償纏暢猹讒嘗襜馇檫镲瘥浐悵鈔刬弨怊垞幝鲳鲿韔蟬冁巉剗靫蒇骣儕錩侘査梴腸摻僝諂鋹毚儳懺镵扠奼苂兏玚茝祡産剷緾瑺麨燀劖鏟攙躔仧仩仦扱芆犲辿仯肞旵镸丳斺臿秅紁欩牊挿訍袃倀眧耖偛釵硟淐萇瓺訬巣觘揷嗏嵖覘湹棎琩焻椙焣詧喍裧煘锠裮甞鼌鄛銟獑誗鋋摌滻摲塲厰僘畼漅煼艖鋓儃嬋潹蕆閳膓誯樔窲疀蹅幨磛閶窼罺鍤餷鄽螹簅蟐鼂蠆瀍醦繟懴轈酁譂鯧謿壥嚵瀺闡囆欃鼚巐鑔纒囅韂艬灛讇鑱饞鱨
che che,chen,cheng 成车程城称称陈沉承盛臣诚尘乘彻尺晨扯呈趁撑辰衬撤澄惩丞逞澈嗔秤骋铛忱橙掣瞠琛谶車稱谌宸铖碜郴抻噌坼撐枨裎酲柽塍陳懲瞋蛏襯樘澂榇徹塵龀砗偁埕屮琤赪疢煁誠憕瀓伡朾阷迠迧泟郕俥茞爯荿宬娍峸洆乗侱莗唓偖烢莀莐栕烥棦浾挰珹徎悜聅捵桭訦軙敐趻碀珵窚掁脭庱硨硩棽鈂愖硶趂晿牚揨堘絾筬椉棖睈蛼蔯塖溗撦頙綝樄敶瘎墋靗憆摚鋮畻賝諃霃夦緽諶螴踸磣齓頳赬橕檙瞮勶謓薼鍖齔檉竀騁鯎麎贂儭罉曟嚫蟶穪櫬鏿鐣饓騬爡鷐讖
chi chi,chong,chou 种重吃冲持充抽崇仇迟愁尺赤丑虫涌痴臭池斥耻齿驰宠筹匙酬畴翅嗤绸炽侈叱踌瞅惆憧哧忡弛稠蚩敕啻笞饬衝舂俦雠魑踟鸱沖铳褫癡呎坻媸墀螭熾遲豉彳恥蟲齒瘛篪醜瘳傺鶒摛帱絺艟寵漦讎杻酧篘薵疇勅茺喫馳裯雔蹖籌醻讐茌抶勑眵紬綢儔罿檮躊鷘丒叺伬妛肔杘灻吜迡卶侙䌷杽竾荎垑胣恜彨胵蚇翄浺珫翀栦粚瓻蚳赿袳烾隀崈埫菗偢訵貾遅筂歯欼袲湁飭揰絒椆臰遚遟裭雴腟痸鉓搊皗詶箎鉹銐翤瘈遫憏嘃摏漴褈銃殠瞝殦噄誺慗翨憃蝩緟鴟鮘鵄鍉謘懤幬嬦趩懘燽矁齝犨攡麶彲黐爞魗雦犫
chu chu,chua,chuai 出处楚除初助触础厨储畜揣橱躇踹锄褚杵啜雏矗搐黜怵刍绌處楮觸蹰蜍廚樗滁亍嘬俶岀憷齣鉏雛櫥搋礎芻篨処竐欻蒭滀儲斶貙竌豖泏欪敊䦷椘埱絀珿蒢豠禇傗鄐趎媰耡榋摴犓閦鋤諔儊嘼膗䦟濋膪檚臅歜璴櫉幮蟵鶵躕齭齼
chuan chuan,chuang 传创穿船床窗川串喘闯幢疮怆钏傳椽舛創遄闖氚舡窓摐瘡愴巛牀釧猭歂刅汌玔刱荈剏舩剙剶瑏牎傸僢賗暷篅牕噇輲踳窻磢鶨
chui chui,chun,chuo 春纯吹垂唇蠢淳戳锤绰捶醇椎啜炊辍龊椿槌鎚陲莼鹑純踔棰搥辶脣犉箠娖婼惙漘蝽擉齪菙婥蓴綽箺輟輴錞辵旾杶陙埀倕桘浱哾娕萅偆逴涰圌腄媋堾湻萶槆暙瑃滣蒓惷酫睶踀趠錘橁醕賰餟磭顀䲠櫄繛鶉鯙歠鶞鰆嚽龡鑡
ci ci,cong,cou 从此次词差刺辞丛聪匆慈兹凑赐茨磁瓷祠伺葱疵雌從囱淙琮呲骢茈怱詞辏鹚湊泚叢枞辭苁糍悰蔥聰腠璁佽賜潀賨佌玼甆楱潨朿囪珁刾忩茐垐柌庛茦徔栨従趀皉莿閊悤徖婃孮偨辝蛓絘棇愡跐楤蓯漗聡漎憁骴縒餈飺辤螆聦熜樅樬暰瑽賩誴薋嬨濨瞛錝樷輳鴜鮆蟌篵鍯藂髊礠繱謥蠀鏦鏓騘鷀鶿驄灇欉爜齹
cu cu,cuan,cui 趣粗促翠脆粹催卒窜崔摧醋悴簇蹙攒萃篡猝啐瘁璀蹿蹴徂淬撺酢爨殂毳榱竄倅踧皠膵汆蔟漼巑焠踿顇欑伜忰怚疩脃粋紣翆觕脨菆啛媨脺琗麁瘄嵟凗缞趗誎墔慛獕綷麄憱噈槯趡橻瘯殩熶磪縗膬縬鼀镩簒竁襊濢臎蹵櫕鏙顣攛穳躥鑹麤
cun cun,cuo 存错村寸措蹲挫搓忖撮磋錯蹉邨锉皴厝嵯痤脞鹾矬瘥瑳酂踆刌剉侟拵籿剒莝莡夎虘逪嵳睉蒫遳蓌蔖澊墫銼醝竴膥鎈鹺
da da,dai 大大代打带达答待呆袋戴搭黛歹贷逮岱殆惮怠鞑嗒瘩沓哒妲帶玳耷傣靼迨達怛褡骀跶呔笪甙绐埭躂汏炟獃噠鎝轪咑貸撘亣歺迏迖迚呾侢帒垈荙荅羍垯畓柋畗眔軑貣帯笚畣匒剳逹蚮紿軚詚軩瑇跢廗墶薘叇曃蝳緿鴏懛艜鎉蟽繨簤鶎鐽瀻霴韃黱襶靆龖龘
dan dan,dang,dao 到道当但倒石单刀导党淡担弹丹岛胆荡蛋旦挡盗诞档蹈祷耽捣叨悼稻惮當宕铛澹眈焘裆郸掸單聃殚啖噹彈導氮纛谠珰箪擔儋亶檔膽盪刂蕩誕砀忉萏擋疸盜菪禱島搗鐺凼帱黨氘黮筜瘅髧撢僤憺餤擣翿躭酖啗婸噉儅璫氹辺刐伔圵朷乭妉抌帎瓭玬狚泹沊舠単砃衴柦唌垱陦耼紞疍釖鱽﨩捯菿媅赕啿弾蜑腅觛逿愓瓽禂椡窞蓞雼嵣魛隝匰鄲頕褝馾潒碭嶋嶌翢稲槝勯撣賧嘾憚瞊趤噵艔衜殫黕禫駳鴠澢壋螩隯衟檤甔襌癉璗嶹壔簞癚襠礑簜燾聸繵贉嚪蟷艡簹饏霮譡蘯闣軇瓙攩灙欓黵讜
de de,dei,den,deng 地得得等德底登灯瞪邓澄凳蹬噔簦镫燈磴淂戥徳扽锝櫈扥恴棏惪悳豋嘚嘚僜鄧隥嬁嶝墱鍀璒竳艠覴鐙
di di,dia,dian,diao 的地点第提电帝弟底调低典敌掉店抵鸟狄殿迪雕蒂滴递颠吊笛奠垫甸堤钓谛貂嘀凋淀點電缔癫刁邸巅涤翟嫡惦玷掂叼滇诋娣睇棣柢碉踮佃嗲钿砥荻簟調靛氐敵屌坻碘遞羝觌镝鞮坫杕阽籴骶墊鯛铞铫釣磾癜牴蹢揥澱顛弔彫媂墬瘨攧巔扂隄珶觝滌僀頔蝃鲷驔袛眱髢甋鵰汈仾扚伄廸厎阺坘坔旳玓刟彽奃岻苖弤呧拞苐枤怟奌虭埅俤敁盄秪唙逓埊窎訋埞啲梑啇掋菧焍梊祶菂偙釱婰婝奝弴蛁趆靮軧詆厧傎敟琔椣琱鈟馰楴禘腣鉪嵮蒧鈿蜔鳭竨蓧蔋蔐聜碲摕遰蔕墑槇槙銱銚雿魡樀蝭締慸蕇諦踶嶳壂橂鮉瞗錭窵瘹鋽藡嚁螮蹎磹簓藋豴鼦鏑鯳顚嚸覿糴巓鑃癲鸐齻
die die,ding,diu 定丁顶爹丢订盯跌鼎钉叠蝶叮碟迭谍喋锭町仃牒酊铤玎丟耋堞碇頂訂腚疔蹀釘瓞揲垤疊耊諜鲽颩咥昳挕哋啶嵽錠帄艼奵饤忊矴苵虰耵峌绖恎胅眣飣眰戜靪萣铥絰臷镻詄趃跕畳惵幉椗殜楪牃跮褋蜨鼑嵿碠銩艓濎薡鴩疂褺螲顁磸蹛曡疉鰈鐤氎
dong dong,dou 都动东读斗洞懂抖董冬豆冻陡逗兜栋咚窦東渎動峒痘蚪恫胴侗吋氡鬥棟钭硐鼕胨凍蔸岽荳鸫闘蝀垌脰篼郖鬭乧阧吺苳枓昸迵姛挏剅倲戙唗唞饾浢菄崬崠涷埬娻笗酘毭梪氭湩腖兠鈄閗働鬦蕫嬞箽諌餖鮗駧橷霘斣鯟鶇鶫竇鬪鬬
du du,duan,dui 对都度读断段独队短毒端杜督堆肚渡赌敦睹堵妒嘟锻笃缎兑對渎牍蠹犊镀怼斷黩讀隊椟獨髑煅碓斁芏篤賭椴覩鐓憝妬読鍛阇兌磓瀆懟対秺闍錖錞簖镦讟叾厾兊祋耑垖剢荰陮偳琽靯媏葮塅塠瑖腶痽綐裻褍碫醏獤緞頧憞螙毈凟匵鍍殬鍴鴭薱濧嬻殰犢櫝牘瓄瀩譈皾騳鐜譵轛韣贕豄蠧躖鑟韇韥籪黷
dun dun,duo 多度顿盾夺躲朵敦蹲堕舵沌遁钝踱哆吨咄铎惰跺墩炖剁掇盹驮垛頓囤墮趸裰奪澤哚杕惇礅砘亸軃柂埵缍鈍燉敚楯噸剟遯嚲陊镦伅夛朶庉饳沲刴陏逇挆柮垜挅尮桗﨣敓剫崜毲敠敪喥痥媠鈬椯躱趓跥飿蜳碷綞憜撴墪潡壿凙墯撉犜踲嚉蹾躉鬌鵽鯲鐸驐奲
e e,ei,en,eng,er 而二儿尔阿恶耳恩俄哦额饿厄娥愕鹅扼峨萼噩鳄遏呃讹蛾饵鄂贰鹗迩婀爾颚惡摁胺锷谔垩洱阏餓轭莪屙珥欸額腭噁悪苊鱷佴鸸薾鵝弐吪咢锇咹訛誀頞騀仒戹尒尓弍岋迗囮阸厑奀児妸妿枙呝砐陑侕刵峉砈姶峎乻荋耏峏洏咡娿峩涐砨匎蚅栭胹毦栮珴軛硆卾偔堊唲袻铒貮鈋皒睋遌崿堨堮湂軶豟鈪蛯椧聏貳衈粫頋琧廅搤搹旕蒽輀誐磀僫蝁誒煾鲕鉺餌鋨頟魤蕚遻餩閼擜諤覨髵隭駬髶樲鍔鵈鴯鮞邇鵞顎歞鞥臑譌礘襨櫮鶚鰐鰪轜趰齃讍欕齶鑩
fa fa,fan,fang 发方法反放房翻饭范凡仿防犯烦番访芳繁泛乏返妨罚伐帆贩藩彷樊梵坊阀纺筏蕃肪發舫幡髮飯砝枋矾鲂燔袢煩珐訪罰蘩昉範璠垡畈匚钒氾汎茷钫販牥仮汸発酦罸墦旛鶭⺁凣凢払忛奿邡冹姂匥杋沷坺佱柉籵昘瓬疺峜浌舤眆栰舧軓訉蚄淓紡旊倣笩畨笲釩笵盕趽堏傠琺棥軬飰鈁彂瞂閥髪勫緐滼髣墢蕟噃嬏憣嬎錺鴋魴橃鍅旙膰薠橎藅襎輽繙羳轓颿蹯鐇礬瀿瀪灋飜籓蠜鱕鷭
fei fei,fen,feng 发分风非飞费封份凤峰纷丰愤奋锋废疯奉菲粉冯芬讽氛枫逢肥斐缝妃啡匪吩蜂坟焚肺沸粪忿扉吠烽诽绯狒翡汾俸鼢霏蜚風飛腓悱芾淝奮怫痱廢蕡酆棻瘋酚沣紛費棼葑諷憤偾鲱榧墳騑豐唪濆縫鋒砜蚡棐鳳鲼帉玢枌雰馮緋镄篚餴糞盽剕婓楓幩豮黂⺄凨仹妢岎弅坋凬妦夆沨杮昐炃朌凮朏胐胇昲衯秎竕厞陫俷疿翂羒蚠峯浲覂婔渄奜萉屝躮訜梤偑桻琒猆暃靟廃鈖堼崶渢猦溄堸湗焨裶馚蒶犎艂漨摓綘煈赗鳯蜰隫僨碸蕜誹魵獖瞓篈僼鄷鴌曊朆燌燓橨黺膹賵馡餥癈鼣檒蟦濷羵鼖鎽鏠騛鯡櫠豶轒鐨饙鐼瀵馩蘴寷灃蠭鱝靅靊飌飝麷
fo fo,fou,fu 复夫父服否佛佛富府福妇负付副附幅符伏浮弗扶腐赋傅抚腹肤甫覆赴咐俯缚拂芙辅斧敷俘袱蝠腑砆脯阜孚驸辐孵馥釜匐凫蜉苻拊黻芾讣復彿茯缶怫涪桴郛蝮複負茀绂趺伕鄜鲋氟菔罘蚨麸膚黼莩冨祓婦跗阝芣缻撫縛绋砩艴賦鵩俛赙岪枹鈇稃輔幞輻巿呋柫紑葍滏髴澓玞帗柎垘俌捬罦頫諨鳆乀仏邞甶妚妋刜坲姇泭咈枎弣坿竎胕衭怤荂韨玸炥畐畉鳬洑郙訃祔峊缹荴尃娐哹袚栿釡袝蚥梻旉紨翇烰琈虙紱紼笰蚹婏偩酜雬殕絥棴盙焤萯媍蛗秿覄詂﨓椨綒筟鳧艀鉘鉜颫綍蜅椱粰箙稪榑韍豧褔禣鴀鳺麩鴔嘸蝜緮蕧駙麬糐踾鮄鮒輹嬔襆癁鮲鬴賻鍑鍢麱簠懯襥鯱鶝鰒
ga ga,gai 该改概盖夹丐咖尬伽嘎芥轧該溉噶钙赅呷垓旮蓋陔尕匄瓂钆荄乢玍匃乫凩忋侅郂釓尜姟峐晐祴畡絯隑絠鈣摡葢魀賅賌豥戤槩漑嘠槪錷軈
gan gan,gang,gao 高感干告刚敢赶稿搞港甘奸钢纲杆尴糕岗缸冈肝膏扛竿皋杠羔罡剛绀肛镐橄诰槁赣篙矸趕岡柑缟幹秆尷睾郜淦杲擀戆藁旰苷玕釭槔桿鋼泔矼坩疳臯槓鼛紺綱櫜汵锆榦暠冮菒祰尲澉槀檺贛仠夰迀忓芉攼㧏吿姏皯衦盰㭎疘牨勂酐凎倝羙峼祮粓笴堈掆崗髙皐凲稈詌骭犅棡焵焹稁筸摃堽筻筶鳱漧罁誥禞槹稾鋯澸橰縞尶檊鎠餻藳鎬魐簳韟鳡贑鷎鷱鱤戅灨戇
ge ge,gei,gen,geng 个给更合格跟各根革哥歌盖隔阁割葛戈颈搁耕耿個胳庚咯哽鸽梗疙蛤羹骼亘給艮埂嗝纥赓鲠舸硌搿鬲铬擱膈哏閤虼绠仡槅箇圪哿閣镉茛犵袼鴿韐亙畊愅乬巪叾扢戓肐呄牫匌佮刯饹茖挌郠敋唟浭莄峺挭菮裓蛒臵揯搄焿絚堩椩滒觡滆塥嗰彁鹒綆暅戨鉻鞈獦縆緪賡羮鴚諽輵骾謌鮯鎶鎘韚櫊鯁騔鞷轕鶊
gong gong,gou 公工功句红共够构宫攻供狗勾购贡恭沟弓钩躬拱巩苟龚垢蚣赣篝诟觥佝媾肱夠觏彀枸汞構宮缑笱珙痀鉤遘廾溝購鞲岣唝耇冓耈雊栱貢塨搆韝厷⺗龷杛芶侊糼糿坸耉玽姤拲袧蚼啂匑鈎豿訽幊愩躳輁嗊詬慐熕煹匔碽鞏褠緱撀髸覯觵簼龏龔
gu gu,gua,guai 家古故苦怪顾姑骨股孤固贾鼓挂谷估瓜乖寡辜咕拐雇刮卦蛊锢诂沽褂呱呱箍汩菇剐鸪梏鹄顧鹘牯痼瞽毂菰嘏觚轱掛鸹蛄罟穀诖榖钴酤盬僱栝崮胍騧羖凅柺剮軱夬苽罛牿罣摑緺颳錮鲴鶻蠱夃冎叧叏杚泒坬柧枴恠唂唃逧笟啒淈崓堌脵傦桰啩軲蓇愲尳詁馉棝祻歄煱絓颪鈲稒鈷榾嗀鼔趏詿罫箛皷劀箉篐嫴縎踻橭鴣鮕糓薣濲臌皼餶轂鴰瀔鯝
guan guan,guang 关光观管官广馆惯贯冠串灌棺逛罐矜莞纶犷關倌鹳觀館咣掼盥鳏胱俇慣銧廣琯涫茪洸桄貫痯珖丱悺筦鰥瓘鸛⺌卝毌広灮炗炚炛覌泴姯垙烡蒄悹祼窤輄僙臦関潅摜遦瘝輨樌黆錧璭舘罆雚獷癏観闗躀臩鏆爟鳤矔礶鱞鑵鱹欟
gui gui,gun,guo 过国果规鬼归贵郭滚桂跪柜龟棍锅诡瑰裹轨闺過圭衮涡炅桧皈癸刽虢國硅聒鲧妫蝈庋掴帼櫃刿猓貴炔椁晷鲑歸珪簋袞規滾呙绲閨鍋蜾鳜宄龜詭馘邽匦軌崞啯辊咶瞆祪嘓丨垝姽袿氿埚磙檜嶲瓌囯亀撌劊膕璝鯀攰陒佹昋囶囻茥恑攱圀胿帰庪匭惃堝菓馃淉惈廆椝媯湀蛫椢猤筀楇鈛腘褁腂郌觤蓕蓘睔瘑墎摫嫢厬蔉緄濄彉漍聝幗蔮慖槨粿綶嬀槻槼螝劌槶緷輥輠瞡樻鮌餜鮭禬瞶彍蟈簂雟鬶蟡癐襘謴懖騩鐹鐀櫷鬹蘬鞼鑎鱖鱥
ha ha,hai 还海孩哈害呵咳骇亥骸虾蛤嗨醢氦嗐駭駴咍胲乤扖妎紦铪烸奤溌餀塰鉿酼噺鎺饚鱩
han han,hang,hao 好行感汉号毫含寒喊韩豪汗浩航憾耗翰涵罕函巷杭郝撼悍嚎酣旱肮颔皋皓炕吭捍憨晗瀚漢鼾壕镐邯灏颢蒿嗥昊菡夯貉號焊濠桁珩沆蚝顸韓邗颃犴嚆蚶焓薅頷闬暵扞迒睅滈魽釬椃谽皞皜薃駻皥乚⺳兯厈屽佄苀毜斻凾虷绗垳茠昦侴秏竓哻唅娢浛圅浫垾猂莟涆蚢笐悎哠恏梒琀崡晘閈貥裄晧淏頇嵅皔絎筕傐鄗甝筨蛿傼馯頏獆聕嫨蜬蔊撖蜭爳獔噑暤鋡澏熯銲鋎魧嘷獋暭澔馠螒薧儫皡曍㘎顄豃雗譀蠔籇鶾譹顥鰝㘚灝
he he,hei,hen,heng 和很行何合黑害喝河恨牙横吓狠呵赫衡嘿哼核痕恒盒贺荷鹤亨诃褐阖壑禾嗨劾嗬涸阂鹄嚇蘅曷颌纥貉珩桁龢翮盍橫姮菏哏鹖賀恆熇闔黒翯覈鶴郃佷峆龁鞨狢拫訶抲咊姀佫盇柇饸籺紇垎欱釛敆盉哬袔涥悙胻烆渮萂啝寉焃脝鸻啈訸惒猲粭楁澕毼鲄詥貈鉌碋嗃煂遤詪閡餄麧熆撗頜潶鞎魺螛篕餲癋謞鴴鵆齕礉燺爀蠚鶡皬鑉鶮鑅鸖靍靎靏
hong hong,hou,hu 和后候乎红胡忽呼戏护湖互厚狐洪户虎後糊宏侯轰核鸿吼喉沪虹猴哄壶雇弘烘蝴葫惚唬浒弧扈逅笏瑚琥鹄泓闳祜鹘紅斛囫瓠讧薨護蕻猢唿訇醐篌怙戶觳滹堠鬍鹕槲轟岵煳芴鲎糇翃楛膴縠壺唝澒鄠黉餬戽虍冱纮吰竑幠鬨鍭吽沍烀谹鞃魟鹱呍抇郈垕焀睺瘊鋐骺翭鴻豰弖戸仜叿妅屸匢芐灴玒汯犼乕汻帍宖苰玜苸泘垀昒曶枑昈垬沗娂荭羾矦茩洉恗轷瓳怘浤紘耾晎訌匫隺俿粐軣硔紭鄇淴虖壷萀婟焢硡揈渹鈜閎粠竤渱葓葒葔帿豞軤絗搰喖媩虝綋谼翝雽楜綔嗀嗀鉷潂閧銗鲘雐嘑寣蔛嘝滸嫭嫮蔰滬摢谾篊銾撔歑箶魱衚槴熩鳸輷霐彋闂頶螜錿鍧嚝霟闀翵餱鮜鍸鍙簄謼鵠嚛齁瀫鯸鶘鶦鰗鳠頀黌鱟鸌鱯
hua hua,huai 话化花华画怀划坏滑哗淮徊槐猾話畫踝桦骅壞砉懷華鲑铧嘩磆劃諣懐譁釪婳夻呚杹枠姡崋婲埖釫椛硴蒊搳撶畵嬅觟糀摦樺誮錵螖鋘蕐槬澅嫿諙褢褱壊黊鏵舙繣瀤蘤驊譮櫰鷨耲蘹蘾
huan huan,huang 还黄欢皇环换缓幻荒晃唤慌患惶恍谎煌焕凰桓宦眩還幌鬟徨璜簧痪寰浣蝗涣遑歡磺潢豢隍黃奂圜肓緩獾換湟郇篁洹環嬛漶喚缳逭驩擐喤蟥萑锾睆轘怳煥鲩渙瑍滉謊鳇讙奐絙澣貆瘓熀熿阛酄巟犿肒狟荁峘衁炾烉宺晄萈梙朚偟奛寏堚雈嵈喛愌塃葟媓崲揘堭綄獂羦楻瑝詤愰锽墴獚榥歓鴅槵艎曂皝澴諻穔癀縨鍰豲餭鍠兤鵍镮鹮藧鯇韹趪櫎鎤糫繯攌騜鐄皩嚾孉懽鯶鰀鰉鐶闤鱑鷬貛瓛
hui hui,hun,huo 和会回活或火戏挥婚获魂混伙昏灰毁惑货绘浑霍悔慧汇虫辉祸恢惠堕徽讳晦豁會秽炜晖贿诲夥蕙卉烩麾诙荤桧馄荟诨睢镬喙彗揮恚蛔洄嚯茴虺藿毀隳阍溷咴迴蠖禍獲貨珲珲蟪翚哕渾輝嘒嚿缋翙諱濩繪穫穢灬惛擭豗謋屶浍葷煇匯慁撝濊燬篲騞攉囬佸袆彙颒锪燴璯艧囘屷灳邩忶吙沎佪廻泋拻洃廽恛芔昬俒钬咟烣蚘烠逥恵圂倱秮俰捇眓閄婎痐涽婫掍秴秳掝喐剨媈隓蛕絵廆阓湏殙棔焝耠鈥湱旤暉禈楎詼蜖滙彚賄詯㱮睧琿煷漷蒦窢睳褘幑誨瘣僡蔧睯蔒睴觨尡噅噕翬潓寭圚憓槥暳劐毇橞嬒獩薈薉徻頮璤閽餛諢嚄鍃奯鮰檓餯藱檅轋檴雘瀈繢瞺嚖懳矆翽譓櫘彟瀖耯蘳譭鏸儶闠曤臛靧鐬矐癨鑊鰴譿顪鼲韄靃彠
ji ji,jia 家己其几给记系加及机即极济集基奇革计纪价击急既际级激齐假继技辑迹积架忌贾吉籍甲鸡寂佳寄季疾姬夹驾嫁挤嘉祭绩肌妓颊饥藉稷讥稽圾剂脊迦嫉伽稼汲棘羁茄戟叽冀畸唧悸伎缉嵇笈髻亟枷矶霁幾戛箕骥偈岌袈玑暨跻瘠機咭觊擊葭記笳蓟畿屐浃珈乩級計繼楫胛荚極紀殛荠蒺嘏赍钾鲫犄傢岬笄跡際雞芰痂戢佶郏铗蛱麂價齑洎積茍夾跽擠蹟跏濟芨剞飢斝頰虮輯劑績恝虀哜楖掎旡駕畟緝濈蕺踖墼姞継羈猳塉瘕鹡撃隮鯚穧羇伋垍揤浹済蔇戞嵴勣筴犌賈漈禝諆潗镓襀襋蹐覬罽鯽譏饑亼亽彑丮刉刏彶忣妀犱﨤泲坖抸扴圿忦枅郆拁泇卽叝皍茤毠郟叚玾觙堲剤紒莢唊斚庴焏偮卙谻鱾梞旣徛耞梜脥喞嵆筓朞湒葪惎臮裌婽徦稘嗘鳮愱蝍趌鬾魝裚痵兾腵鉫蛺跲椵鉀幏嗧銈僟綨緁毄銡耤膌槉魢漃穊稩魥鲚誋槚榎榢觭躸嘰槣嶯蕀箿踑撠諅暩樭頬鋏錤禨璣螏檝橶穄曁薊豭貑鴐糘磯賷簊磼鍓穖薺嚌檕繋鴶檟櫅耭艥蟣璾檵鵋齌鎵鵊韲鶏懻癠蘎鯲廭譤鐖鏶霵轚蘮瀱鱀麚躋鷄鞿魕癪鶺齎鑇鰶鰿鷑霽蘻鑙齏覉鸄躤覊鱭驥雧
jian jian,jiang,jiao 见间将教觉叫强剑件交建江讲较校脚角简渐坚肩尖降健监检践奖减浅箭焦舰兼鉴奸艰娇键僵蒋剪姜贱荐匠骄疆捡郊轿溅嚼胶笺浆搅狡拣矫酱绞煎浇谏蕉椒缴俭绛侥槛剿桨茧間窖缰涧見歼跤皎蛟佼將翦饺礁缄饯酵柬僭睑蹇鹪腳碱較謇醮姣锏講蒹簡犟峤趼洚铰毽犍菅鲛漸堅腱徼缣戋囝湫鞯戬減挢鲣獎笕劍湔搛監樫鑑茭硷谫鍵皦裥噍殭糨繳艦敫賤膠撿艱姦嬌薑磵畺鹣噭檢檻驕艽薦繝漿撟轎殲韁枧豇僬醬剣俴牋検勦僥踐槳耩礓瀸皭鷮茳珓豜箋嘄緘蕑蕳螀澆嶕縑篯諫瞷螿矯繭礛鬋鐗鹼釂匞幵弜夅臫呌戔冿玪姧洊牮茮峧挍訆倹挸珔栫畕烄晈捁笅菺猏惤湕帴梘剱徤袸弶䴔敎窌葌雃詃堿揃揀臶跈寋楗旔葁傋塂絳絞筊瑊椷椾睷碊暕弿瑐絸筧賎豣奨賋煍滘蔪戩榗彅摪翞奬蔣勥滰虠暞摷踋鉸餃漖嘂嘦斠熞鳽儉劎澗糋諓踺趝墹嵹摾憍嶣撹儌徺劋嶠潐熸鋻餞劒劔壃膙膲敽憿敿嬓獥餰馢鞬藆襇襉鍳礀麉橿鳉糡醤鮫穚鵁曒璬鳒瀐鵑謭礆瞼濺擶疅簥轇蟭蟜藠鵳殱鹸鰎瀳譛鏩覵覸繮顜謽櫤譑趭鰔蠒鐧瀽鐎孂譥鰜鶼櫼譼鹻轞鐱韀礷鰹譾籛鑒鱂囏虃襺鷦灚攪鱎鑬韉鑯鑳龣
jie jie,jin 进解结界今接金近尽紧价仅节姐阶禁借介劲街杰皆洁揭晋津戒截劫锦捷谨筋竭斤巾瑾浸藉届襟诫楷桀睫矜诘烬颉嗟芥進噤桔靳偈婕孑結觐碣缙讦拮緊羯堇秸菫僅槿節馑盡傑喈階妗衿荩疥潔儘勁晉廑觔蚧玠骱疖絜钅偼琎卺鲒錦屆赆唶誡劼謹卩溍墐刦衱侭倢祲湝堺璶狤訐痎袺搢瑨殣燼卪尐丯仐伒劤刧岊杢昅岕庎吤疌刼毑釒枃兓迼砎畍衸荕巹浕砛莭悈桝珒紟矝掲菨崨掶媎徣惍唫喼媘嫅堦椄脻蛣媫釿堻煡琻煯鉣嵥搩滐詰蜐楬楶觧飷楐琾蛶厪寖稭鞂榤蓵犗嫤漌蓳蝔擑镼鞊頡誱踕褯魪璡黅鹶歏凚僸幯縉賮濅嶻擮鮚礍鍻檞鎅濜嚍藎嬧壗謯癤巀覲蠞饉鶛蠘贐蠽齽
jing jing,jiong,jiu 就经九究精竟惊久酒景境京静旧救睛警劲敬镜靖净径竞晶井纠舅荆鸠揪阱疚窘炯咎兢婧迳菁迥茎憬鲸臼炅經旌泾鹫靓痉啾胫厩柩灸赳驚韭儆靜舊玖阄競扃鏡湫璟粳淨刭浄桕駉僦獍鯨逕鬏糾冏冂坰徑樛肼泂穽褧牞鳩荊頸氿匛糺凈熲鷲涇莖倞镹廐靚鼱丩乆勼乣丼冋朻汣奺巠坕坙宑汫坓妌囧杦汬弪舏亰秔剄俓婙逈侰柾弳埛浻紤倃婛猄旍経殌竫桱梷脛烱絅萛匓稉葏腈竧痙颎煚揂韮廄䴖傹綗揫綡聙頚誩踁僒煛摎廏幜澋璄慦璥憼暻曔橸駫澃殧瀞顈燛蟼鵛麖鶄鶁蘏蘔鯦麔匶齨欍竸麠鬮
ju ju,juan,jue,jun 觉且军句车绝决具脚据居角举剧君局卷巨均圈聚距惧拒俊俱爵柜龟掘钧矩倦拘娟菊郡诀峻嚼骏捐眷筠鞠鹃沮菌阙抉崛厥绢咀倔锯覺隽隽驹橘踞炬攫遽桔涓浚掬撅蛆狙镌谲獗蹶钜倨飓竣踽雎噱趄劇噘裾絕珏龃讵決舉狷锩矍軍莒據蕨疽橛枸蠲苴苣桷捃榘麇捲鞫爝琚榉屦蹻鄄椐濬鴂鳜孓皲劂窭锔醵懼玦畯睠儁侷砄絶镢秬捄悁罥罝訣駃鐻劵焗珺筥麕岠匊昛砠倶椈鉅鈞虡跼屨簴屫蹷籧弆泬巻袓觖赽跔椇腃傕覚蒟絹蜛皸蜠駒踡頵颶臄鵙櫸鐍亅孒凥刔氒抅邭姖洰怇奆芵弡汮呁泃岨泦歫拠呟玨狊姢帣疦虳挗袀姰陖陱毩挶眗挙蚷耟粔埍勌桊捔蚗欮莙蚐馂埈梮涺崌娵婮郹啹婅淗詎埧埾焆朘菤淃瓹斍覐崫趹桾焌晙毱跙腒湨犋裐睊絭鈌焳趉葰棞雋輂犑豦碅艍䴗閰粷寠愳駏﨔勬慻蔨瑴覠銞皹銁箘箟賐躹諊踘鋦趜聥鮔勮鋑餋撧鴃瘚爴觮噊蕝熦憰嶡嶥鲪寯懏餕鴡鮈澽懅窶壉鋸錈臇獧憠橜燇檋駶擧鍕駿繘貗鎸羂屩櫭蟩蟨鮶麏鵔鵕鵘鶋鵴蹫譎爑攈鶪鼰巈蘜齟躆鐫鐝匷欅讂觼灍鼳襷攟戄玃彏鷢䦆矡驧貜躩钁
ka ka,kai,kan,kang,kao 看开考靠刊卡康抗堪凯砍慨咖坎烤喀咯侃慷扛勘楷開恺拷亢炕槛铐瞰铠咔揩龛锴糠忾伉犒凱戡尻剀闶阚銬闿钪衎砊锎栲凵忼垲熇胩丂嵁鏮犺洘欬崁愾鎧龵凧冚匟邟攷佧囥炌垰奒桛烗栞莰粇裃閊勓偘惂剴蒈嘅欿閌鈧鉲綛嵦愷塏輆歁嵪聢暟墈嫝嵻漮鲓輡槺髛廤磡穅鍇鮳鯑闓鎎顑躿鯌鶍颽闞鐦轗竷鬫鱇龕矙
ke ke,ken,keng,kong,kou 可口克空科刻客肯恐孔课控呵柯颗扣渴咳坑棵磕珂壳恳寇恪叩苛啃吭坷铿垦轲蝌抠窠崆瞌嗑颏蔻課溘疴箜倥顆锞稞岢髁殼芤缂蚵鞚裉懇筘氪鏗硁釦钶衉摳殻愙薖榼墾砢痾搕瞘礚厼肎阬劥妔匼迲肻劶怐牱牁炣勀勊峇眍敂趷娔挳宼冦渇骒堁硛掯硍牼涳埪悾軻萪翗揢敤嵑愘嵙硜窛犐鈳兡豤貇褃硻硿剾碦誙摼彄蔲滱樖頦嶱緙艐銵躻錓瞉錁穒錹醘鍞簆騍礊鯑鵼鷇
ku ku,kua,kuai,kuan,kuang 会快苦况块哭狂宽库款裤酷夸枯跨框旷矿窟筷眶垮匡骷脍筐胯挎侩狯蒯诳邝哐诓哙況塊绔喾褲髋圹刳袴侉誇贶庫堀寬楛鲙矻劻郐絖窾曠纩夼欵浍恇誆抂桍舿擓懭礦巜凷圦狅忹郀狜㧟邼岲俈咵姱洭匩昿秙趶眖砿焅萙欳梡硄軖軠絋圐跍絝貺軦瘔寛歀筺軭鉱銙誑骻墤鄶儈鋛廥澮獪噲窽儣鄺鮬膾壙黋臗鵟爌懬鶎糩旝穬矌嚳纊鑧鑛髖鱠
kui kui,kun,kuo 归括困阔扩昆亏愧溃窥魁坤廓捆奎盔馈葵睽逵夔匮喟傀琨揆聩鲲馗篑髡隗崐阃岿暌锟愦焜悝蝰蒉蛞窺虧跬悃栝骙睏頍騤崑綑堃闊裈褌櫆擴鞹潰鵾巙菎喹媿髠鹍匱餽饋䙡刲拡尯挄晆涃鄈晜猑壸梱祵堒稇硱裍筈萿葀戣楏楑煃裩稛壼磈蜫髨潉聧蕢嬇嘳憒聭䙌醌瑻熴閫頢頯謉殨膭錕閸髺鍨鍷藈韕鞟濶顝蹞簣聵騉霩闚鯤籄鶤巋蘷鬠虁犪躨
la la,lai,lan,lang,lao 来老拉落落兰劳郎啦莱浪蓝朗烂赖狼牢腊络拦懒栏廊览辣姥滥來喇蜡澜垃岚篮捞琅揽螂婪阑唠佬烙啷潦剌癞癞籁睐缆酪斓褴榄獠邋徕痨榔蘭濑涝醪阆爛藍旯臘懶谰崂锒涞赉蒗賴崃籃嫪莨勞欄攔瑯稂栳瘌覽籟萊罱撈濫癆蠟唻嵐硠嘮鎯擥咾砬桹嫏铹賚頼闌騋嬾镴癩瓓攬耂凩労勆柆俫郞郎窂荖狫恅倈郲浨欴崀埌浶哰珯菈翋梾徠逨庲婡猍崍淶萙惏蓈斏朖烺铑硓揦溂铼棶琜筙葻閖粩搚楋揧睞蜋艆筤郒蓢塱嗠耢蝋辢箂漤躴樃誏僗銠蝲賫醂鋃閬嶗澇憦躼磖臈錸儖覧壈燗朤憥橯朥鞡鮱顂镧襕懢燷燣嚂磱藞鵣璼爁蟧簩耮鬎攋爉麳鶆鯠藾瀨瀬襤幱譋轑軂嚹瓎櫴鯻繿蘫瀾灆孄鐒顟襰斕襴髝鑞灡囒籣孏讕躝欗灠爤襽鑭爦欖顲糷纜钄韊
le le,lei,leng 类乐冷雷泪勒勒累愣蕾垒楞磊棱肋肋擂儡類樂镭羸淚耒诔嫘嘞酹礌缧叻泐罍藟楽睖稜仂涙漯壘礨塄檑纍竻傫樏癗颣櫑瓃鐳阞忇艻扐氻朰玏厽洡砳唥倰堎絫塁榁誄碐餎韷蔂銇畾蕌頛頪踜磥錑薐簕縲攂鳓櫐矋礧蘲蠝灅纇鰳轠蘽讄蘱鑘靁儽壨禷虆欙鱳鑸鸓纝鼺
li li,lia,lian,liang,liao 了里理两力立历利连脸离量李联料例礼亮丽良练厉梁恋凉聊怜俩俩莲黎炼辆疗璃励隶廉谅粮莉僚帘辽吏链粒寥漓梨狸栗哩琏敛廖涟厘撩踉篱裡缭俐沥雳潦犁蠡戾兩笠晾撂粱镣鲤砾镰荔鹂俚靓連燎禮砺臉骊俪離獠痢罹殓蓼椋濂藜奁唳嘹郦溧寮裏蛎逦魉喱醴詈練莅厲栎麗呖涼戀娌潋嫽枥倆楝瞭鬲傈嫠澧疠聯蓮蜊篥歷簾缡臁鹩黧裣諒勵鍊憐輛尥莨粝釐蔾樑裢隷斂猁蠊靂疬轹悢慄療鳢锂璉鲢隸礫鐮跞暸喨蔹緉醨鏈斄屴苈坜涖蓠鲡憭钌苙漣暦憀漻褵糧繚瀝纚砅唎倞悷豊蒞煉貍膋犛匳遼曆歛鎌蠣瀲欐穲鸝刕礼朸両叓尦沴岦炓峛峢赲茘栃俍剓荲峲悧珕栛浰娳秝凉唡哴釕梸琍悡菞蚸婯脷梿啢掚犂棃裏棙凓厤蛠堜僆萰媡湅辌脼湸尞艃筣剺鳨睙鉝厯蒚搮塛甅睝粴魞慩亷溓嗹摙瑓裲輌鄝孷樆盠歴瑮綟蜧聢竰匲奩槤熑覝墚蜽嵺鋫鋰蝷糎聨聫磏褳劆噒嫾輬嶚嶛敹縭錅鴗濓薕螊聮縺翴嬚澰錬鍄璙膫橑窷謧蟍巁濿檪鬁磿癘謰蹥燫櫣鄻殮駺魎竂嚟邌鯉犡爄蠇櫔曞禲擽儮鯏鯐襝蟟簝賿豂蹘廫藔屪瓈鏫鵹鯬蟸嚦攊藶瓅櫟壢礪瀮羷蹽爎镽爏糲盭櫪瓑皪鬑蘞蘝鰊爒飂髎鐐蠫灕囄蘺酈儷癧礰麜鷅鰱飉孋廲邐轢觻躒囇攦劙鑗讈轣籢籨鷯籬鱧瓥攭鱱欚靋驪纞鱺
lie lie,lin,ling,liu 流林六留令领灵另陆列刘烈临柳凌裂零玲龄陵溜猎菱铃劣邻淋琳霖凛岭碌麟咧伶拎琉鳞棱聆浏绫吝榴翎瘤冽躏硫羚磷粼苓泠嶙劉呤遛赁靈趔蔺绺馏遴囹洌瓴鬣棂廪領骝懔捩蛉鎏鈴辚臨旒镏璘蹓埒獵熘酃鄰凜燐鹨镠檩躐罶醽袊淩飗霊鲮瀏齡隣蔆瞵擸柃栵鸰猟啉崚琌粦軨瑠潾嶺駵霤斿菻舲锍膦澪疁懰餾雡櫺鱗轥厸阾刢劽坽夌彾姈狑岺畄挒茢迾姴挘恡朎昤炩栁桞珋浖埓哷烮冧悋皊秢竛砱羐䴕崊掕婈紷衑笭旈桺翏蛚晽焛詅跉祾畱裗聗煭碄亃賃裬蓤閝蒥蓅媹嵧廇塯箖隣僯綾綹巤颲獜撛輘駖澑瑬磂駠鹠鋶熮暽斴澟懍廩橉甐閵鹷鴒魿霗錂蕶橊璢橮磟鴷鮤儠疄檁燯霛霝齢癅蟉繗翷麐癛癝麍鎦嚠藰羀嬼犣轔蹸藺鯪鏐飀鏻瀶壣孁蘦騮鐂飂鬸飅鶹鰡驎驑鷚鬛躙鱲躪麢欞爧龗
long long,lou 楼龙露弄隆笼漏搂陋胧拢垄咙聋珑娄喽髅陇窿篓垅镂樓偻栊龍蝼茏泷眬砻蒌髏嵝嚨摟籠聾瘘耧癃矓朧攏竜哢婁慺廔瞜巃瓏昽梇屚湰溇滝漋槞嶐漊蔞遱嘍嶁塿䁖熡甊篭篢瘺瘻耬艛螻簍軁謱鏧霳隴儱鏤巄瀧蘢壟壠徿鞻爖櫳曨襱礱礲龒竉鷜龓豅躘蠪蠬靇贚鑨驡鸗
lu lu,luan,lue,lun,luo 论路六落罗陆乱露鲁洛录伦卢绿轮逻络鹿仑炉裸沦芦骆碌庐禄咯虏萝螺戮泸噜璐颅卵烙锣掳漉骡蠡麓啰赂鸾抡纶卤峦挛栾捋鹭盧辘孪摞魯蓼箩論蕗銮囵亂橹鲈荦撸娈渌潞猡珞滦雒羅逯胪椤垆硌脔輪錄辂鸬轳舻囉蠃箓簏倮嚕陸爐倫醁瘰邏栌絡擄蘿跞氇镙虜艣顱漯穋廬鏀甪泺掄淪崙琭僇盝镥臝囖峍圇磮謢蘆覼罏攞攣鸁髗籮鑼圥寽芲枦侓彔坴侖剆峈舮勎焒釠陯洜玈鹵娽菉淕淥硉閊脟畧菕婨崘埨惀脶硵椂祿鈩棆腀腡硦笿勠剹稑睩賂輅稤碖稐溣嗧蓏詻馿蓾滷塷粶蔍廘摝塶蜦耣綸犖魲澛樐熝樚膔踛趢鋝鋢踚躶磠録錴錀頱駱穞螰鴼鵉鵅鮥鮱擼瀂蹗騄轆簶濼璷壚瀘嚧獹攎氌櫓簬簵鏕鵦鵱鯥鯩覶鏍櫨曥瓐臚矑鐪艪騼鏴騾儸艫籚蠦纑籙巒孌奱孿圝玀鑥轤灓欒曫欏驘曪鑪鷺虂羉臠纙圞虊灤癳鱸鸕鑾饠黸癴癵鸞
lü lü,lüe 律略虑率绿旅吕掠屡缕侣履驴滤捋闾褛榈偻铝膂氯綠慮侶屢藘锊緑縷驢稆閭濾呂郘挔捛垏梠祣絽葎嵂僂鋁圙膢氀膟箻褸膐儢繂勴櫚爈櫖穭鑢
m m,ma,mai,man,mang,mao 马吗满妈忙慢毛买骂漫卖姆麻曼貌矛摩冒嘛麦猫玛茫码脉埋埋抹蛮芒迈帽茅盲瞒贸莽茂氓蔓髦蚂馒嗎蟆卯幔蟒锚懋谩滿霾袤耄瑁媽馬缦買旄劢鳗昴牦罵貓碼颟邙蟊呒蠻峁铆漭賣瞀熳瞞麥邁螨泖瑪饅脈茆嫚墁硭螞駡鞔杩呣荬铓満蝥犸祃杗芼厖莾貿痲鄤蔴樠錨霡孖尨溤镘霢鰻龴亇冇冃夘吂汒佅売牤杧皃盳枆戼冐毟閁笀恾柕眊唛唜悗娨屘庬哤娏狵浝罞牻釯軞酕渵笷覒傌衇痝硥茻堥鄚萺媢痳獁睰僈蛖壾楙鉚蓩毷暓愗嫲嘜禡榪勱摱慲蔄獌鋩鉾鄮犘魸嘪蕒槾氂髳蝐蟇澷襔薶蟎縵駹蠎鎷謾鏋鏝蘉鶜鬕顢鷌鰢鬘鬗鷶矕
me me,mei,men,meng 们么没美门每梦妹梅蒙猛眉孟盟闷媚媒枚玫魅昧谜萌朦霉氓煤沒們嵋湄寐楣門懵汶糜懑袂檬莓扪虻濛悶酶蜢焖夢镁锰黾矇蠓勐甍沬浼瞢亹掹艋艨镅眛甿幪曚黴郿渼痗抺猸韎鋂儚鎂饛庅尨钔脢禖鹛睸鄳璊燜懞濹乄匁扖毎坆苺玧栂凂祙脄挴羙閅莔冡珻菛捫睂堳湈葿嵄媄跊鬽椚腜瑂楳媺煝溕槑塺夣嬍蝞篃暪蝱鄸蕄橗燘躾穈鍆擝錳獴懜嚒鎇徾氋嚜懣鹲礞鯍霥嚰黣鯭攗鶥矒霿靀顭鼆鸏虋
mi mi,mian,miao 面密免迷米秘妙描庙弥勉绵苗眠蜜秒棉谜咪缪眯渺觅靡瞄宓缅冕缈泌喵藐谧糜瞇腼弭湎邈淼麋娩汨眇丏祢祕猕沔眄蘼麵杪渑醚縻幂芈敉瀰謎靦釄綿宀糸嘧麪冖覓沵俛廟麿沕脒渳鹋彌覔勔謐靣洣偭蓂櫋汅芇杣劰羋侎怽鼡峚竗玅宻袮粎淧裃婂媌庿蒾葞椧媔葂喕睌愐詸幎覛塓蔝銤榓鼏蔤滵漞熐緢嫹冪樒臱蝒緜緬澠麫糆緲篎幦濗麺麊藌擟濔嬵禰簚櫁羃檰鮸矈矊鶓麛獼蘪嚸矏镾戂攠瓕孊灖爢欕醾醿鸍
mie mie,min,ming,miu 明名民命灭敏鸣冥谬铭蔑缪悯溟闵闽抿泯茗瞑皿玟暝酩咩篾岷乜滅珉螟缗愍黾旻湣蠛鳴銘謬閔忞惽痻憫幭眀罠蓂吀冺刡忟苠姄怋旼垊佲旀盿砇敃勄洺姳哶孭烕崏捪笢笽眳朙掵琘琝黽鄍凕搣瑉碈鈱敯暋嫇猽詺慏緍閩僶榠緡潣慜薎鴓錉鴖瀎懱鍲覭櫗簢礣鳘衊蠠鑖鰵鱴
mo mo,mou,mu 没无目万母木某模模莫莫魔默末姆麽摸谋摩冒幕慕墨磨嘿穆脉抹漠墓陌牧寞暮沫姥缪眸沐蓦膜麼摹袜牡嬷拇谟牟牟亩茉募睦殁蘑獏馍秣嫫侔哞鍪苜謀瘼貊蛑镆貘仫糢鉧呣驀劘坶幙靺霂繆钼楘謩嚤丆匁厼乮圽狇妺帓歾歿劺畂炑尛枺昩帞恈畆畒峔牳胟莈皌砞眜眿毪砪畝畞毣莯蚞絈眽裃酛貃蛨畮雮塻嗼慔鉬榁銆踎氁踇暯魩黙嫼瞐瞙魹艒橅縸謨嬤懡麰鴾擵饃蟔鏌藦鞪爅髍癦纆礳耱饝囕
na na,nai,nan,nang,nao 那难内男南南哪哪拿脑纳乃奶闹奈耐恼喃娜囊呐楠挠衲捺囔瑙淖難腦呶鼐钠氖囡赧猱孬吶納曩铙囝艿迺馕惱鬧攮拏柰蛲撓腩萘镎戁佴垴峱怓硇脳蝻肭軜嗱碙灢凪乪妠疓乸郍廼抩枏柟侽袦倷釢莮畘娚悩雫笝豽匘貀鈉腉渿萳揇湳婻遖詉堖靹蒳暔煵嫐閙搻碯魶魸褦噺螚錼諵擃嶩憹孻嬭鎿嚢蟯獶臑譊夒鐃獿巎蠰儾欜饢齉
ne ne,nei,nen,neng,ng 那那能内哪哪嗯嫩呐唔讷恁內馁訥鯘丆匁疒抐鼡氝氞娞眲脮腇嫰縇餒錗鮾
ni ni,nian,niang,niao,nie,nin,ning,niu 你年呢念娘尼宁您牛妮凝鸟泥匿扭纽逆拟捏妳聂腻尿涅孽粘酿霓拈倪妞溺溺狞拗廿辗拧袅睨黏钮蹑捻捻昵嗫碾撵柠佞啮泞辇咛兒忸怩旎镊臬蔫乜鳥猊囓鲇鲵唸蘖嶷伲镍嫋撚甯寧狃膩暱麑嬲囁嬢茑紐擬陧鲶哖躡鈕苧嬝颞薿擰杻枿惄蜺檸屰坭苶侫柅铌埝脲寜臲獰嚀闑齧糵郳眤淰惗湼嵲摰攆聶聻孃卄牜囜氼帇伱圼汼苨狔抳秊秊炄籾胒哛姩拰秜屔秥涊痆脌倿莥淣婗蚭埿掜堄隉菍聍棿跜晲焾揑敜寍寕鈮孴愵嫟鳰裊寗靵馜聣艌蔦踂輗觬貎縌誽輦樢踗踙噛槷澝隬儗儞鮎褭嶭篞錜儜橣嬺簐蹍薴嬣濘檷嚙鎳鯢鯰蹨孼矃醸櫱籋聹躎鑈巕蠥糱鑏齯釀鬡臡讘鸋鑷顳钀
nong nong,nou 农弄浓哝脓侬秾耨濃噥農襛儂癑挊挵槈辳蕽膿燶檂禯獳穠鎒檽鯑繷譨醲羺鐞欁鬞齈
nu nu,nuan,nun,nuo,nü,nüe 那女怒诺奴努暖娜虐挪弩懦喏糯呶疟傩驽諾孥搦恧钕胬衄锘籹砮懧奻伮沑衂莻梛朒笯逽掿釹傉渜愞搙煗榒稬駑蹃橠鍩糑餪糥穤黁儺
o o,ou 区欧偶哦呕噢殴鸥藕讴瓯怄耦沤歐毆蕅嘔丆仒乯吘迲猠硛旕筽鳰腢塸慪漚縇熰鴎甌膒穒謳藲櫙鏂纐鷗
pa pa,pai,pan,pang,pao 怕派派般旁跑排判拍仿盘迫番牌伴爬胖胖抛炮叛袍膀泡盼庞帕潘攀拚畔趴彷啪扳徘琶扒咆叭磅蟠拌乓湃蹒庖刨耙磐滂螃俳爿杷葩拋盤泮匏槃疱狍袢逄砲徬耪龐炰哌襻筢磻舥跘柈脬嗙眫掱麃蹣霶丬汃妑帊沠冸沜厐苩坢炍炐肨垉奅皅巼眅洀牉爮袙胮皰猅渒萠萢袌棑蒎詊雱舽軳喸蒰幋媻溿嫎箄搫頖膖鞄靤潖輫鋬褜䎬縏麅麭鎃闏覫簰簲鎜瀊鵥鳑鞶龎髈礟鰟礮鑻
pei pei,pen,peng 朋配碰陪佩培鹏喷捧彭盆裴蓬赔砰霈篷膨棚沛怦呸抨烹澎胚嘭辔噴堋帔珮旆硼芃醅踫湓濆賠锫蟛梈蓜阫伂犻匉怌肧瓫呠泙俖姵斾恲竼衃浿莑倗捀喯硑弸袶淎皏掽毰葐軯椖椪閛剻搒塜塳傰稝裵馷漰樥熢槰駍憉輣輧錇歕磞錋篣韸髼翸鬅蟚纄蘕韼鵬鬔騯鑝轡
pi pi,pian,piao 被便片篇批否皮偏飘票骗漂披朴屁匹疲辟脾劈扁譬僻啤翩琵癖嫖霹瞟丕缥骈瓢痞裨剽媲毗睥噼坯褊骠枇纰陂砒谝邳圮嚭蚍鼙貔罴殍胼郫騙仳埤甓飄吡莩蹁淠伾嘌庀陴芘狉澼秠蜱慓羆闢铍膍駓擗鸊狓紕豼釽犏錍螵伓阰苉囨炋枈抷岯肶迲毘秛悂旇耚翍蚾蚽崥脴覑豾鈚焷腗椑揊媥腁缏貵鉟鈹鲏嫓楄楩賆跰勡僄銔銢稫潎彯徱髬磇隦魮鴄諀嶏骿錃魾鮍壀駢諞憵篺螷鵧噽旚翲薸縹篻鎞礔礕䴙騈醥騗犥闝疈鶣飃魒顠皫驃鰾蠯鷿
pie pie,pin,ping 平品评凭冯贫瓶拼屏频苹拚瞥聘萍撇坪乒娉娉颦嫔姘牝枰蘋評憑鲆貧俜苤呯洴荓嚬胓軿暼丿砯幈榀凴顰朩氕汖甹玭郱岼砏玶帡娦涄蚲帲淜屛覕琕聠艵蓱蛢缾甁塀焩嫳竮撆頩箳慿鮃嬪薲檘簈鐅礗穦矉馪驞
po po,pou,pu 破普婆暴颇迫扑繁铺朴朴谱堡坡魄泊仆泼剖浦菩葡蒲瀑噗珀圃脯曝璞粕溥匍濮叵埔鄱陂莆掊裒鋪僕頗蹼皤钋潑撲抔攵笸譜桲氆酺攴垺痡樸舖钷酦圤廹抙岥尀岶乶咅抪炇洦敀昢哛陠巬哛釙䥽砶烞娝捊哣婄烳湐犃菐鉕蒪蒱圑蔢嘙箥箁暜駊潽墣獛諩舗醗擈穙镤瞨檏镨櫇鯆醱嚩贌鏺鏷纀鐠
qi qi,qia,qian,qiang,qiao 起前其气将期强七奇千钱齐器瞧卡枪企巧弃启妻墙骑抢恰悄岂乔旗潜桥浅牵迁欺敲汽乾凄契签欠戚棋谦漆遣歧祈歉腔泣乞纤倩雀祁稽俏壳绮琪茜迄栖鞘虔窍侨谴铅掐翘崎嵌跄峭憔呛砌蕉蔷碁缉蹊洽钳樵亟羌跷俟琦祺氣麒淇锵杞撬耆憩戕脐骞強黔岐萋圻堑芊诮锹钎嘁橇沏讫钤阡襁谯颀畦錢箝豈椠樯峤佥愆欹搶荠葺缱骐掮碛綮槍悭荞綦犍荨蕲牆屺棄仟愀鳍芡戗啟褰蛴搴祇牽嫱簽扦淺蹺淒齊騎萁炝芑镪棨柒慊彊橋芪旂跂锜亓汔悽肷袷鞒艩潛鉛竅硗嗛籤気埼槭墻譴攲靬蒨錡缲翹玱愒蜣蹌髂咠桤軝棲敧喬锖嗆僛燋鏘疧羟葜遷懠伣斨碕頎鉗踦廧謙騏臍趫鬐丌汧帢荍硈棊愭墄緀蜞劁僑誚縴繈蹡繾繰顦邔刋迉圶奷汘圱圲仱忯岓玘盀呇芞矵岍杄茾岒扲忴亝斉肵呮炁盵拤冾欦臤拑竏峠胢拪乹俔粁羗陗郪倛剘陭蚑蚔蚚斊竒唘訖栔欫蚈谸歬悓猐唴帩娸捿桼釮萕帺猉掑啓啔婍唭殎釺婜孯軡偂揵啌郻菬硚釥紪晵湆湇夡嵜酠跒掔鈆亁媊葥鈐棈傔溬嗴獇椌傶褀鬿﨑滊褄鹐僉皘羥鄡鄥慽榿綥粸蜝綺摖暣甈碶撁慳銭墘榩膁蜸槏塹蔳綪羫牄瑲戧嶈摤墏熗勪踍毃槗髚慼璂禥憇噐擖鞐厱諐蕁羬篏儙槧蔃漒骹頝墝墧蕎嘺嫶僺霋鲯諬磜磧磩螧橬篟輤篬薔嬙墽燆幧犞撽韒魌藄鄿濝藒顅黚壍嬱鎆謒檣磽鍫鍬癄礄檱櫀簯簱檶騝鎗繦繑髜鞩鏚鶈鵸鶀鯕蘄闙蟿罊櫏攐攑鵮騚濳鏲艢趬譙櫵藮蠐鐑籏騫攓蘠鏹鐈躈騹鰭籖灊鰬羻鐰鞽玂鬜鬝韆麡
qie qie,qin,qing,qiong,qiu 情清轻亲亲且求青切请秦秋球倾仇穷庆琴晴侵勤琼丘寝龟卿钦窃擒倩怯囚裘妾禽顷伽芹茄砌沁邱矜酋擎穹惬虬蚯衾蜻俅锲輕糗磬揿氢覃噙請趄罄箧挈遒鳅親邛逑泅茕綮蛩嬛氰湫黥傾芩溱楸慶跫檠吣筇窮毬廑骎慊謦竊剠锓螓檎訄寢銎蝤嗪嵚觩鲭犰勍氫朅箐懃圊惸璆駸虯蛬媝綅絿鹙鍥癿逎頃赇欽寑巯崷廎篋嶔銶澿鮂鞦龶卭叴芁扏玌宆丠朹肍汓庈坅吢抋厒肣昑靑夝苘坵匧甠桏䓖恘秌訅觓悏洯蚙菦埐珡耹笉唚郬凊恷釚唒莍浗紌淁笡捦菳赾梫菣寈淸埥啨殑庼掅殸硘笻赹梂殏釻頄蛪愜媇鈙鈫雂琹軽棾葝䞍焪焭舼萩渞湭盚皳嵰靲嫀搇暒碃睘煢熍湬蛷煪搝誛慬靘蓲巰賕踥嶜鳹斳鋟撳䝼擏樈漀瞏蝵緧篍懄瘽錆憌橩璚儝趥穐醔鼽穕顉螼濪儬藑䲡鮼蠄檾藭瓊竆鞧蟗鯄鯜寴鵭藽瀙鯖櫦蘒蘒聺鶖鰌鰍蠤龝鑋瓗鰽
qu qu,quan,que,qun 去却全确取权群区卷曲趣缺拳圈泉劝屈趋驱娶裙躯雀犬鹊渠觑诠券阙瞿榷痊荃蜷卻阕瘸蛐岖蛆铨衢芍祛颧確绻鬈逡筌璩阒黢龋癯劬蕖诎苣炔蘧權麇悫悛區佺蠼犭囷朐醛趨麴鸲棬惓碏軀氍覷畎辁勸驅袪慤胠弮埢粬闋臞籧佢伹牷宭硂塙搉綣踡髷磲麮麯騡厺犮匤阹佉刞夋岴抾坥呿奍浀斪胊姾峑洤恮菃竘衐烇牶缼崅埆帬峮紶焌絇翑淭耝婘啳琷煀詘筁葋軥詓圏椦葲湶絟犈硞棤趍瑔輇觠詮搼跧勧楾蒛皵羣裠駆憈嶇竬箞銓愨敺駈誳麹璖蝺閴権韏碻趞魼鴝螶駩縓蟝鼁闃鳈闎燩覰鼩闕礐鶌鵲覻鐉鰁巏忂灈齤礭鰸鱋戵爠欋蠸虇蠷欔齲躣鑺顴鸜
ran ran,rang,rao 然让染绕扰燃饶嚷壤攘冉苒讓髯娆荛穰桡瓤禳擾繞瀼蚺饒冄呥蕘肰姌衻袇珃袡蚦媣髥隢嘫嬈遶橪壌橈襓繎穣勷儴蘘獽懹譲爙躟鬤
re re,ren,reng 人认任若仍热忍仁刃扔惹韧仞壬喏認熱饪纫稔荏轫衽妊葚艿亻紝陾牣礽紉刄讱仭辸朲忈屻芢忎秂纴杒肕芿祍姙荵栠栣軔訒秹袵梕腍絍鈓飪靭靱韌魜銋躵餁鵀
ri ri,rong,rou 日容肉柔荣蓉融茸揉绒溶戎熔冗蹂榕嵘糅鞣榮镕肜蝾輮狨絨瑢厹鍒鎔乤禸乬宂乫乮乭驲坈宍囸乶衵乽乼乺挘栄茙毧峵粈釰釼烿傇脜鈤媶搑傛羢軵葇媃渘搈嵤嫆榵楺瑈腬煣馹穁縙褣槦穃蝚螎駥氄艝嬫嶸爃韖瀜騥瓇曧蠑鶔鰇鑓譳虄
ru ru,ruan,rui,run,ruo 如入若弱儒软瑞辱锐润汝乳阮茹蕊睿孺偌蠕褥嚅濡闰芮缛蕤襦朊枘軟銳溽箬潤蚋挼洳蓐爇緌叡醹鄀汭耎婼堧薷壖帤挐蒻颥邚扖杁叒肗侞桇铷袽偄桵捼渃焫渪筎鄏媆甤閏楉蒘嗕媷瑌腝蜹閠嵶銣碝蝡蕠撋緛蕋鋭鴑縟輭橤橍膶篛鴽嬬擩嶿曘瓀繠礝蘂蘃壡鰙鰯鶸顬鱬
sa sa,sai 思塞萨赛撒洒腮飒卅仨賽鳃噻灑薩靸潵扨苆钑乷栍訯脎毢鈒愢揌馺摋隡毸嗮蕯颯嘥僿櫒顋簺鰓躠虄
san san,sang,sao,se,sen,seng 三色散参塞森僧丧扫桑骚瑟嫂涩嗓叁伞燥搔啬臊搡穑毵埽喪糁颡缫傘馓掃騷瘙澀摵铯譅騒慅嗇槡襂氉璱鬖壭弎俕桒乺洓栜掻渋雭毶閐溞歮椮厁閪歰銫毿犙磉褬澁縇槮螦濇濏擌懎瘷糝繅鳋糣糤繖鎟颾矂瀒穡鏒顙繬鏾饊鰠轖穯鏼飋鬙髞鱪鱢
sha sha,shai,shan,shang,shao 上少山色杀伤单商尚善沙闪赏绍烧汤稍傻莎衫禅珊刹扇删晌煞霎纱擅啥奢厦哨晒邵陕梢鞘姗砂讪杉杉栅勺煽掺噎韶鲨膳筛跚觞捎熵閃裟赡殇嬗掸膻傷嗄挲芍潸殺缮汕劭苕苫艄铩歃杓剡燒舢鳝芟鄯紹蟮墒賞痧绱桬搧疝骟筲曬唼酾鯊訕垧睒蛸儍柵紗箑潲羶蟺贍彡刪钐姍痁墠掞幓慯樉篩禪丄邖圸卲尙狦挻陝炶恦柖玿唦猀粆倽脠軕赸扄莦弰袑娋萐帹啑笘釤硰喢傓晱椫焼萷睄摋蔱廈翜剼煔銏禓旓綤榝翣嘇熌僐蔏滳漡緔輎樧魦閯澘覢墡䦂䥇殤蕱閷樿敾歚鋿髿簁鯅縿檆磰謆螪鞝髾鯋鎩簛羴繕觴謪鮹繺鏛鐥饍騸譱鬺灗贘鱓鱔鑜籭
she she,shei,shen,sheng 生身什声神社深甚谁设参胜圣叶伸折舍盛射省升审乘涉沈剩蛇拾舌申绳牲摄慎渗奢笙赦呻绅慑婶聲肾麝甥莘哂赊蜃聖昇佘設歙晟娠畲葚勝渑厍捨诜矧砷糁嵊谂眚渖審繩眘猞揲瘆胂攝椹滲狌紳燊甡脤駪罙陞阇懾侁畬渻韘嬸穼腎貹騇扟屾邥阩弞呏斘舎籶冞妽矤枡泩苼虵厙柛氠珅姺籸侺昚珄殅竔峷眒谉涁陹晠曻渉涻敒訠祳堔偗剰﨡畭蛥弽兟訷棯裑葠湦焺輋滠摂蓡罧詵鉮愼蜄榊鉎琞賖賒蔎慴甧蔘墭榺糂諗頣魫鋠憴縄蕂檨鲹薓曋瘮橳曑瞫鍟繉賸蠂鵢鯓瀋鼪鯵鵿譝鰰灄欇鰺讅覾籡
shi shi,shou 是时事手十实什世使史诗师受识似士式始失视首石收市势示室试释守适食熟氏施授尸侍饰兽拾寿瘦逝湿售誓驶狮時蚀仕嘘矢屎嗜噬拭恃轼峙柿狩實谥虱弑視舐绶適師試識筮豕螫勢釋蓍奭莳獸屍獅湜詩溼飾饣扌贳鲥艏濕埘獣寔壽弒礻鸤昰酾実葹炻絁蒔蝕蝨駛邿铈徥鳲榯乄収丗辻乨卋忕戺亊佦竍呞&旹飠呩柹䴓浉祏姼峕宩兘枾恀眂冟垨眎眡烒栻釶笶秲釈涭湤遈貰揓崼痩溮蒒鉇溡塒鉐鉂軾睗觢鈰鉃嵵煶膄瑡鉽舓夀綬鳾箷餝餙銴褷鲺諡諟澨嬕遾鮖鍦謚鼫簭鯴鼭籂鏉襫鰘鰤鶳鰣籡襹鱰釃
shu shu,shua,shuai,shuan,shuang 书术数双述树属熟束叔率殊舒输帅疏衰摔刷抒爽鼠霜署甩竖梳耍恕蜀淑暑赎庶漱倏墅枢孰蔬曙薯拴纾塾戍闩蟀荼栓黍姝唰涮書術孀樹雙數澍殳輸菽泷屬秫帥摅贖沭豎毹綀鹴塽疎朮咰鉥竪閂裋潄癙糬尗陎杸侸荗怷倐紓捒焂鄃婌掓軗庻蒁絉琡暏尌毺腧腨跾踈誜漺慡﨎樞潻薥錰霔濖縔鮛橾儵攄璹藷襡鵨鶐鏣瀭鏯襩骦灀卛孇騻蠴欆鷞礵艭虪驦鸘
shui shui,shun,shuo 说说水谁睡顺瞬朔税說烁硕舜吮誰铄順搠妁槊説氵爍碩帨楯蒴稅氺涗涚祱欶脽裞矟獡蕣箾橓瞚瞤鎙鬊鑠
si si,song,sou 思四死斯似司送食丝宋松私寺搜颂撕耸肆诵艘嵩嘶厮嗣祀嗽伺讼飕悚巳叟俟姒咝嗖饲怂泗驷擞薮忪馊淞汜崧笥竦耜鬆兕聳絲鸶凇溲澌蛳嗾蒐锼锶涘菘枱厶頌廝瞍缌俬娀覗飼偲颼纟梩鄋廋誦禩颸藪Ì亖糹泤佀厑㧐泀孠杫価枀枩洠娰柶牭柗凁叜恖虒飤肂洍唜倯捜耛釲庺梥訟傁媤竢蓃廀獀鉰楒禗飔貄鈶鈻旕硹愯楤傱摉凘禠蜤銯罳榹嵷摗鋖緦磃噝蕬駟濍憽慫螋燍螄蕼檧醙瘶鍶儩駷鎹餸鎪餿蟖蟴瀃鯐擻騦鶍騪櫢鐁㩳籔鷥鼶
su su,suan,sui,sun,suo 所虽算随苏岁诉索素孙速俗宿碎肃缩缩莎损锁酸粹塑遂梭琐尿溯稣隋祟嗦髓邃唆绥簌酥粟笋愫蒜隧穗荪娑夙雖睢挲隼蓑訴燧肅隨歲狲谡夊榫穌狻唢飧縮窣損睃僳蔌濉甦愬嗉觫荽孫涑鎖嗍蘇泝谇痠桫鹔穟傞筍遡綏瑣餗璲繐洬莤挱筭睟羧樕穂潠檖橚繀玊亗芕苆砕珟祘笇浽荾哸倠莏逤粛殐梀骕眭埣琑傃遀嵗飱惢塐嫊溸滖煫歳猻搎蓀嗩溑暛溹遬榡膆趚槂摍趖褨蜶鋉碿樎憟潥熣澻嬘賥誶蕵箰璅潚縤匴鞖膸禭薞簑謖藗璛瀡襚簔鯂蹜髄瓍繸旞簨鎨鮻鎻鎍蘓譢鐆鏁櫯鐩韢鶽囌驌鱛鷫鱐
ta ta,tai 她它太态台泰抬塔踏胎拓塌榻苔汰嗒沓蹋挞牠遢跆態獭趿祂鳎闼骀肽邰呔钛薹鞳炱菭檯溻遝颱臺汏铊漯涾擡闒酞阘褟獺夳冭旲汱忲侤囼孡坮㳠狧炲粏舦崉萙溚傝鈦鉈榙搨鲐溙禢墖毾箈澾撻誻駘錔橽嚃燵鮐儓燤鮙鞜濌嬯蹹襨鶎闥嚺籉鰨譶鱩躢
tan tan,tang,tao,te,teng 特谈堂唐讨探叹逃套弹汤坦倘桃躺陶坛腾疼贪涛糖掏摊藤谭趟滩滔塘萄烫叨膛淘潭毯炭瘫淌棠滕韬碳螳檀痰袒忒澹忑忐饕啕坍焘搪昙傥覃誊镗绦討帑瑭嘆惝洮談貪歎郯燙湯縢攤騰弢慆慝灘倓锬樘啴螗溏醰癱醣匋羰镋壇譚鼗咷嘽鞉蹚惔罈菼梼绹絛嗿螣韜鞺埮搯嘡綯曇醓夲朰伖扨坣迯怹钽痑舑婒铴偒脦痋湠啺鄌傏詜祹铽罀榃僋鉭蓎隚幍嫍裪幐舕煻榶漟禟膅耥摥槄瑫飸蜪鞀漛潬憛墰墵醈憳劏蝪磄糃醄鋱邆錟燂橝憻暺薚橖篖踼縚縧鋾駣膯駦顃璮赯糛轁濤謟謄擹藫鎕餹鎲騊饀蟘䲢儯壜貚鏜饄闛鞱譠鐋霯鶶鰧籐罎儻籘戃虅鼞爣曭矘鼟驣钂
ti ti,tian,tiao 天体题提条调跳田替挑踢梯添甜填啼蹄涕惕眺剔舔嗔屉迢剃恬嚏腆體題悌倜窕佻佃钿條阗忝苕荑殄朓醍笤逖缇祧鹈蜩髫粜俶畋龆稊裼锑殢绨鲦岧鞗屜騠趯揥湉薙洟恌逷觍瑱籊畑脁甛掭蓚覜緹鬀鬄芀兲旫戻沺屇岹厗胋庣祒宨挮畠倎晀偍掦啑笹悐婖菾唺淟悿萔媞崹渧惿遆罤躰惖酟靔晪琠聎絩瑅綈嗁塡搷睓痶蓨誂趒睼褆碮骵褅碵緂餂樤銻䴘漽蕛徲歒髰窴磌賟覥鋚窱斢趧黇錪鴫擿蹏鍗鳀謕璳鯈嬥鮷鵜瓋嚔靝闐鎥舚鶗鶙鯷軆齠鷉鷈鷆鷏鰷禵鷤糶
tie tie,ting,tong,tou 头同听通统铁痛停投透庭童偷厅贴挺廷帖亭铜婷筒桐桶艇頭瞳汀霆骰捅聽彤恸僮峒町佟潼蜓餮恫侗酮铤廳仝嗵貼統鐵銅橦梃桯萜颋餇曈慟鞓茼莛垌珽砼渟鉄驖呫烃筳詷鋌朣鍮亠邒庁圢甼怗耓侹庝峂妵厛娗涏炵峝哃狪烶脡烔晍浵蚒紏蛈烴痌秱眮偸聑綎葶嵉絧粡衕媮婾敨飻楟榳誔蓪赨鉖筩綂銕僣閮熥樋鉵鲖勭蝏聤頲獞憅鋀諪犝膧燑氃黈聴穜鮦聼鼮蘣鐡廰
tu tu,tuan,tui,tun,tuo 说突图推土脱退团托徒腿途吐拖涂吞妥魄陀兔屠拓秃驼颓凸唾褪褪臀屯蜕忒荼湍饨驮豚沱坨佗跎椭圖鸵橐囤脫抟團砣鼍彖託菟酡柝侂酴暾塗箨钍疃糰図柁庹萚煺隤乇軘焞蓷禿堍頹氽陁紽瘏嶞穨驒讬団扡侻侻稌漙駄尵駝橢魋駾鵵鷻鼉圡仛阤汢弚饦汑彵宊兎迌呑坉忳芚杔怢旽咜咃沰拕狏岮凃俀涋庩峹捈悇唋莵娧涒莌捝挩袥砤袉毤捸梌釷蛌豘飥涶湥堗葖痜揬溌猯湪朜飩鲀詑堶跅筡鈯嵞蒤腯圕煓剸蛻馲馱碢楕毻嶀廜潳瑹跿圗摶慱畽褖僓魠槖嫷鋵槫墥噋魨駞馟貒橔頺頽蹆骽燵黗霕鴕鮀駼鍎篿藬鵇鵚鵌檲鮵鼧鵎鏄蘈蹪臋騨蘀鶟鰖鷋鼵鷵鷒籜驝
wa wa,wai,wan,wang 外王望往完万晚玩忘亡网瓦湾碗娃弯汪腕挖挽妄顽婉歪哇宛枉丸旺蔓惘袜蛙凹惋纨莞洼菀罔蜿皖娲绾剜畹豌萬崴辋佤魍烷琬灣頑網彎芄尢卍脘襪卐汍踠刓盌翫窪屲漥鼃媧菵椀輐乛亾兦尣罓罒穵邷仼咓岏抏忨妧杤尪尫彺迋劸咼尩徃砙紈笂徍窊畖瓸㖞捖倇唍莣蚟窐啘聉喎帵婠貦埦梚萖晥捥脕琓嗗瓾嗢塆晩晼棢暀蛧搲溛腽甅睕膃綰綩輓蝄朢潫鋔澫鋄輞誷錽薍瞣蟃瀇竵贃鎫贎顡韈攨韤壪
wei wei,wen,weng,wo,wu 我为文无问物位五未武微恶味维威务闻谓围免卫屋韦误温吴唯遗亡伟危握舞午伍悟委稳乌尾於魏慰雾吾翁吻喂违伪惟污卧畏薇窝纹呜巫沃兀侮喔胃尉勿嗡為诬捂芜唔梧炜毋蚊蔚萎娓雯戊巍涡晤坞渭帷纬瘟苇碔偎猥問無紊瓮妩鹉倭猬汶蜈桅龌刎婺渥蜗忤斡骛鹜玮诿帏幄韪囗痿烏溫闱煨嵬牾隗寤務邬逶庑崴摀謂仵挝杌圍怃偓爲焐鋈潍穩衛葳圩蓊誤迕莴臥隈聞璺洧維鲔甕鼯阌偉芴韋偽亹汙沩肟霧钨紋頠渦違揾窩蕹吳涠涴滃餵痦嗚蝟抆塭搵蕪韡骫硪轊痏葦椳艉誣餧濰齷阢汚圬扤屼芠呅呡旿浯梶硊鹀煟蝸罻甒兀厃厼朰伆仴弙囲芛彣妏杇呉岉苿炆肳枂玝忢矹洈峗峞昷洿郚卼敄俉烓浘荱軎叞捤蚉莬茣莁娪峿洖倵逜陚娒悮悞粅隇崣骩菋硙珳桽脗渂萵唩猧涹婑婐捰捾剭窏祦珸娬啎喴葨媙嵔揻揋愄琟媁喡幃湋溈骪愇渨蒍徫廆媦勜奣媉焥鄔铻珷隖嵍靰溦楲詴椲暐煒瑋腲辒殟榅瑥絻嵡塕楃腛遤誈雺嵨奦溩塢蜲鄬蓶撱嶉僞碨蜼墛榲駇馼瘒暡瞃歍熓瑦熃蝛覣縅潿潙醀寪蔿緯諉踓韑磑犚緭熭緼蕰鳼鴍魰鹟瞈踒箼鋙墲憮潕廡嫵薳衞鮇懀嶶豱輼螡閿閺螉聬螐橆璑儛窹燰鳂鍏闈鮠儰濻鍡鮪螱褽轀鳁闅蟁鼤穏鎾饂臒瓁濣鴮瞴霚鼿癓壝矀颹韙瀢藯鞰繧顐鎓鎢鵐蟱鯃齀鏏鳚霨攚罋譕鵡騖蘁鯲鰃鰄覹蘶鰛鶩霺犩饖鰮闦鶲鰞躌欈讆躗躛讏鷡斖齆
xi xi,xia 下西系喜息希细习戏假吸析惜夏吓洗席侠袭悉腊夕兮稀嘻熙昔溪牺瞎霞狭晰膝锡媳隙暇峡厦熄茜栖嬉犀熹虾唬羲辖奚匣遐蹊禧瑕玺徙蟋蜥皙黠樨淅唏褶曦檄僖葭狎呷俠螅翕汐屣戲係細習隰觋欷晞罅歙郤铣阋醯烯谿舄葸禊襲矽窸郗饩硖鸂裼柙犧狶豨浠繫郄蓰戯陜狹硒潝轄穸舾蟢鼷粞舝饎绤菥晳墍蝦囍扸咥傒睎塈凞糦譆騢屭卌屃郋恓枲盻谺蓆睱憘憙謑巂嚱飁衋匸丅邜巪忚凩圷卥肸肹呬怬忥疜怸饻俙徆恄巼炠莃娭悕屖氥屓欯夞莻唟烚峽埉祫珨琋赥釸桸焁焈渓唽釳裃翈舺陿梺鄎焟焬翖惁喺葈鈢趇舃椞硳喸閕傄硤煕厀徯蒠嵠蒵椺鉨鉩慀隟綌赩颬煆筪敮閜熈榽緆餏覡嶍漝趘漇熂犔稧聢碬瘜磎噏嬆槢潟澙蕮覤磍蕸諕橀暿熺熻螇錫薂歖諰縘黖戱噺橲縖赮魻貕豯豀瞦燨犠縰壐磶礂鍜懗繥鵗謵鎴蹝虩餼鬩鯐鎋夓鎼觹鏭鐊隵鳛霫璽鏬酅巇爔騱闟鰕騽鶷觽鰼霼鱚蠵矖觿鑴躧驨
xian xian,xiang 想现见相向先象像响显香线限险乡鲜献仙洗闲项降县陷享详贤箱湘嫌宪祥襄弦巷翔纤羡掀厢咸衔镶暹橡現娴涎舷饷馅骧腺飨藓線岘響酰顯燹險冼庠铣缃閒痫跹锨羨霰鮮鄉芗跣籼項鲞詳賢猃鹇苋珦閑廂蚬絃嗛鹹玁忺祆铦晛筅睍啣禒僊獻醎嚮纖屳烍婱銜僴嫻曏幰饟咁枮盷険銛綫餉撏鮝饗⺈仚奾佡氙伭咞瓨杴秈苮妶狝臽佭胘挦県陥姭亯蚃姠莶珗毨崄娊峴莧哯涀垷郷栙晑娹蚿赻埳鄊蛝湺缐絤鄕葙萫絴缿衖蜆搟尠尟粯塪衘跭勨僲嘕甉銑僩誢薌銄嶑韯銽誸羬稴澖憪嫺箲鋧撊緗膷薟憸嬐鍁諴輱獫嶮憲橺橌錎餡縣襐韱褼繊癇癎瞯獮鍌豏壏蠁蟓藖顕麲鯗蹮馦攇臔瀗鐌孅攕廯礥麙蘚櫶譣糮麘忀纎鶱贒欀瓖躚襳鱌鷼鷳鷴韅鼸鑦纕鑲鱶灦驤鱻
xiao xiao,xie 小些笑写解血消校谢叶效晓萧销邪协斜鞋契孝削歇肖啸泄胁谐携械潇屑逍筱挟宵嚣卸蝎箫霄泻懈哮亵燮蟹淆偕硝枭寫骁邂勰楔榭撷謝绡崤殽洩瀣鲑哓銷廨曉绁脅獬薤攜枵魈歊缬渫協絜挾躞諧蠍筿瀉灱咲鸮翛蛸榍嘯屧瀟呺烋虓衺禼媟暬篠褻擷囂蠨灺効猇梟暁詨澥蟂襭灲劦旪伳祄缷侾洨恔奊垥恊峫拹炧炨庨宯郩涍俲娎脇脋卨婋焇訤烲徢偰偞焎紲痚痟硣窙傚敩猲揳翓絏絬屟綃揱綊瑎愶嗋塮僁嘐踃誟嘨嘋﨧熁膎冩靾褉獢撨嘵憢誵皛蝢緳擕縀緤噧膮蕭彇颵鴞謏嶰薢糏韰鴵簘蟏藃穘皢熽歗燲嚡藛夑鞢蟰簫髇鞵齘繲蠏爕櫹斆斅齛嚻髐鷍孈齥纈驍齂毊虈讗龤
xin xin,xing,xiong,xiu 心行性新信形兴星兄修幸雄醒姓型胸秀休省辛宿凶欣袖刑臭羞熊绣朽腥匈薪馨汹嗅杏猩惺邢衅悻锈咻芯岫昕莘鑫歆擤興锌忻荥繡馐髹饧荇倖兇貅硎庥囟陉芎骍鸺釁讻忄钘洶騂狌訢涬琇伈炘焮脩铏夐鏽褎镡脪鈃詾溴銒敻皨匂阠邤䜣伩妡孞忷诇杺枔侀郉俢苬峀盺陘洐哘恟哅俽軐垶娙莕胷烌珛惞訫婞訩脙鈊葕焸焽詗臹煋瑆蛵楿滫潃綉馸觪滎鉶睲緈熋髤銝樇璓褏廞鋅篂箵鋞糔銹噷嬜鮏﨨謃賯螑襑觲曐餳鵂鎀繍嚊鮴鏅饈顖嬹鏥鐔舋鯹臖鱃齅馫飍
xu xu,xuan,xue,xun 学许选雪需须续寻虚迅序宣徐叙训玄县绪穴讯旋薛逊悬削循蓄询巡轩吁旭喧絮畜胥勋嘘潭熏薰萱眩殉婿券渲戌墟靴荀旬浒驯炫漩恤栩學绚谑醺煦浚璇荤诩酗暄洵铉峋續許恂巽噱浔徇烜谖顼埙煊勖汛砉郇荨虛軒癣泫緒選嬛曛尋圩蓿溆盱鳕踅鬚須揎訊訓蕈獯懸敘湑慉窨歔楦詢鲟洫糈镟泶訏儇珣衒譞鄩噓醑癬鱮姁煖魆鞙謔侐珝馴遜噀勳燖彐旴呴咺冔栒谞勗続趐藇駽燻鏇灥昡痃袨鸴桖焄偱欻絢滀瑄翧歘諠盨壎藚卂廵吅伨伵芧汿斈吷坃杊疞卹怴沀昍怰乴茓峃狘岤坹畃侚欨俆昫玹紃狥迿巺晇殈烅珬垿欰﨏弲晅疶袕桪毥訙裇虗偦烼敍梋琁琄眴奞媭揟喣壻聓訹朂萲媗塇愃愋蒆勛揗殾稄綇楈禑蒣暊詡賉頊蓒蜁楥鉉塤稰鄦槒漵潊銊聟盢瞁睻嫙碹蔙愻蕦嬃縃緰蝑稸魣緖獝蝖禤箮鋗暶樰膤勲噚潯諝諿蕿懁諼颴辥嶨壆薫駨璕攳燅樳鍹檈縼辪燢澩瞲嚑燸譃璿繏轌臐蟳翾蠉矎蘐藼鞾瀥蘍矄魖繻觷纁爋壦驉顨鑐鱈鑂贙鱏鱘鷽
ya ya,yan 眼言研严亚演验压烟呀雅牙颜燕延丫厌厌掩沿岩艳殷炎讶雁焰咽涯宴崖焉哑嫣衍鸦盐押淹阎鸭芽彦衙娅砚铅檐晏俨奄筵偃谚湮轧胭魇阉蜒腌妍堰焱鼹滟恹亞桠赝琰鄢唁壓煙吖餍阏兖剡琊訝酽睚驗蚜嚴伢谳垭顏迓艷痖郾疋罨厭黡豔闫厣鹽鴨簷芫埏砑崦猰讠阽鴉魘啞揠嚥懨顔氩揜醃讌弇铔渰揅碞燄鴳嬿甗鰋巘椏晻檿岈亜犽訁枒厓玡兗綖硯灩ㄚ劜圠圧厊覀襾冴夵庌抁沇妟觃庘軋郔炏昖乵牪疨挜狿莚姸娫匽姲彥䶮笌唖俹珚娮烻覎剦孲堐猚崕掗埡婭淊啱琂硏訮閆酓萒偐隁焔釾聐氬嵒嵓喦遃隒嵃渷扊棪愝喭敥猒瘂稏圔硽歅傿塩楌詽裺椼椻鳫溎漄窫漹蔅嵼褗墕熖暥蕥嶖蝘戭鴈嬊樮錏閹虤閻厳噞躽鬳諺嬮篶縯曕嚈懕酀騐験䜩鵶齖鯲壛巌厴艶贋軅鐚臙櫩黤鶠爓曣騴醶齞鑓黫龑黭黬儼鷃巖巗壧孍顩鼴贗灔巚曮囐鷰醼觾饜軈礹齴黶釅驠灎灧讞豓麣齾
yang yang,yao,ye 也要样业杨阳夜约爷摇野叶页药养扬洋仰腰耶羊咬邪陶遥妖央姚耀邀咽液谣钥尧痒瑶冶鸯夭拽氧曳侥樣漾吆肴幺恙谒噎烨鞅窑殃佯腋曜杳邺椰掖炀爻舀揶窈秧靥搖泱怏徉晔疟飏烊徭楊繇暍鹞葉荛陽業疡爺徼癢揚頁藥卬養轺崾遙様珧蛘軺埜峣窅铫喓瑒馌飖謠鳐祅吔旸钖窰薬颺曵眑鴦鍈瀁垟柼倻崸葽猺瑤嘢謁艞鷕靨ㄝ丆阦⺶仸佒宎岆亪姎抰氜劷咉岟坱殀尭抭枖狕苭抴胦昜羏炴柍垚穾捓枼亱眏珜烑倄袎捙枽眻紻羕訞偠窔铘崵軮楧傟詇堯揺傜婹葯筄詏瑘殗鉠雵煬敭暘慃氱飬蝆楆滧嗂媱愮溔蓔煠墷瘍摿榣暚餆榚靿覞熎歋鋣漜璍僷燁曅駚鴁窯磘嶢嶤獟潱曄皣瞱擛鄴輰諹鴢餚鼼鎁壄餣嶪嶫澲鍚鴹懩攁謡闄擨擫瞸曗鍱鎐燿鎑饁擪礏爗礢颻騕矅鵺鰑蘨鐷霷邎顤鰩齩纅鷂鱙蠮驜鸉讑鸈
yi yi,yin,ying 一以意已因义应音影英艺衣引易译异印疑依议隐医食亦益银阴遗忆艾营移映伊吟硬迎仪尾饮蛇宜盈翼椅矣抑殷夷姨赢毅樱役姻婴淫鹰逸倚莹亿溢谊乙颖奕尹咦寅裔疫怡莺茵蚁荫颐蝇绎瘾揖彝臆胤邑驿萤诣瑛佚嬴萦蛾贻懿轶瀛滢膺翳鹦缨潆屹應漪荧弈垠蜴熠翌颍呓羿咿胰蚓噫義郢嘤圻氤沂圯罂迤弋鷹缢楹壹旖藝異饴痍悒肄猗喑議隱翊诒遺挹龈夤荑撄荥茔譯刈洇憶醫璎苡佾狺贏媵堙镒峄薏嶷怿陰鄞浥埸瘗铱飲癔霪櫻栘愔黟舣祎眙營瘿儀斁仡嗌锳窨裛劓螢衤裀銀嬰癮苢慇枻禋鹥穎吲龂誼殪迆鹢曀諲蠅蟻豷忔茚桜兿睪慭繄闉顗乂钇衪億螘駰廴佁杙迻俋昳骃桋栧勚殹詒椸靷榏蓺踦誾瑩嶧圛霙鴬螾濙镱瀠囈肊吚杝洢瓵垔宧酏扆铟禕蔭滛嫈黓縈檍艤櫿鷊鷁鶯灐驛乁弌辷冘匜阣匇凧囙伇芅阥乑岃壱宐冝攺坄劮苅耴犾応盁沶侇狋迱枍炈秇呹呭泆怈侌烎斦拸恞峓珆庡釔浂帟帠玴泿洕矨栍訑貤巸袘扅笖逘欭袣唈浳垼弬夞栶圁峾荶珢訚訔垽粌珱偀浧郼渏悘萓偯埶萟悥豙豛訲訳隿釴羛畩隂陻凐秵訡婬崟崯赺渶绬媖蛍営梬愥蛜椬蛦貽羠旑崺鈘鉯鳦鈠軼骮跇詍晹敡殔棭焲蛡鄓湙幆絪筃婣鈝鈏淾堷湚猌煐朠萾溁溋暎媐飴頉誃跠暆裿亄獈竩痬詣溵蒑碒隠飮廕䲟碤蓥塋僌颕稦銥嫛駅膉勩廙嫕潩瘖銦蔩輑朄酳甇緓蝧賏熒摬嬄撎熪輢鹝瘞槸熤熼篒鞇磤緸璌殥噖趛癊蝿禜潁膡夁瑿彛彜嶬螔頤頥敼嬟艗燚瘱瞖穓螠褹縊澺嬑墿懌霒檃憖憗鮣噟罃褮頴檥顊鴺鮧簃寲寱歝曎燡燱賹貖鮨霠噾濦嶾濥懚韺覮謍濚濴藀闏檹毉彞謻礒鎰贀藙嚚蟫檭檼甖瀅鎣鏔繹繶霬鯣鶂鶃鶍鶎齗蘟鶑鶧巆攍瀯譩籎轙饐醷醳蘙瀷韾櫽罌譍孆嚶攖蘡孾瀴鐛廮巊觺鐿齦瓔礯譻鷖讉鑍籝癭黳齮襼鷧鷣讔鷪蠳纓灜鱦鷾鸃虉齸讛鸎籯鸚
yo yo,yong,you 有又用由友游右永育尤优犹勇幽拥油忧庸幼涌悠诱邮咏哟泳佣佑雍黝唷柚囿攸甬酉俑慵恿呦臃踊邕镛铀祐宥牖猷蛹遊鱿莠繇蝣喁擁壅鼬猶侑疣墉痈釉優憂饔颙雝蚴麀顒誘卣傭羑莸莜鄘郵喲槱詠湧蝤尢怮浟耰癰蚰輶狖訧滺褎櫌铕楢魷灉甴沋丣苃苚怺泑怞肬孧勈栐怣峟牰迶哊姷柡悀埇砽峳逌庮秞栯唀偤逰梄聈罀惥愑硧蒏湵亴貁嗈塎嵱彮愹羪鲉鈾蜏禉酭嫞滽慂輏駀銪牅鲬蕕牗澭噰郺踴鮋醟鄾癕鯒瀀嚘懮鳙鏞廱鰫纋櫾鷛鱅
yu yu,yuan,yue,yun 说于与原月语远元云越乐运员员约院余玉愿源雨遇欲育园预域圆鱼缘愈跃袁谷誉怨予曰宇狱岳阅羽郁於御喻晕允豫韵愚悦渊援寓冤愉蕴渔猿浴俞吁钥孕尉裕禹娱虞钰鸳舆芸苑筠粥逾煜馀蔚沅谕匀迂垣瑜驭媛隅粤纭榆酝辕毓屿渝與汩欤禺耘陨菀臾淤芋谀揄妪園雲腴钺遠盂氲庾觎熨熨愠爰鸢殒昀約恽瘀鬻樾語峪鑰運聿圜昱圄龉員纡喁妤竽圉饫獄蜮栎萸郓願韫伛阈瑗郧魚湲窳鹬圓狁悅鼋掾餘鬱菸鹆緣燠瘐雩預鹓癒刖哕躍俣遹芫伃慾龠舁閱窬蝓旟棫瀹籥垸嵛蓣鋆赟伝玥嫄彧涴缊滪塬暈踰螈麌玙娛筼鴥禦譽畇狳慍澐噳韻肀円勻涢偊煴橼醖籞込沄眢敔淢楰畬猨楀瑀罭蜎漁隩瘉覦鴛璵嶽醞蘊騵禴驈鸒芌礿穻紆紜堉嵎萭淵緎鳶殞薁潏蝯貐縕轅饇贇䲣亐邘夗曱戉迃扝扜圫邧贠阭扵杅玗忬囦肙妜岄抈妘囩抎夽抣陓衧欥茒杬妴泧枟虶茰兪俁挧茟秗剈貟盶恱秐眃娯桙酑祤俼砡笎蚖衏蚏蚎軏耺荺盓唹隃匬鄅粖袬逳淯惐悆寃渁渆渕厡逺捳跀鄆萮湡堣堬崳骬斞铻棛棜琙焴媀喅喩庽馭飫硲硢矞葾惌圎鈨傆鈅蒀鄖隕喗鈗傊惲艅歈楡牏傴寙鈺蒮稢蒬棩裷溒媴蒝禐粵鉞蒕蒷溳愪腪箊睮褕戫僪嶎嫗蜟銉輍箢榞榬裫褑氳熅熉馻褞蕍歶雓諛羭頨鋊鳿蓹稶駌蜵魭縁褤蝝箹閲奫蝹蕓磒嬩澞懙嶼澦燏蕷鴪鴧錥諭閾黿羱薗鋺噮噦篗嬳篔縜橒賱薀歟螸輿鍝礇魊儥謜餫謣髃鮽斔穥鵒礜醧篽礖鎱矱馧霣韞韗藴騟籅櫲鵷嬽櫞邍籆轝蘛鰅蘌霱鐭灁鶢蘥黦㧐雤鶰爚鷠齬欎鼘齫鷸鱊鸆齵齳欝鼝鸑龥籰鬰軉鸙厵籲灪爩
za za,zai,zan,zang 在再杂藏咱载赞扎暂仔脏灾葬砸宰哉栽咋攒崽赃臧簪奘咂匝瓒暫雜讚載髒錾拶拶趱災驵臟贊昝糌甾酂烖牂寁噆蹔酇雑臓贓帀兂扗沞岾沯乽洅匨桚羘弉偺渽傤喒揝塟鉔韴溨酨賍睵賘蔵魳儎撍賛駔銺橴賳縡橵襍篸儧鄼簮鵤攅濽鏨瓉臜鐟鐕囃儹欌囋攢囋灒讃臢瓚禶雥襸贜趲饡
zao zao,ze,zei,zen,zeng 怎则早曾造责增择遭泽侧贼糟综赠躁澡憎凿燥咋噪啧藻灶枣皂仄蚤則賊锃甑赜唣嘖迮責谮擇缯昃帻鑿棗矰沢舴蹧箦慥笮罾皁繒贈齚鄫鰂栆崱謮鬵譟齰庂汄択泎昗唕捑梍啫戝曽硳傮煰喿艁矠滜溭嫧幘蔶鲗増樍歵諎鋥簉瞔皟橧璔熷璪薻竃簀磳醩賾礋襗蠌蠈譖譄竈趮囎鸅鱡
zha zha,zhai 查责择扎侧炸祭柴摘斋眨宅札债窄寨蜡诈乍咋渣栅喳喋轧翟闸榨吒咤蚱槎铡柞砦楂砟猹揸瘵紮劄齋柤債奓詐霅譇哳斎牐閘厏灹抯苲拃挓夈粂紥痄宱捚偧蚻溠鲊搾蓙鉙摣皶箚鲝榸觰樝皻鮓耫鍘鮺醡檡譗齄齇
zhan zhan,zhang,zhao 着长张战找展章照站朝掌招赵占丈昭召帐仗斩罩嘲障杖兆沾爪胀涨账绽詹粘瞻盏璋诏湛彰崭沼辗栈钊肇毡蘸張瘴樟漳蟑戰棹嶂旃獐佔棧帳幛啁谵笊鄣霑斬戦旐鳣脹盞綻賬櫂粻漲飐曌嫜輾仉炤搌颭氈瞾嶄墇佋垗栴肈襢皽饘麞鱣爫扙枬妱巶枛粀狣桟釗肁蛅飦偡菚涱趈詀惉琖詔罀閚傽痮鉊鼌瑵嶃榐蔁遧慞箌趙醆嫸輚嶘暲幥駋薝邅噡嶦橏虥虦餦瘬瞕鍣氊礃燳鮡鹯覱旜轏鏱羄譫譧騿驏鱆魙驙鸇黵讝
zhe zhe,zhei 这这者哲折遮浙這辙辄褚蛰谪摺褶鹧蔗螫赭蜇柘磔锗晣晢詟輒輙蟄轍喆厇歽矺砓虴籷袩埑粍啠悊淛嗻嫬銸踷樜鍺蟅鮿謫謺嚞讁鷓襵讋
zhen zhen,zheng 正真政整争证阵征丁震镇珍针郑振睁挣怔症枕贞侦桢蒸诊朕铮拯祯筝斟帧圳狰甄臻箴缜稹榛砧峥轸疹赈诤鸩陣證畛烝爭睜禛溱蓁姫钲鎮胗針鬒椹掙診鲭鄭偵証撜鍼碪眕猙掟寊媜氶纼佂抍抮甽姃糽浈珎貞昣弫侲挋埩炡䦶眞帪屒袗栚紖脀眐酙聄紾眹聇崝崢葴幀湞遉裖軫覙塦揕揁幁嫃獉搸蒖楨禎鉁絼踭鉦徰晸塣諍靕瑧殝賑誫錚箏愸䦛潧駗鴆鋴樼澵薽錱縝縥篜鬇鴊轃鎭籈辴癥鏳黰鱵
zhi zhi 之只知至直识制指治志质值致止支智纸置氏职织执枝旨植殖掷秩芝址脂侄滞稚肢芷挚汁吱帜窒蜘炙峙趾徵咫帙雉痣桎贽祗蛭隻祉紙陟摭栉質栀痔骘枳鸷踯卮豸跖轾觯郅彘踬製職胝絷誌執埴忮黹畤姪酯夂緻轵織沚铚寘蹢挃锧厔滯幟蹠庤稙輊廌摯穉擲鷙汦巵恉柣茝搘跱疐膱櫍阯劧芖汥帋扺坁扻伿泜妷坧抧茋垁迣胑秓衼秖砋衹洔庢洷祑俧疷祬栺倁値聀釞淽疻晊歭徏娡狾袟梔淔訨紩痓貭翐觗袠猘徝乿剬偫秷梽椥臸戠犆禃軹崻傂綕禔瓡筫搱滍馶榰馽徴墌墆銍覟瘈潌憄鳷潪嬂漐慹鋕熫稺膣摨樴擳隲璏旘瀄鴙駤鴲縶螲懥櫛儨劕擿蟙藢懫贄軄襧觶騭鯯瓆鼅豑礩蘵躑騺驇躓鑕豒
zhong zhong,zhou 中种重众终周调州钟洲仲忠宙皱祝舟咒衷骤肿轴粥肘昼锺纣踵冢帚種胄诌終绉盅忪眾塚鐘籀繇妯螽啁週皺咮鍾舳驟腫蹱舯衆甃晝瘇茽軸諥盩侜冑辀尰赒輈僽伷酎婤碡螤伀汷彸刣妐妕狆㑇炂泈祌疛呪㤘&柊衳衶诪炿荮紂蚛烐珘郮偅淍徟鸼矪菷粙鈡喠堹媑筗喌晭葤詋㑳煄歱睭㥮蜙幒蔠銂箒銿徸輖賙駎鴤霌縐噣駲鵃謅嚋鼨騆鯞籕譸籒籦
zhu zhu,zhua,zhuai 主住术著转注属助宁抓诸朱逐竹珠筑猪祝烛柱驻爪煮嘱铸株蛛诛庶拽瞩竺褚柚伫贮拄侏渚蛀箸杼铢炷麈茱躅洙挝橥苎豬邾翥諸註跩佇潴駐丶硃柷筯燭劚纻疰槠鸀羜跓蓫築殶貯誅瘃馵蠋鑄囑⺮劯芧宔坾迬拀笁茿炢壴窋罜陼莇祩竚眝砫秼袾笜逫帾紵紸絑煑詝軴嵀跦鉒飳銖蝫蕏墸撾濐樦鋳檛膼駯篴燝麆篫鴸鮢簗簻髽鼄藸瀦鯺櫫櫧蠩鱁孎灟爥斸欘曯矚蠾钃
zhuan zhuan,zhuang 传转专装状庄撞壮撰赚妆砖桩沌幢篆僮奘轉馔狀啭專颛裝壯戆賺磚樁妝荘莊孨梉瑑譔囀専焋粧顓灷庒叀䏝壵娤転堟蒃湷鄟腞嫥塼僎甎瑼膞磗諯竱篹糚襈縳蟤饌籑鱄
zhui zhui,zhun,zhuo 着准追桌卓捉坠拙灼琢浊缀锥酌缴赘屯惴椎谆啄镯斫濯茁擢焯骓準涿躅倬缒浞诼墜肫隹窀濁椓鵻斲凖啍啅騅犳甀斮綴鋜贅鷟彴汋圴迍宒沝妰叕炪笍烵丵娷埻訰棁梲娺腏棳晫斱琸畷膇硾稕硺罬窡窧綧槕禚撯擆縋諈醊諄劅諑諁錐錣衠䦃篧礈穛斵斀謶櫡鐯鵫蠗灂鐲鑆穱籗蠿籱
zi zi,zong,zou 子自走字总资宗纵紫姊踪滋奏姿仔兹梓综吱孜棕揍邹咨恣渍總粽淄龇滓籽鬃孳缁髭茈眦谘锱訾赀辎資偬縱驺秭陬蹤笫枞姉诹觜倊嗞趑菑訿镃漬嵫粢甾耔呰鬷鄹揔棸豵齜孖茲剚倧胾嵏鼒縂諮吇芓赱杍茊胏秄矷姕虸荢茡昮疭玆栥紎倳牸郰赼秶崰釨眥骔捴猔菆掫葘鄑湽椔啙胔堫惾腙葼猣嵕搃惣焧棷鄒孶禌貲嗭椶朡傯蓗碂緇緕鈭稵蓻榟稯嵸潈綜緃摠総緅箃輜魸翪踨緵熧蝬緫糉諏鲻輺錙趦澬磫燪瘲縦鲰鍿鎡繌鍐頾頿鯑騌齍鶅鯔騣鯮鬉糭黀鯫鰦纃鯼騶鑁齱齺
zu zu,zuan,zui,zun,zuo 作最做足坐族左嘴组罪祖座尊昨醉阻钻租遵卒佐赚琢诅纂咀撮攥樽俎祚镞苴嘬組蕞鑽鳟缵菹撙胙晬觜怍詛唑崒笮捽阼崪葅筰噂躜椊鉆卆⻊鼡岞岝咗珇爼乼侳哫唨厜栬冣捘莋秨袏脧絊酔祽葃葄蒩稡辠鈼稓飵箤靻嗺嶊酻槜僔銌踤嶟篹樶嶵鋷錊檇繤噿檌穝璻罇繜繓鏃蟕譐鐏劗纉鑚鷷鱒纗纘籫躦糳
