Charset
a a,ai,an,ang,ao 厂广艹卬夭艾屵凹吖阨伌安犴仰阿厑佁毐岇芺抝岙呵哎侒岸肮昂枊拗岰垇坳哀诶昹峖玵垵按洝荌昻柪袄啊唉娭挨埃爱砹桉氨俺胺豻案盎敖捱皑啀欸娾硋閊庵偣谙菴唵埯铵婩隌堓梎镺腌锕溾凒隘萻葊媕啽晻揞軪厫隞媪傲奡奥嗄嗳溰矮嗌嫒塧碍愛魞腤痷鹌雸暗骯蔜遨廒嗷嗸獓嶅滶媼奧骜嫯慠锿敱敳嘊蔼叆暧瑷誝蓭罯銨貋熬獒摮璈澚錒皚躷僾鞍鞌磝懊墺澳嶴噯濭噫壒懓嬡薆鴱﨟諳盦儑錌螯聱翱擙鎄癌騃餲璦曖懝馣鮟闇醠翶謷謸襖皧瞹馤盫鳌翺嚣鏊藹譪霭礙鵪爊鏖鶕韽驁譺鑀黯鷔鰲鼇鱜鱛靄鱫靉
ba ba,bai,ban,bang,bao 丷八勹仈巴办勽叭叐白半包朳玐百阪邦吧岜扷芭夿把伯弝坝抜伯庍呗扳岅坂伴扮刨报佨茇妭拔爸杷佰陌拝败肦攽板版昄瓪拌姅绊坢怑玤苞孢宝饱怉抱疤柭炦胈癹钯挀柏拜钣柈帮垹绑挷炮枹胞鸨保釟蚆粑笆捌哵羓垻罢耙栢瓸班般颁粄舨秚梆捠浜旁蚌剥剝窇宲珤铇豹趵豝菝跁捭敗猈竡絆湴邫笣蚫菢袌鲃軷詙跋鈀掰絔粨斑鈑幇綁棒棓傍谤葆堡堢媬報靶鲅摆稗兡斒搬頒鉡蒡搒塝稖龅煲雹寚飽飹鉋鲍颰魃粺蝂靽幚榜牓膀蜯裦褓駂鳵骲罷鳻瘢魬螁镑磅褒蕔鴇緥髱暴鮁䎬薭螌褩辦縍艕襃闁薄賲虣鮑鎺癍闆幫謗曓儤鼥鯐擺贁辬鞤鎊瀑藵覇犤韛瓣寳爆犦曝矲襬齙寶忁䎱霸鑤壩灞欛靌
bei bei,ben,beng 贝北本夯陂狈孛邶貝坌伻卑杯牬昁苝备奔泍苯祊柸背盃郥钡贲甭甮迸泵被倍俻狽悖唄奙畚倴埄蚌桮梖偝偹鄁珼翉逩桳笨捹渀奟崩绷埲菶逬椑揹悲琲惫軰備僃棓辈焙犇閍絣琫琣揼鹎碑鉳蓓蛽碚愂禙锛楍痭嵭犕褙誖鞁骳嘣綳塴鋇輩撪糒憊錛甏镚繃鞛藣蹦鵯鞴鏰鐾
bi bi,bian,biao,bie,bin,bing 匕冫比币卞仌必边弁氷丙朼夶毕闭邠并冰皀吡妣沘佊疕庇佖诐芘邲迊坒抃汳汴苄釆忭杓别別兵邴陃屄彼毞怭怶苾妼咇泌畀畁炞贬玣变峅表玢苪怲抦秉幷並併柀秕哔荜陛贲毖柲珌疪砭扁窆変昪便标飑骉屏昞昺炳柄饼庰垪荸笔粃舭俾秘铋毙狴畢袐粊笓覍髟俵莂宾栟绠眪倂栤竝病窉偪啚閉閇婢庳萆萞梐敝萙笾匾貶彪淲婊蛂彬梹掤蛃偋逼毴筆赑堛愊愎皕禆弼弻湢詖筚賁貱蛯萹编猵惼徧遍缏揙猋脿椕傧斌寎棅傡摒楅榌鄙蜌裨辟跸閟飶鉍滗滭嗶彃蓖蓽腷睥睤痹痺煏煸牑甂閞嫑裱滨缤摈鈵禀稟誁鼻箄聛熚碧蔽弊鄪獙幣綼箅箆馝褊稨碥辡颮滮摽骠蔈幖墂徶彆賓賔豩槟瑸殡膑髩槟鉼餅鞆豍貏髲駜襅幤潷罼獘箯蝙糄編諚緶艑麃標熛膘諘鋲憋瘪镔鵖螕壁廦嬖避薜篦篳縪觱鮅鞕鴘辨辩辧镖瘭磦飙飚錶褾襒儐濒頻餠鲾蹕髀濞斃臂嬶鍽鳊獱邉藊辫儦颷檦蟞豳濱濵虨鬂擯鞞鮩鎞奰鏎饆鄨璧邊鞭謤藨瀌蹩璸檳殯臏繴襣襞鞸魓韠爂鏢贆臕鳔鳖癟瀕霦髌鰏躄躃驆鯿鯾辮穮镳繽蠙鬓鷝鐴贔朇辯飆飇飈飊鷩鱉鑌變鑣鼈顮髕籩鬢鼊虌龞驫靐
bo bo,bu 卜不癶仢卟布伯驳孛肑补吥佈步癷波拨瓝泊狛帛歨歩怖咘玻郣勃侼胉柏畓钚柨巭饽钵盋砵哱剥般趵袯瓟秡钹铂浡挬亳逋庯峬钸哺捕悑部勏捗埔埗荹缽紴袰菠啵萡淿脖袹舶晡埠溊鹁渤葧博跛堡補瓿鈈碆鉢鲅猼馎愽搏鈸鉑鲌鈽鳪蔀廍僠魄馛駁艊箔牔煿膊僰蔔誧踄蕃嶓播撥餑镈踣鋍餔郶馞駮鮊薄孹錻餢篰謈襏檗擘礡簙餺鵓鎛嚗懪鵏蹳髆髉糪簸譒轐醭簿襮欂蘗礴驋鱍鑮鸔
ca ca,cai,can,cang,cao ⺋才仓仺伧艸乲财材毝灿苍沧拆采参肏残鸧草財倸宷蚕舱倉曺偲猜啋寀婇彩採埰菜參叄骖飡惭惨掺曹裁棌湌叅喰殘朁孱傖凔愺睬跴傪粲滄蒼獊嵢遪綵蔡慚蝅慘䅟臧蓸嘈嶆漕慒踩慙憯儏撡槽鄵嬠餐穇薒澯螥艙濸操糙褿懆擦攃嚓縩篸燦璨藏賶螬艚謲襙礤鏪騲黪爘驂鶬鼜纔黲礸蠺蠶鑶
ce ce,cen,ceng 夨册冊岑层侧厕参荝拺测恻敇涔埁笒粣笧萗厠側猠硛梣萴策測廁惻曾筴筞蓛箣嵾憡噌層嶒簎竲蹭驓
cha cha,chai,chan,chang,chao 厂叉长仧仩仦扱扠奼汊芆犲辿产忏伥场仯杈岔肞苂刬旵兏肠苌镸怅玚吵抄衩刹侘诧钗拆侪单丳斺昌長畅弨怊炒臿差茬茶垞查査秅剎姹咤紁差虿觇浐尝昶欩钞牊挿柴豺茝訍袃梴剗谄倡倀倘鬯晁眧耖偛釵祡掺谗婵阐铲產産硟菖阊娼猖淐偿萇徜常瓺惝唱悵绰訬巢巣觘馇插揷嗏喳猹嵖搽靫搀覘馋湹孱棎禅蒇琩場敞焻椙超鈔焯朝焣詧楂槎詫喍裧煘缠剷锠裮腸甞剿鼌鄛锸碴銟察瘥摻蝉獑僝誗鋋摌滻摲裳塲嫦嘗厰僘暢畼漅煼艖鋓儃廛嬋潺潹緾蕆幝諂閳骣膓瑺廠誯潮樔嘲窲麨疀蹅儕幨澶磛燀錩閶鲳氅鋹窼罺嚓鍤餷鄽螹毚簅嚐償鲿韔蟐鼂檫蠆襜蟬瀍冁醦繟懴轈镲酁儳蟾劖鏟譂颤鯧謿攙壥嚵瀺巉闡懺囆欃纏羼鼚巐鑔纒躔镵囅韂顫艬灛讇讒鑱饞鱨
che che,chen,cheng 屮车尺伡尘臣丞成朾車扯彻辰忱沉陈阷呈迠坼抻迧衬泟郕诚枨承俥砗茞疢爯柽荿宬娍峸洆城乗侱莗唓偖烢郴莀莐宸陳栕称龀烥棦称秤浾琤乘埕挰珹徎逞骋悜聅捵桭谌訦軙敐晨趻偁铛碀蛏珵窚掁脭铖盛庱硨硩掣棽琛鈂愖硶趁趂晿牚程揨堘裎絾筬惩椉棖睈蛼嗔煁蔯碜榇赪誠塍塖溗撦頙綝樄塵敶瘎墋靗憆稱摚酲鋮畻撤澈徹賝諃瞋霃夦撑撐噌樘緽澄澂憕諶螴踸磣齓頳赬瞠橕橙檙瞮勶謓薼鍖齔檉竀騁鯎麎贂儭罉瀓曟谶嚫蟶穪懲櫬鏿鐣饓騬襯爡鷐讖
chi chi,chong,chou 彳尺仇丑丒叺叱斥吃弛驰池伬冲充虫妛迟呎肔杘赤饬灻沖忡吜迡茌坻齿侈卶抶侙宠抽䌷杻杽竾荎持垑胣勅恜炽茺种重俦彨哧胵鸱蚩蚇耻恥勑翅翄涌浺珫翀帱栦臭粚笞眵瓻匙蚳赿豉袳敕烾舂隀崇崈埫铳紬菗绸惆偢喫訵貾遅筂歯欼袲湁啻飭揰絒椆畴臰遚絺嗤媸摛痴遟馳裭雴傺腟痸鉓搊愁皗稠筹詶酬酧裯箎鉹銐翤瘈遫憏嘃摏漴褈銃踌綢瞅殠瞝殦噄誺墀漦遲踟齒褫瘛慗翨憧衝憃蝩緟螭鴟篪熾篘瘳雔儔醜鮘鵄鍉謘罿薵懤幬嬦趩懘艟蹖蟲檮燽雠矁魑癡疇齝鶒寵犨籌攡麶醻躊彲黐鷘爞讎讐魗雦犫
chu chu,chua,chuai 亍出刍处処岀初助竌杵豖绌怵泏除竐欪芻础畜俶敊䦷處椘埱絀珿啜厨蒢豠滁锄楮储禇傗鄐欻揣雏鉏趎蒭媰蜍耡楚褚滀搐触榋搋摴犓閦樗鋤篨廚諔儊嘼膗嘬䦟橱濋憷膪踹儲檚斶黜臅歜璴貙櫉幮躇雛礎蟵蹰櫥齣觸鶵躕齭矗齼
chuan chuan,chuang 巛川刅传舛汌创闯氚玔串床怆钏牀刱穿舡荈疮剏舩剙船剶釧窓遄喘猭窗創瑏椽傳歂牎傸愴僢賗摐暷篅牕瘡幢噇輲踳窻磢闖鶨
chui chui,chun,chuo 辶吹纯辵炊垂旾杶春陙埀陲倕桘莼唇浱純哾娖娕菙捶萅脣淳偆逴婼婥啜涰绰惙搥棰椎圌腄媋堾湻犉萶辍锤槌椿槆暙瑃鹑滣蒓惷酫箠蓴漘睶踀綽蝽箺醇趠踔輟龊錘輴橁醕錞賰擉餟磭鎚顀䲠櫄戳繛鶉鯙歠鶞鰆嚽龡蠢齪鑡
ci ci,cong,cou 从匆丛此朿次词伺苁囱囪刺珁佌佽刾忩茐枞差呲茈茨垐柌祠兹泚庛茦怱徔玼瓷栨従疵趀皉莿閊悤從徖婃淙悰孮凑偨辝詞赐蛓絘棇葱琮愡湊跐辞慈甆楤辏楱腠鹚磁雌蔥蓯骢漗聡潀漎憁骴縒餈飺糍辤賜螆聪聦熜潨樅樬暰瑽璁賨賩誴薋嬨濨瞛錝樷輳鴜鮆蟌聰篵鍯藂髊礠繱叢謥蠀辭鏦鏓騘鷀鶿驄灇欉爜齹
cu cu,cuan,cui 汆伜忰怚徂卒殂促疩脆脃倅粋紣翆粗觕脨猝菆崔萃啐啛淬悴酢媨窜脺焠毳琗麁瘄嵟凗催缞瘁蔟趗誎墔慛榱獕摧漼翠綷粹麄醋憱趣踧噈撺槯璀趡膵橻瘯踿殩熶篡磪縗皠膬縬簇鼀镩簒竁襊濢顇蹙竄臎蹴蹵蹿攒櫕鏙顣攛巑欑穳躥鑹爨麤
cun cun,cuo 寸刌邨存忖村侟拵籿剉剒莝莡厝挫夎虘脞措逪皴搓嵯嵳睉痤蒫矬锉遳瑳错蓌踆磋蔖瘥澊墫撮銼醝蹉鹾錯竴膥鎈酂蹲鹺
da da,dai 大大亣歹打歺代达汏迏迖迚呆呔轪咑怛呾妲沓甙侢迨帒骀岱绐垈哒耷荙荅炟羍垯畓待贷带玳殆柋怠畗眔軑貣帯笚畣惮匒剳逹笪逮帶埭蚮紿軚袋答嗒搭詚達傣軩貸跶瑇跢褡靼瘩獃廗撘墶噠薘鞑叇曃蝳緿鴏鎝懛黛艜戴鎉蟽繨簤躂鶎鐽瀻霴韃黱襶靆龖龘
dan dan,dang,dao 刀刂丹旦石氹叨忉辺刐伔当凼圵朷氘导乭妉抌帎但岛担单瓭玬诞狚泹沊宕砀舠到単眈砃胆衴柦唌挡荡垱陦耽耼郸紞疸疍珰党档釖鱽島捣倒帱﨩聃躭酖掸蛋弹惮啖啗淡萏裆铛菪捯祷悼焘菿盗單殚媅赕啿弾氮蜑腅觛筜谠婸逿愓瓽禂盜道椡瘅亶誕窞蓞當雼嵣魛搗隝匰鄲頕褝箪馾僤噉髧潒碭嶋嶌翢稲槝勯儋撣撢賧嘾彈憚儅瞊趤蕩導稻噵艔衜殫擔黕憺禫澹駳鴠餤噹澢擋壋螩隯衟檤甔襌膽癉璫檔璗盪嶹擣壔蹈簞癚襠礑簜禱燾聸繵贉嚪蟷艡簹饏霮譡黨蘯翿黮鐺闣軇瓙攩灙欓纛黵讜
de de,dei,den,deng 邓地扥灯扽底恴得淂得棏惪悳登等锝豋戥嘚徳嘚僜鄧隥凳德噔嬁嶝澄墱鍀燈璒竳镫瞪磴簦櫈艠蹬覴鐙
di di,dia,dian,diao 刁弔氐电叼汈鸟仾地扚吊伄低廸狄厎邸阺诋坘坔杕旳弟玓甸阽佃刟彽奃岻苖迪的籴坻弤底呧抵拞苐枤怟典奌店坫虭钓柢牴埅帝俤敁点垫扂玷屌盄秪袛唙荻涤敌砥娣递逓埊钿凋窎訋调隄羝埞啲梑啇笛掋菧焍谛梊祶菂偙眱珶第釱掂婰惦婝淀彫奝弴蛁铞铫掉釣堤提趆靮觌軧觝詆睇揥媂蒂棣缔厧傎敟琔奠椣貂琱鈟滌髢馰楴禘遞僀腣鉪嗲嵮滇碘蒧殿鈿蜔電鳭碉竨蓧滴嘀頔翟嫡蔋蔐骶聜碲蝃摕遰蔕墬墑槇槙墊銱銚雿魡樀敵甋蝭締慸瘨蕇踮調镝諦踶嶳颠壂澱橂靛鮉瞗錭鲷雕窵瘹鋽磾藡嚁螮蹎點磹簓藋鞮豴蹢癜簟鼦鏑鯳顛顚巅鯛鵰嚸癫覿糴巓攧驔鑃巔癲鸐齻
die die,ding,diu 丁仃订帄叮艼奵饤忊玎丢丟钉盯疔町矴苵迭虰耵顶定咥峌挕绖垤恎昳胅哋酊訂爹瓞眣耊釘飣谍眰戜靪頂铤萣啶铥跌絰臷镻詄趃跕畳喋耋惵堞揲幉鼎椗腚颩殜叠楪牃牒跮锭碇碟褋蜨嵽鼑嵿碠銩蝶艓濎薡諜蹀鴩疂錠褺螲鲽顁磸蹛曡疉鰈鐤疊氎
dong dong,dou 斗东冬乧动阧吋冻吺抖豆東咚苳岽侗枓昸氡垌恫栋胨迵姛峒挏洞剅钭陡郖鸫倲凍胴戙都唗唞蚪读荳逗饾浢鬥菄崬崠涷埬娻笗動硐兜渎酘毭梪脰氭董湩腖棟兠鈄痘閗働窦蝀蔸鬦蕫嬞懂箽諌餖鮗駧橷霘篼斣鼕闘鯟鶇鶫竇鬪鬬鬭
du du,duan,dui 队叾对厾芏兊肚杜妒兌対兑妬祋独毒笃度耑段垖怼剢都读荰陮阇渎堵秺偳断堆隊牍椟犊赌琽靯渡媏短葮缎塅塠敦督嘟睹煅瑖腶椴痽碓綐裻読镀端褍锻碫磓對醏賭覩獤緞頧憞闍錖獨篤螙毈憝錞凟匵鍍殬斁鍴簖鍛鴭镦薱濧嬻瀆斷懟殰犢櫝牘瓄瀩譈皾騳黩鐜鐓譵轛髑韣讀贕豄蠧躖鑟韇韥蠹籪黷讟
dun dun,duo 伅多夛夺驮朵朶吨庉沌囤杕炖咄饳剁沲刴陊陏盹逇钝盾砘哆度哚挆柮柂垛垜挅尮趸顿剟铎桗﨣惇掇敚敓剫埵缍舵崜堕敦鈍遁毲敠敪喥痥惰媠鈬頓楯裰椯躲躱趓跺跥飿蜳遯碷奪綞墮憜撴墩墪潡壿凙墯噸撉犜燉踲澤踱亸镦礅嚉蹲蹾躉鬌軃鵽鯲嚲鐸驐奲
e e,ei,en,eng,er 儿二厄仒戹尔尒尓弍讹岋而耳弐阿迗吪囮阸苊呃扼厑奀児妸妿轭枙呝砐陑侕迩佴刵俄峉垩砈咹咢姶峎乻荋耏峏洏饵洱咡贰娿婀屙峨峩涐恶娥莪哦砨饿胺匎蚅恩栭胹毦栮珥珴訛阏鄂谔軛硆悪卾偔堊欸唲鸸袻铒貮鈋皒锇睋鹅萼遌遏崿愕堨堮湂惡軶豟鈪蛯椧聏貳衈粫蛾頋腭琧廅搤搹旕蒽摁輀誀誐磀锷鹗僫蝁誒煾鲕鉺餌爾噁鋨頟魤额頞蕚遻餓颚餩噩閼擜諤覨髵隭駬髶樲鳄騀鍔鵈鴯鮞薾邇額鵝鵞顎歞鞥臑譌礘襨櫮鶚鰐鰪轜趰齃讍欕齶鑩鱷
fa fa,fan,fang ⺁匚凡凣凢乏反方发払犯氾伐帆忛仮汎奿邡防访仿冹姂匥杋返饭泛芳汸坊妨彷纺沷坺佱法柉钒矾籵贩范枋牥房肪昉昘瓬放発垡茷阀疺罚峜珐浌舤畈钫眆栰砝舧袢烦軓訉蚄淓紡舫旊倣笩畨笲釩販笵盕梵趽訪堏發酦筏傠琺番棥軬飯飰鈁鲂彂煩瞂罰閥髪勫緐滼髣罸墢髮蕟蕃幡噃嬏憣墦樊嬎範錺鴋魴橃鍅旙璠膰薠燔橎藅襎繁輽旛繙翻藩羳轓颿蹯鐇礬蘩瀿瀪灋飜籓蠜鶭鱕鷭
fei fei,fen,feng ⺄飞分丰风凤发冯妃份凨仹讽芾吠芬帉吩纷妢岎汾坟弅坋凬妦沣夆沨非肥狒沸怫杮废肺氛昐玢炃朌枌忿奋凮枫奉飛朏胐胇昲费衯秎竕盽疯砜封風匪诽厞剕陫俷疿紛翂羒蚠蚡粉峰峯浲逢覂俸菲啡婓婔渄绯淝奜悱萉屝躮訜酚棻梤偾偑桻烽唪琒扉猆暃靟腓棐斐廃費鈖雰焚棼粪愤堼葑崶渢猦锋溄堸馮湗焨裶痱馚蒶犎楓蜂艂漨缝摓綘煈赗鳯蜚緋蜰翡榧镄隫僨碸瘋鳳蕜誹廢魵蕡幩獖墳濆憤瞓篈僼鄷鋒鴌鲱霏篚曊餴朆燌燓橨豮黺膹奮縫諷賵馡餥癈鼣鼢糞鲼檒騑蟦濷羵鼖豐鎽鏠騛鯡櫠豶轒鐨饙鐼瀵酆馩蘴寷灃蠭黂鱝靅靊飌飝麷
fo fo,fou,fu 乀阝仏夫巿父讣弗付缶伕邞凫伏甶妇负佛否妚孚呋妋佛刜芾芙芣扶甫抚附坲姇玞肤拂泭岪绂绋咈帗苻茀枎怫服拊弣府斧彿咐驸坿竎阜胕砆衭怤柎荂韨氟祓玸枹柫炥畐畉罘茯郛鳬俘垘洑郙俛俌訃負赴复祔峊紑缻缹荴尃娐浮哹莩蚨袚栿砩俯釜釡袝蚥梻旉麸趺紨翇桴烰琈袱虙艴紱紼符笰菔匐涪捬脯辅蚹副婦婏冨偩酜雬殕跗鈇稃幅葍絥罦棴腑盙焤傅復萯媍富赋蛗秿覄詂﨓椨綒筟鄜鳧艀鉘鉜颫辐福蜉綍蜅滏鲋腹椱缚孵粰箙稪榑韍豧腐輔赙複褔禣鴀膚鳺麩敷髴鴔蝠幞澓頫嘸撫蝮蝜緮蕧賦駙麬糐輻踾鮄諨鮒輹嬔縛黻襆癁鮲鬴賻鳆鍑鍢麱簠馥覆懯襥鵩鯱黼鶝鰒
ga ga,gai 丐乢轧玍尕匃匄夹旮钆乫凩忋伽尬改芥呷咖侅该陔郂釓尜荄姟峐垓钙赅晐祴畡盖絯隑絠鈣摡溉葢魀賅賌豥該蓋戤概槩嘎漑嘠噶槪錷瓂軈
gan gan,gang,gao 干冈甘仠冮夰迀奸忓芉刚扛杆攼玕肝汵旰纲岗杠肛㧏告吿姏泔苷坩矸皯衦秆盰绀㭎疘矼牨岡杲竿柑钢缸郜勂诰酐疳赶凎倝罡剛羔皋高羙峼祮粓笴桿敢淦紺堈掆釭崗髙皐菒祰凲稈詌骭犅棡港焵焹臯稁锆尴尲筸感幹摃堽筻搞缟筶鳱漧澉趕榦罁綱槓膏睾槔槁槀暠誥禞橄槹稿稾镐鋯澸擀鋼橰糕篙縞尶尷檊藁鎠餻藳檺鎬魐簳韟櫜鳡贑赣鼛鷎鷱鱤贛戆戅灨戇
ge ge,gei,gen,geng 个戈仡乬巪叾犵扢纥圪合各艮亘亙戓肐呄更牫疙匌佮刯庚饹咯茖阁挌革虼给哏茛畊郠哥胳格鬲敋哿個唟根耕浭莄哽峺挭绠埂耿鸽袼盖舸铬硌菮颈梗搁割葛隔裓蛤蛒臵愅給揯搄赓焿絚堩椩滒觡嗝滆塥嗰彁跟鹒綆暅歌戨搿槅膈閤閣箇鉻鞈骼韐镉獦縆緪賡羮鲠鴚諽輵骾鴿謌擱鮯鎶鎘韚櫊鯁騔鞷轕鶊羹
gong gong,gou 工弓廾公厷⺗龷勾功句共红巩杛攻汞贡沟佝芶供侊肱糼糿苟狗岣诟坸购构宫拱枸钩耇耉玽姤垢宮恭蚣躬栱拲珙唝貢痀袧冓龚蚼笱耈够夠啂匑鈎缑豿訽幊愩塨觥躳輁嗊鉤溝詬雊遘彀媾搆慐熕煹觏構匔碽鞏褠緱撀髸篝購覯觵簼鞲韝龏赣龔
gu gu,gua,guai 夃夬古瓜冎叧叏估杚诂汩谷姑沽泒孤苽咕呱股苦固刮呱卦诖坬乖拐怪轱柧骨牯故胍剐挂柺枴恠鸪罛唂唃家羖贾钴罟顾凅逧栝剮菰菇蛄笟蛊啒淈牿梏崮崓堌脵傦桰鸹掛啩罣軱軲觚辜酤蓇愲尳詁鹄馉棝雇祻歄煱絓颪鈲毂稒鈷榾嗀鼓鼔锢痼趏詿褂摑罫箍箛鹘榖嘏皷僱劀緺寡箉篐嫴穀縎踻颳橭鴣鮕糓薣錮鲴濲臌皼餶轂鴰盬瞽瀔騧鯝鶻顧蠱
guan guan,guang ⺌广卝毌丱広关观光灮犷纶串官贯炗炚炛冠矜覌泴茪咣姯洸垙俇倌莞烡桄珖胱逛馆掼涫惯悺貫蒄棺琯悹祼窤筦痯輄僙臦関管慣潅摜遦銧廣瘝輨樌黆錧館璭舘盥罆雚獷癏観闗鳏躀臩關鏆灌鰥瓘爟鳤矔鹳礶罐鱞觀鑵鸛鱹欟
gui gui,gun,guo 丨归宄氿圭轨攰过妫龟庋呙囯邽规匦陒佹诡昋刿刽炅炔柜国囶囻果茥闺皈姽垝恑攱癸軌鬼贵咶圀胿珪帰祪庪桂桧衮涡埚郭亀硅袿規匭袞绲惃堝啯猓崞國帼掴菓馃淉惈過廆椝媯晷湀蛫椢猤筀貴辊棍锅楇聒鈛腘褁椁腂郌瑰觤詭跪蓕蓘滚睔瘑墎摫閨鲑嫢厬瞆滾蔉緄濄蝈彉嘓漍聝幗蔮慖槨蜾粿綶裹嬀槻槼螝撌劌劊槶緷輥鲧磙虢膕輠龜璝瞡樻鮌鍋餜鮭簋檜禬瞶彍蟈馘簂歸雟鬶嶲蟡癐襘櫃鯀謴懖騩鐹瓌鐀鳜櫷鬹蘬鞼鑎鱖鱥
ha ha,hai 乤扖亥还妎呵咍哈虾咳孩骇紦海胲害氦铪烸蛤奤溌嗨餀嗐塰鉿酼骸噺駭鎺醢駴饚鱩
han han,hang,hao 乚⺳兯邗厈汉夯号犴汗屽扞闬行好佄邯含罕旱苀迒吭沆毜函炕斻杭肮昊顸凾虷绗巷垳茠郝昦侴秏竓哻唅娢浛圅浫垾悍猂莟捍涆桁珩蚢航笐颃皋蚝悎耗哠浩恏蚶焓梒晗琀涵崡菡焊晘釬閈貥裄毫晧淏酣頇嵅寒韩喊皔睅絎筕椃傐皓鄗甝筨蛿傼馯感颔頏蒿嗥獆貉聕號滈谽嫨蜬蔊漢撖蜭爳豪獔噑暤憨鋡澏熯銲鋎暵魧嘷獋暭皞皜澔镐馠魽頷憾螒翰撼薅薧嚆儫薃皡曍鼾韓㘎顄駻濠壕嚎皥豃雗譀颢瀚蠔籇鶾譹顥鰝灏㘚灝
he he,hei,hen,heng 禾纥合吓行诃何亨呵抲和咊郃劾姀河佫佷盇柇狢峆饸阂曷籺紇贺垎拫很哏狠恨恒恆姮欱牙釛荷核敆盍盉害哬袔哼涥悙珩胻烆桁涸渮盒菏萂啝龁寉焃黒痕脝鸻啈訶喝訸颌惒鹄猲賀粭黑嗬楁澕毼阖鲄詥貉貈鉌碋嗃煂遤嗨詪閡餄麧熆鹖熇褐赫撗頜鹤嘿潶鞎横魺螛翮篕翯橫衡餲癋謞壑嚇鴴鵆鞨齕闔礉燺爀覈蘅蠚鶡皬鑉鶴鶮龢鑅鸖靍靎靏
hong hong,hou,hu 互弖户戶戸仜弘讧乎叿妅屸红后匢戏虍冱芐吽呍灴纮玒汯吰闳宏吼犼芴抇囫乕汻护沪沍帍轰宖苰泓玜郈苸呼泘垀昒忽曶狐弧和虎戽岵怙枑昈哄訇垬沗虹紅洪娂荭羾侯矦厚茩後逅洉垕恗烀轷瓳胡浒祜怘烘翃浤紘耾竑唝晎訌候匫核壶隺俿笏粐軣鸿硔紭谹鄇唿惚淴虖壷斛焀萀唬瓠扈婟焢硡揈渹鈜閎粠竤渱葓葒葔帿喉猴堠豞軤鹄絗壺猢搰湖喖葫媩虝琥楛雇綋谼翝鲎雽煳楜瑚綔嗀嗀鄠鉷鞃魟潂閧睺瘊銗鲘雐滹嘑寣鹘鹕蔛嘝滸嫭嫮蔰滬摢谾鋐篊銾撔澒篌骺糇翭幠糊歑蝴箶槲魱衚槴熩鳸薨輷黉霐彋蕻闂鬨膴頶醐螜縠錿鍧嚝霟鴻闀翵鍭餱鮜鍸餬觳鍙豰簄謼鵠嚛鹱齁鬍瀫鯸鶘鶦鰗護轟鳠頀黌鱟鸌鱯
hua hua,huai 化华划夻花呚怀坏话杹枠画哗砉骅姡徊華桦崋婲埖铧釫釪婳椛淮猾滑畫硴蒊嘩搳撶畵嬅觟話糀槐劃磆鲑摦樺誮錵螖鋘蕐槬澅嫿諙諣褢踝褱懐壊譁黊鏵舙繣懷瀤壞蘤驊譮櫰鷨耲蘹蘾
huan huan,huang 幻欢巟犿还肒奂肓郇环怳狟荁峘洹奐宦荒衁皇恍炾桓唤换涣浣眩烉宺晃晄萑萈焕梙逭患朚隍凰偟黄谎奛寏堚雈絙缓睆嵈喛喚渙換愌痪塃慌黃葟徨遑喤媓崲揘湟堭惶綄貆獂羦豢瑍煥煌楻瑝幌詤滉愰锾瘓漶锽墴潢獚熀榥歓鴅緩鲩槵熿蝗璜艎篁曂皝圜澴缳寰嬛還阛澣擐諻穔癀磺縨謊鍰環豲蟥簧餭鳇鍠兤鵍镮鹮藧鯇韹趪櫎鎤酄糫繯攌騜鐄皩嚾孉獾懽轘鯶鰀鰉歡鐶闤鱑鷬鬟讙貛瓛驩
hui hui,hun,huo 灬火囘卉屶屷汇戏灰灳回虫讳会邩伙囬忶吙沎炜诙佪廻泋昏诨佸和货或咴挥拻洃恢袆虺廽茴迴恛洄浍绘哕诲荟芔昬荤浑俒活钬咟珲烣晖豗蚘烠逥悔贿烩桧恚恵珲圂倱秮俰获捇眓閄堕婎痐晦彗秽阍婚涽惛混馄婫掍秴秳貨掝祸喐剨媈揮隓辉翚蛔蛕絵翙廆惠喙缋阓湏殙棔葷渾焝耠鈥湱禍惑旤暉禈睢煇楎詼蜖毁毀滙匯會彚彙賄詯㱮颒睧魂琿溷锪煷漷蒦窢睳褘幑誨瘣僡嘒蔧睯蔒慁睴觨尡夥噅噕撝翬輝麾蕙潓寭圚憓槥暳慧劐毇橞諱嬒獩濊薈薉徻頮璤閽餛諢嚄鍃霍濩獲奯擭徽隳鮰燬檓餯藱篲檅燴璯轋豁檴雘謋瀈繢穢瞺蟪嚖懳穫镬矆繪翽譓櫘騞攉彟瀖嚯藿蠖耯艧蘳譭鏸儶闠嚿曤臛靧鐬矐癨鑊鰴譿顪鼲韄靃彠
ji ji,jia 几亼亽及己彑讥丮计旡叽击刉饥伋记加甲圾机刏乩芨玑肌彶吉汲岌级忣妀犱纪伎齐﨤夹价鸡矶极即泲系忌坖际芰妓技夾伽抸扴圿忦奇其枅亟郆佶虮剂季拁泇佳茄迦郏岬驾咭卽姞叝急皍級笈革济给挤迹垍既紀荠茤茍洎哜計珈浃毠枷郟荚叚玾胛架唧剞姬屐积畟笄飢觙揤疾堲脊記剤紒觊继浹家痂莢唊恝钾贾斚基庴楖焏偮卙谻掎鱾绩悸梞旣祭偈徛寄寂済耞笳袈梜脥铗戛假喞嵇嵆幾赍犄筓缉朞集殛戢棘極湒戟葪蔇惎臮葭傢跏猳戞裌蛱颊婽徦斝稘畸嗘跻鳮塉嵴楫辑愱蒺嫉蝍趌麂跡鬾魝裚痵継蓟際兾勣腵筴鉫犌蛺跲椵賈鉀嫁幏嗧銈僟綨緁箕毄銡耤膌槉魢漈漃禝穊稩暨魥鲚霁跽誋嘉槚榎嘏瘕榢稽鹡觭躸諆緝畿嘰槣齑嶯潗濈蕺蕀瘠箿踑踖撠諅鲫暩稷樭撃镓頬鋏價駕錤機禨墼激隮襀積璣輯螏檝橶穄曁冀劑薊髻豭貑鴐頰稼糘磯羁賷簊擊藉磼襋蹐鍓穖擠覬薺嚌濟檕績罽繋鴶檟櫅耭雞艥蟣璾檵蹟鵋鯽齌鎵鵊韲鶏譏鯚懻癠穧骥蘎鯲廭譤鐖饑籍鏶霵轚蘮瀱繼鱀麚躋鷄鞿魕癪鶺齎羇虀鑇鰶鰿鷑霽蘻鑙齏覉羈鸄躤覊鱭驥雧
jian jian,jiang,jiao 见戋匞艽叫尖幵奸囝件江讲匠弜夅交间歼坚見臫角呌浅戔冿玪肩艰枧拣建饯降郊侥佼姦姧俭茧柬贱洊荐剑牮茳将姜奖洚绛茭茮骄娇姣峧浇狡饺挢绞挍峤觉訆兼监笕倹捡挸珔舰剣健俴涧栫浆畕豇桨胶烄晈捁笅珓校轿较笺豜菅菺猏惤渐堅湕帴减剪检梘趼剱谏徤袸將弶教䴔矫皎脚铰敎窌缄溅湔葌間雃犍牋詃検锏睑硷裥堿減揃揀毽臶腱践跈寋楗旔葁蒋傋塂强絳焦椒蛟搅湫絞筊窖瑊椷椾睷碊蒹搛缣煎暕谫弿瑐絸筧简賎鉴键豣畺奨酱跤賋勦剿腳敫煍較滘蔪箋戬戩碱監槛榗漸僭彅摪翞奬蔣勥滰虠鲛僬暞僥摷踋鉸餃漖嘄嘂嘦斠酵鲣緘鹣樫蕑蕳熞鳽儉翦劎劍澗箭糋諓賤踺踐趝墹僵螀漿槳獎嵹摾蕉澆憍嶕嶣嬌膠撟撹儌徺劋嶠噍潐熸縑鋻篯撿餞諫鍵薦劒劔薑缰壃膙耩犟膲徼敽缴憿敿嬓獥噭餰馢鞬艱藆襇襉檢謇蹇鍳瞷磵礀麉殭橿螿鳉講糡醤鮫穚鹪礁鵁矯曒璬鞯鳒瀐鵑謭簡繭礆瞼繝濺檻擶礓疅醬糨簥轇蟭蟜皦藠鵳殱礛鬋鹸鰎瀳譛鏩覵覸疆繮顜謽櫤繳譑轎醮趭瀸鰔蠒鐧鐗瀽艦鐎嚼孂譥鰜鶼殲櫼譼鹻轞鐱韀礷鰹譾籛鑑鑒韁鱂驕皭囏虃襺鷦鷮灚攪鱎鹼鑬釂韉鑯鑳龣
jie jie,jin 卩卪孑巾尐丯介今仐斤仅节讦钅阶价尽伒劤疖刧劫岊刦杢昅芥岕庎吤戒妗劲进近杰疌衱劼刼诘毑姐届屆玠金釒卺侭枃兓皆结狤洁拮迼疥砎界畍衸诫觔矜衿荕津巹浕勁荩砛桔桀訐莭倢借蚧悈桝珒紟矝紧浸赆烬晋晉階接掲秸痎偈偼菨婕崨捷掶袺媎徣唶琎惍堇菫祲進唫街揭嗟喈喼媘嫅堦椄湝脻蛣絜結媫傑颉堺釿堻筋煡琻楷煯鉣嵥搩滐節睫詰蜐楬楶解觧飷楐琾骱蛶禁厪谨僅锦缙溍寖搢靳稭鞂榤截鲒碣竭蓵誡犗嫤馑漌蓳廑緊盡墐瑨蝔擑潔镼鞊頡誱踕羯褯魪璡黅鹶槿瑾歏殣凚僸觐幯儘錦縉賮噤濅嶻擮鮚礍鍻檞鎅藉濜嚍藎嬧壗謯癤巀襟謹燼璶覲蠞饉鶛蠘贐蠽齽
jing jing,jiong,jiu 冂丩九久乆井勼乣丼冋纠氿匛旧阱朻牞汣奺臼巠坕坙刭宑汫坓劲妌囧冏鸠究糺灸玖杦泾茎京径经汬肼迳弪净迥泂炅糾舏疚咎亰荆荊秔穽剄浄俓婙胫坰扃炯逈侰赳韭柩柾涇莖弳逕倞徑凈竞痉埛浻阄紤镹酒桕倃婛猄惊旌旍菁経殌竟竫淨桱梷婧脛烱絅萛匓厩救稉葏晶腈景靓敬竧痙颎煚窘啾揪揂湫韮就廄廐睛經粳䴖傹靖綗鳩揫舅精綡聙兢儆頚静獍誩踁境僒煛摎廏僦幜澋憬璄靚駉熲樛慦鲸璟璥憼暻頸靜镜曔橸駫褧澃殧瀞顈燛舊鹫蟼鵛麖鶄鶁鯨警鏡蘏蘔鬏鯦麔匶競鼱齨欍驚竸鷲麠鬮
ju ju,juan,jue,jun 亅孓孒车巨凥且句讵决刔诀氒军抅局苣邭姖岠拒洰怇奆角芵弡決抉君汮均龟呁拘泃匊狙岨苴驹居泦弆咀沮柜炬歫拠具昛呟卷劵泬玦玨侷狊枸举莒矩秬钜姢帣巻珏觉疦砄虳绝挗袀軍姰钧郡陖俊陱毩捄挶眗疽砠罝桔挙剧俱倨倶袓蚷耟粔娟捐涓埍狷勌倦桊绢悁隽捔倔蚗欮莙蚐骏峻馂捃浚埈隽梮蛆掬据涺崌娵婮郹焗菊啹婅淗詎距埧埾惧圈焆朘菤捲眷鄄淃瓹脚桷斍覐觖訣赽掘崛崫趹桾菌皲焌晙珺毱趄跔跙椐琚腒锔湨椈椇筥犋鉅飓鹃裐腃睊罥絭鈌焳傕厥趉覚絶絕鈞葰竣畯棞雋裾雎輂犑龃榉榘蒟虡豦锯锩絹睠阙碅筠蜛艍䴗閰跼粷窭寠聚愳駏﨔勬镌慻蔨劂谲瑴駃覠銞皸皹銁蜠箘箟賐儁躹諊踘鋦駒趜聥鮔踞屦劇勮鋑踡餋噘撅撧鴃鴂瘚爴觮獗噊蕨蕝熦憰嶡嶥鲪寯懏餕鴡鮈橘舉踽遽據澽懅窶壉鋸錈臇獧噱憠橛橜頵麇燇鞠檋駶擧颶屨镢臄爵鍕駿濬鞫鵙繘貗鎸羂屩櫭蟩蟨鮶麏鵔鵕鵘鶋鵴蹫簴屫譎爑蹶蹻蹷麕攈鶪鼰巈蘜櫸齟醵躆鐫鐍鐝矍鳜嚼匷覺欅鐻懼讂觼爝灍鼳襷籧攟蠲戄攫玃彏鷢䦆矡驧貜躩钁
ka ka,kai,kan,kang,kao 凵丂开龵亢卡凧刊冚尻扛匟邟伉考攷佧忾坎忼闶犺抗囥咖咔凯剀炌侃炕咯胩垰奒闿恺垲看砍衎砊钪拷洘桛烗欬栞莰崁粇烤栲裃閊铠勓龛勘偘惂康铐喀開揩锎慨剴蒈凱嘅嵁堪欿閌鈧鉲綛嵦愷楷塏輆愾戡歁嵪聢锴暟槛墈阚嫝嵻漮慷熇犒銬鲓輡槺髛靠廤磡瞰穅鍇糠鮳鯑鎧闓鎎顑躿鯌鶍颽闞鏮鐦轗竷鬫鱇龕矙
ke ke,ken,keng,kong,kou 口孔可厼叩肎阬劥扣壳克吭妔坑芤抠匼苛坷呵岢刻迲肯肻空劶怐牱牁珂科轲柯咳炣勀勊客峇恪垦眍敂钶疴砢趷娔课恳挳硁倥恐宼冦蚵殻渇骒氪堁硛啃掯硍裉牼崆涳埪悾控寇釦痾軻颏棵萪殼翗揢渴敤嵑衉愘缂嵙铿硜窛筘稞犐搕鈳窠溘愙锞嗑兡豤貇褃硻硿剾颗薖榼碦誙摼箜摳彄蔻蔲滱樖頦瞌蝌磕嶱緙艐課銵躻錓瞉錁穒錹墾瞘顆髁醘懇鍞鞚簆礚騍礊鯑鏗鵼鷇
ku ku,kua,kuai,kuan,kuang 巜凷圦邝夸会匡夼纩圹库块快狂狅抂忹况旷刳郀矻苦狜侉㧟侩郐邼劻诓岲況矿枯绔俈咵姱垮挎浍哙狯哐洭恇匩诳昿贶桍哭秙庫胯趶脍宽眖砿框堀焅袴萙欳梡欵硄軖軠絋眶圐跍楛裤絝喾舿塊款筐絖貺軦窟瘔誇跨蒯筷寛歀筺軭誆鉱骷酷銙鲙寬誑褲骻墤鄶儈鋛擓廥澮獪噲窽儣鄺鮬膾窾懭壙黋臗鵟爌曠懬鶎糩旝髋穬矌礦嚳纊鑧鑛髖鱠
kui kui,kun,kuo 䙡亏归扩困岿刲坤昆拡奎尯括挄悝晆捆悃阃涃栝盔隗鄈逵馗傀匮晜裈堃菎猑崑崐壸梱祵堒揆葵喹骙蒉喟媿馈溃愦愧焜琨髠稇硱裍睏蛞筈萿葀阔窥暌戣楏楑魁煃跬頍髡锟鹍裩綑稛壼廓睽磈匱褌蜫髨潉聧蝰蕢嬇嘳憒潰聩聭䙌篑醌瑻熴閫頢窺頯謉殨膭錕鲲閸髺虧鍨鍷櫆藈餽韕鞟闊擴濶顝蹞簣聵騉霩闚騤鵾鯤鞹籄饋鶤巋夔蘷鬠虁巙犪躨
la la,lai,lan,lang,lao 耂兰旯凩老来岚劳労牢拉垃來拦勆郎佬柆剌俫栏览烂郞郎窂荖咾姥狫恅络砬莱徕崃涞倈郲浨欴莨狼朗阆崀浪埌捞涝浶唠哰崂栳珯烙菈啦翋梾徠逨庲唻婡猍崍淶萊赉萙惏婪啷桹蓈廊嫏琅斏朖烺铑硓喇揦落腊溂铼棶琜睐筙嵐阑葻揽缆稂锒硠瑯榔勞铹痨閖落粩搚楋揧赖睞蓝榄滥蜋艆筤郒蓢塱蒗嗠酪耢蜡蝋辣辢瘌箂谰漤罱躴螂樃誏僗銠嫪蝲賫賚澜褴醂鋃閬撈嶗潦獠嘮澇憦躼磖臈錸濑賴頼斓儖篮覧壈懒燗鎯朤憥橯朥鞡鮱顂镧闌藍襕懢燷燣濫嚂癆磱邋藞癞癞騋鵣璼擥爁蟧簩醪耮鬎臘攋爉麳鶆鯠籁藾瀨瀬襤幱譋懶嬾轑軂嚹瓎櫴镴鯻繿籃蘭蘫瀾灆攔孄鐒顟蠟襰癩欄斕覽爛瓓籟襴髝鑞灡囒籣孏讕躝欗攬灠爤襽鑭爦欖顲糷纜钄韊
le le,lei,leng 仂阞忇艻叻扐氻乐朰肋玏厽耒肋泐冷竻诔泪洡垒类砳涙唥倰勒勒累淚堎絫塁棱塄愣楽榁傫雷誄楞稜碐睖嘞餎韷蔂缧嫘漯酹銇樂畾樏蕌磊頛頪踜擂磥蕾錑薐簕儡縲檑攂镭礌藟壘癗颣鳓櫑瓃羸櫐類矋礧礨罍纍蘲鐳蠝灅纇鰳轠蘽讄蘱鑘靁儽壨禷虆欙鱳鑸鸓纝鼺
li li,lia,lian,liang,liao 力了历礼厉屴立辽刕礼朸吏両尥丽里李呖励利叓苈坜沥连奁良两疗钌尦沴岦枥苙例戾疠隶怜帘练兩炓厘俚峛峢疬砅赲俪俐荔茘郦栎栃轹俩炼俍俩亮哩骊剓荲狸离峲逦娌猁悧珕栗栛涖浰莉莅娳砺砾秝鬲唎涟連莲恋莨凉凉倆唡谅哴悢倞釕料梨梸犁琍悡菞理蛎蚸粝粒笠婯唳脷悷梿敛琏脸殓梁涼啢掚辆聊喱犂棃鹂锂裡裏棙傈凓厤跞詈蛠痢雳裢联裣堜僆萰媡湅链椋辌量脼晾喨湸靓尞缡蜊艃筣漓蓠剺裏豊鳨睙鉝厯蒞蒚搮溧塛慄甅睝粴魞廉慩蓮亷漣溓嗹摙煉楝瑓粮粱裲輌鄝嫠孷樆璃盠貍暦歴瑮厲綟蜧聢竰匲奩槤熑覝璉蔹潋踉墚蜽緉憀膋僚寥嵺漻蓼廖撂鋫鲡黎褵犛蔾鋰鲤蝷糎鲢聨聫磏褳憐匳劆噒嫾練樑輬諒輛撩潦缭嘹嶚嶛寮嫽獠遼敹憭縭篱罹錅澧篥鴗隷勵歷曆濂濓薕螊聮縺翴嬚澰錬魉鍄暸璙膫燎橑窷謧醨蟍禮巁濿檪隸鬁磿癘聯謰蹥燫櫣臁鄻斂歛臉鍊殮駺魎療鹩竂瞭镣釐離藜嚟邌鯉犡爄蠇櫔曞禲擽儮鯏鯐镰鎌襝鏈糧蟟繚簝賿豂蹘廫藔屪斄瓈鏫鵹鯬蟸嚦攊藶瓅櫟瀝壢礪麗簾蠊瀮羷蹽爎镽黧醴礫蠣爏糲盭櫪瓑皪鬑蘞蘝鰊瀲爒飂髎鐐蠡蠫灕囄蘺鳢酈儷癧礰麜鷅鰱鐮飉孋廲邐轢觻躒囇攦劙鑗欐讈轣籢籨戀鷯籬穲鱧靂瓥攭纚鱱欚靋驪纞鱺鸝
lie lie,lin,ling,liu 厸六令另列劣刘邻阾吝伶刢灵陆劽冽拎林坽囹夌苓彾呤姈狑泠岭岺畄挒茢迾咧姴洌挘临恡柃朎昤瓴玲炩浏斿柳栁桞珋浖埒埓烈哷烮栵冧悋赁皊秢铃竛鸰砱陵羐凌袊流留捩䴕猎猟啉崊淋菻菱淩崚掕婈棂琌蛉聆紷衑翎舲笭绫羚领琉旈桺绺翏裂蛚晽粦琳焛詅軨跉祾棱畱裗硫锍聗趔煭碄亃賃裬蓤龄鈴閝零溜遛旒蒥蓅骝媹嵧馏廇塯碌粼箖鄰隣隣僯蔺綾蔆領熘飗榴瑠綹巤颲遴潾嶙獜凛凜撛輘霊駖澑镏瘤瑬劉磂駠鹠鋶罶熮暽辚燐斴璘霖澟懔懍廪廩橉甐膦閵鹷鴒魿霗鲮錂蕶澪橊疁镠璢橮鹨磟鴷鮤儠瞵磷疄臨檩檁燯霛霝齢嶺蹓癅蟉駵獵擸繗翷麐癛癝麍鎏鎦嚠瀏懰藰羀嬼餾霤犣轔蹸藺鯪酃鏐飀雡鏻鳞瀶壣孁齡蘦騮鐂飂鬸躏櫺飅鶹鰡躐驎驑鷚鬛麟鱗躙醽靈鬣鱲躪轥麢欞爧龗
long long,lou 龙陇弄茏咙泷拢垄垅陋栊昽珑胧娄竜眬砻哢聋笼隆梇婁偻屚湰搂蒌溇喽嵝滝楼漋槞嶐漊慺蔞遱廔嘍嶁摟塿漏镂瘘䁖熡樓蝼耧甊篓窿篭龍癃篢瞜瘺瘻耬艛螻簍軁謱髅鏧霳隴儱鏤巃巄瀧嚨蘢壟壠徿髏鞻爖櫳瓏曨襱朧攏露矓礱礲龒竉鷜龓籠豅躘聾蠪蠬靇贚鑨驡鸗
lu lu,luan,lue,lun,luo 六仑卢圥甪伦论芦庐卤陆卵乱寽抡芲沦纶囵泸垆炉枦虏侓录彔坴侖轮罗剆泺栌胪峍轳娈峦孪洛咯骆峈荦络鸬舮赂辂陸勎焒栾挛釠倫陯捋倮烙洜珞舻玈颅掳鹵娽逯菉渌淕淥硉绿鹿閊脟鸾畧掄圇淪菕婨崘崙埨惀啰萝逻猡脶硌鲁硵椂禄祿琭鈩脔棆腀落腡椤硦絡跞笿鲈虜勠僇剹稑盝睩碌賂輅路滦亂稤碖稐溣嗧锣蓏裸詻馿蓾滷塷粶箓蓼蔍廘漉摝塶銮蜦耣綸骡箩雒犖摞漯噜撸魲澛樐魯辘戮熝樚膔踛醁趢鋝鋢輪踚論躶盧磠橹擄録錄錴穋潞蕗氇錀磮頱镙瘰駱謢穞镥璐簏螰鴼鵉螺鵅鮥鮱擼嚕瀂蹗騄轆簶鹭濼璷壚瀘蘆廬嚧獹攎氌櫓艣鏀簬簵鏕鵦鵱麓鯥鯩羅覶鏍蠃爐櫨曥瓐臚矑鐪艪騼鏴露騾覼蠡儸臝艫籚蠦罏纑籙巒孌奱孿圝囉邏蘿玀攞鑥轤攣灓欒曫欏驘曪鑪鷺虂羉鸁髗顱臠籮纙圞虊灤癳鱸鸕鑾鑼饠黸癴囖癵鸞
lü lü,lüe 吕驴呂郘侣闾侶挔捛律垏捋旅梠祣虑偻铝稆绿率掠略絽屡缕氯葎嵂锊榈僂滤閭屢膂褛鋁綠緑圙膢氀履慮膟箻褸膐縷儢繂勴櫚藘濾爈櫖穭鑢驢
m m,ma,mai,man,mang,mao 龴亇马毛冇冃劢邙矛夘卯妈孖吗犸买迈芒吂汒忙呒玛杩祃麦佅売牤尨杧杗芼皃呣姆抹码卖氓盲盳枆茆茅牦戼峁泖茂冐毟蚂骂閁荬脉笀恾茫厖昴冒贸柕眊馬唛唜埋脈埋悗娨屘庬哤娏狵浝莽旄罞铆耄麻麥曼牻釯铓硭莾猫軞酕渵笷覒袤傌買衇蛮満痝硥茻堥貿鄚萺帽媢媽嗎痲痳獁溤睰谩满鄤僈蛖壾漭楙锚鉚蓩毷暓瑁愗嫲蔴瑪嘜禡榪嘛勱嫚蔓馒摱慲滿蔄幔獌漫缦墁慢鋩髦鉾鄮貌瞀摩犘碼罵魸嘪賣邁蕒樠瞒熳槾貓蝥氂髳蝐蟆螞駡蟇颟瞞鞔螨镘澷襔蟒錨薶霡蟎縵駹蠎蟊懋鎷霢謾饅鳗鏋鏝蘉鶜鬕顢鷌鰢鬘鬗霾鰻鷶矕蠻
me me,mei,men,meng 乄么门匁扖们庅毎扪没沒坆每闷汶尨苺枚玫妹抺沬玧钔門甿氓黾孟栂眉美凂袂昧祙虻脄莓挴浼羙眛閅們莔勐冡郿脢梅珻谜菛捫焖掹萌猛梦睂堳湄湈葿媒猸嵋嵄渼媄寐媚跊鬽痗悶椚腜瑂禖楣楳煤媺煝蒙溕盟锰夢酶槑镅鹛塺镁魅韎睸鄳甍蜢艋夣鋂霉嬍蝞篃璊暪蝱鄸儚蕄瞢橗燘躾穈鍆燜擝幪濛懞錳獴懜嚒濹鎇徾糜鎂懑檬曚氋朦嚜懣鹲礞鯍矇懵霥嚰黣艨蠓鯭攗鶥矒饛霿靀亹顭鼆黴鸏虋
mi mi,mian,miao 冖宀丏汅米糸芇芈汨沕杣沔免劰妙弥羋侎沵泌怽宓觅鼡靣苗杪庙咪祢迷洣弭祕峚勉俛眄面秒眇竗玅敉脒宻秘袮粎眠娩眯猕谜覔覓密淧裃绵婂渑偭勔冕喵媌描庿蒾渳葞幂谧椧媔棉葂喕湎睌缅愐渺缈淼詸蓂幎覛塓腼瞄鹋瞇蔝銤蜜榓鼏蔤滵漞嘧熐綿緢嫹缪冪樒臱蝒緜緬澠麪麫糆緲篎廟謎醚幦濗靦麺糜縻麋麊麿藌彌擟濔謐嬵藐邈禰簚櫁羃檰鮸靡櫋矈矊鶓麛瀰獼蘪嚸矏麵镾蘼戂攠瓕孊灖爢欕醾醿鸍釄
mie mie,min,ming,miu 乜灭民皿吀名冺刡忟闵玟苠姄岷怋旻旼黾抿泯忞垊明鸣佲命咩旀盿砇珉敃勄闽眀洺茗姳哶孭烕罠悯冥崏捪敏笢笽眳朙铭掵缗琘琝閔黽惽湣鄍凕搣滅瑉碈痻鈱敯暋愍蓂溟嫇猽詺慏酩谬蔑緍閩僶銘鳴榠暝缪緡潣憫慜瞑薎鴓錉鴖螟幭篾瀎懱鍲覭櫗簢謬礣鳘蠛衊蠠鑖鰵鱴
mo mo,mou,mu 丆万无匁木末母目仫厼乮牟牟圽没牡亩狇沐抹沫陌妺茉帓殁歾歿劺侔呣姆畂拇坶苜牧炑尛枺昩脉帞冒哞恈某畆畒姥峔牳胟莫莈皌秣砞眜眿袜毪砪畝畞毣莫莯蚞钼絈眽裃酛谋眸谟貃蛨蛑畮雮募摸嫫馍貊塻蓦嗼漠寞獏鉧慔幕幙墓鉬睦楘榁模摹膜麽麼銆靺缪踎氁模踇慕暮暯摩魩黙嫼嘿墨瞐瞙瘼镆魹艒霂橅磨糢默謀縸穆謨謩嬷嬤懡貘鍪麰鴾繆嚤擵饃蟔鏌藦鞪蘑爅髍魔癦驀劘纆礳耱饝囕
na na,nai,nan,nang,nao 乃内艿奶那凪氖囝囡乪呐吶妠纳疓男乸肭郍廼佴奈抩枏呶怓闹南拏哪娜钠衲迺哪柰耐柟侽南挠垴恼拿袦納倷釢莮畘难娚孬峱悩脑雫笝軜豽捺萘赧铙硇脳匘淖貀鈉腉渿喃萳揇湳婻遖蛲詉猱堖惱嗱靹蒳楠暔煵腩碙瑙嫐腦閙搻鼐碯镎魶魸褦蝻撓鬧噺螚錼諵擃嶩憹孻嬭鎿嚢蟯獶臑難譊夒鐃曩囊獿巎戁蠰儾囔馕攮灢欜饢齉
ne ne,nei,nen,neng,ng 丆匁内內疒那讷那呐抐鼡氝哪哪氞娞馁恁能唔眲訥脮腇嗯嫩嫰縇餒錗鮾鯘
ni ni,nian,niang,niao,nie,nin,ning,niu 乜卄廿牛牜尼鸟囜宁屰氼年帇拟你伲伱尿圼佞妞汼狃扭纽忸妮泥兒呢坭怩苨妳狔抳拈秊秊念茑苶苧咛狞拧侫泞炄杻拗籾柅逆胒昵哛哖姩袅枿陧拰柠钮秜铌郳倪屔匿眤秥涊娘捏涅聂痆臬脌倿紐莥淣婗猊蚭埿掜旎堄粘淰捻唸埝惗鳥脲捻隉菍啮您聍棿跜晲惄辇焾揑湼敜甯寍寕鈕鈮孴腻愵溺嫟睨鳰鲇嫋裊溺嵲嗫寗寜靵馜蜺聣暱蔫辗艌酿蔦踂寧輗觬貎縌誽碾輦撵撚樢踗踙摰镊镍噛槷澝鲵霓隬儗儞膩鲶鮎嬢褭嬝嶭篞臲錜颞凝儜橣薿擬嬺嶷黏簐蹍嬲蹑擰獰嚀薴嬣濘檷攆聶嚙鎳闑檸麑鯢鯰蹨孽孼矃聻孃醸櫱蘖籋聹躎囁齧鑈巕蠥糱糵鑏齯釀囓鬡臡躡讘鸋鑷顳钀
nong nong,nou 农弄侬浓哝挊脓挵秾農槈辳儂蕽濃噥耨膿燶檂禯獳穠襛癑鎒檽鯑繷譨醲羺鐞欁鬞齈
nu nu,nuan,nun,nuo,nü,nüe 女奴奻那伮努沑驽孥弩呶钕疟怒娜挪籹衂虐砮莻梛诺恧朒衄笯胬逽喏掿釹傉渜傩愞搙煗暖搦锘榒稬駑諾蹃橠鍩糑餪懧懦糥穤黁糯儺
o o,ou 丆仒区乯讴沤呕吘怄迲欧殴瓯鸥哦猠硛偶旕筽鳰腢塸嘔慪漚噢縇熰歐鴎甌膒毆蕅耦穒謳藲櫙藕鏂纐鷗
pa pa,pai,pan,pang,pao 丬爿叭汃扒乓仿妑帊沠扳冸判伴沜彷厐抛刨苩杷爬帕怕拍迫拌坢泮拚炍庞炐肨拋泡庖咆狍垉奅派皅趴巼派哌眅洀柈胖牉盼叛逄胖炰炮爮舥耙袙俳般畔袢胮旁眫袍疱皰砲啪徘猅排渒萠盘脬萢匏袌葩掱琶棑牌湃蒎番跘詊雱舽軳跑喸筢蒰幋媻溿滂嫎徬嗙箄槃搫頖膀膖鞄靤潖輫潘盤磐鋬磅麃褜䎬縏螃耪麅麭鎃闏磻蹒覫簰簲蹣鎜蟠瀊鵥鳑攀鞶龎髈礟龐霶鰟礮襻鑻
pei pei,pen,peng 阫伂芃犻沛匉呸怌肧佩帔瓫呠抨泙怦朋胚俖姵斾盆恲竼衃陪旆珮配浿砰莑倗捀培喯硑烹梈堋弸袶捧淎皏掽赔毰喷葐湓軯彭棚椖椪锫辔蓜閛剻搒塜塳傰蓬稝鹏硼碰裴裵馷漰樥熢槰醅賠霈噴濆嘭駍澎憉輣踫輧錇歕磞錋篷篣膨韸髼翸鬅蟛蟚纄蘕韼鵬鬔騯鑝轡
pi pi,pian,piao 匹片丕皮庀伓阰仳圮朴伾批纰邳陂芘苉吡否屁囨坯炋枈披抷狉狓岯肶枇迲砒毗毘扁便骈紕被秛秠铍悂郫陴疲蚍胼莩旇耚翍蚾蚽豼埤啤崥脴淠偏谝覑票殍豾鈚釽琵焷脾腗椑痞揊媥腁缏貵骗鉟裨鈹鲏媲嫓睥辟犏楄楩賆跰剽勡僄銔蜱罴膍銢稫潎褊嘌彯漂缥嫖徱骠慓髬駓磇劈隦魮鴄諀嶏僻翩篇骿飘噼錃魾錍鮍壀擗澼駢蹁諞瓢瞟憵篺螷鵧貔噽甓旚螵翲薸縹篻鎞礔礕癖䴙騈醥羆嚭騙騗犥闝疈譬鶣飄飃魒顠皫霹鼙闢驃鰾蠯鸊鷿
pie pie,pin,ping 丿朩氕冯平牝乒汖甹评苤拚贫玭苹郱凭呯坪岼拼姘砏品俜枰玶胓屏洴帡荓娦娉娉涄砯瓶貧蚲萍帲淜屛覕琕聠艵幈蓱蛢缾甁塀焩評嫔频榀聘鲆軿撇嫳竮凴暼撆頩箳慿瞥憑鮃嬪薲檘簈鐅礗穦蘋嚬矉颦馪驞顰
po po,pou,pu 仆攵攴叵扑圤朴朴钋陂廹抔抙岥泊泼坡尀迫岶乶咅抪炇洦敀昢珀哛陠匍巬哛釙䥽钷破砶烞剖娝捊垺哣莆浦埔圃颇婆笸粕桲掊婄菩脯烳酦湐裒犃铺痡葡菐普堡鉕蒪蒱蒲圑溥頗鄱蔢嘙箥魄箁僕酺谱暜潑駊鋪噗撲潽墣獛諩舖舗暴醗璞樸擈氆皤繁穙镤瞨濮檏镨櫇鯆瀑醱嚩贌譜蹼曝鏺鏷纀鐠
qi qi,qia,qian,qiang,qiao 七丌乞千亓气欠邔讫卡阡仟刋巧迉祁齐企芑岂屺迄汔気圶芊迁扦奷汘圱圲仱伣纤乔沏圻忯芪岐岓杞玘盀启呇汽芞弃矵汧岍杄茾佥岒扲忴芡羌呛抢壳妻奇其亝祈祇斉肵歧呮泣炁亟盵拤冾欦钎臤拑浅肷竏斨枪戗戕玱炝侨柒疧俟荠契咠砌峠帢洽恰胢牵拪乹前荨钤茜俔粁羗将荞荍峤陗俏诮栖桤凄郪倛剘陭旂耆蚑蚔蚚脐斊竒颀唘豈起訖栔氣欫悭蚈铅谸钱钳虔歬倩悓猐唴悄桥帩峭窍娸捿淒悽萋戚桼畦軝跂釮埼萁萕帺骐骑猉崎掑淇啓啟啔婍绮唭掐袷硈殎釺婜牽孯軡乾偂掮揵淺堑啌跄強羟郻硗雀菬硚釥棲敧欺欹期攲紪缉棋棊祺蛴琪琦棨晵葺湆湇棄夡愒嵜葜酠跒掔谦鈆亁媊葥鈐靬犍椠棈傔嵌腔溬嗴獇椌强喬翘愀傶锜褀碕碁鬿頎愭﨑滊褄鉛鹐签愆僉嗛骞鉗遣皘蒨慊蜣锖羥搶嗆跷鄡鄥僛嘁墄漆慽緀榿齊旗綥粸綦蜞蜝綮綺摖暣甈碶撁搴慳銭墘榩箝膁蜸槏塹蔳綪歉锵羫槍牄瑲戧嶈摤蔷嫱墙墏熗勪踍敲毃锹劁僑谯槗誚髚慼踦璂禥蕲稽憇槭噐擖鞐遷厱諐蕁潜潛羬谴篏儙槧樯蔃漒骹頝墝墧憔蕉蕎嘺嫶鞒僺撬霋錡鲯諬器憩碛磜磧磩螧褰黔橬錢缱篟輤篬薔彊廧墻嬙墽燆橇幧缲犞燋樵橋撽韒鞘魌蹊藄鄿濝懠藒謙顅黚縴壍嬱鎆謒镪蹌檣牆襁繈磽鍫鍬瞧癄礄檱櫀鳍騏騎臍簯簱髂檶騝蹡鎗繦繑翹髜鞩竅鏚鶈鵸鶀鯕蘄麒闙蟿罊櫏攐攑簽鵮騚濳繾鏲鏘艢繰趬蹺譙趫櫵藮鬐艩蠐鐑籏騫攓譴蘠鏹鐈躈騹鰭籖灊鰬羻鐰鞽顦玂鬜鬝籤韆麡
qie qie,qin,qing,qiong,qiu 切龶仇且邛卭丘叴芁扏囚犰玌癿庆宆丠朹肍汓伽芹芩庈坅吣吢抋沁穷龟邱虬求茄妾怯厒肣昑靑青夝苘顷穹茕坵虯泅砌窃匧侵亲钦矜轻氢甠亲桏䓖恘秋秌俅訄訅酋觓悏挈洯衾骎秦蚙菦埐珡耹笉唚郬卿倾剠勍请凊倩恷釚唒莍逑逎浗紌惬淁笡捦菳赾梫菣寈清淸埥圊氫啨情殑頃庼掅殸硘筇笻赹惸蚯毬球梂赇殏釻頄蛪趄愜媇嵚欽禽覃鈙鈫雂琴琹寑锓揿軽棾葝䞍氰晴焪焭琼蛩蛬舼媝湫萩渞湭遒巯崷盚皳慊綅嵰溱勤靲嫀嗪寝搇傾暒碃跫睘煢熍楸湬絿蛷煪裘搝朅锲箧誛廑慬寢蜻輕廎綮箐靘銎蓲鹙觩巰賕篋踥嶔嶜擒噙鳹斳鋟撳䝼擏樈漀請慶瞏窮蝵緧篍蝤璆銶親澿檎懄螓瘽錆鲭檠擎磬憌橩璚儝嬛趥穐醔鼽鮂糗鍥穕顉駸懃螼罄濪儬藑鳅䲡鮼蠄謦檾藭瓊竆鞦鞧蟗鯄鯜寴鵭藽瀙鯖櫦蘒蘒聺黥鶖鰌鰍蠤龝竊鑋瓗鰽
qu qu,quan,que,qun 犭区犬劝去厺犮曲佢全权芍匤阹佉伹诎驱岖劬苣刞却夋岴屈抾坥取呿奍卷诠佺券炔囷浀胠祛斪朐胊弮姾荃峑洤恮泉畎卻袪菃鸲竘衐悛牷辁拳烇牶缺缼崅埆逡帬宭峮蛆紶躯區焌絇翑渠淭娶耝圈铨痊硂惓埢婘啳绻琷悫雀煀詘趋筁蛐粬葋軥詓阒圏棬椦葲湶絟筌犈确硞棤阕裙趍瑔輇觠詮搼跧勧楾蒛阙塙搉鹊皵碏群羣裠駆憈嶇蕖竬箞銓蜷綣榷愨敺駈誳麹璖蝺觑趣閴権踡韏慤碻確趞魼髷鴝磲螶麮駩醛縓瘸麇麯趨蟝璩龋鼁闃鳈闎闋燩軀覰瞿鼩覷鬈闕礐麴鶌黢蘧騡勸鵲覻鐉鰁巏驅忂灈權齤礭鰸鱋戵爠臞氍欋籧癯颧蠸虇蠷衢欔齲躣鑺蠼顴鸜
ran ran,rang,rao 冄冉让扰呥肰苒姌衻袇染珃荛娆饶绕袡蚦桡蚺然媣髥隢髯嘫嬈蕘遶燃橪壌橈襓繎穣擾繞勷儴嚷蘘獽瀼壤攘懹譲饒禳爙瓤穰躟讓鬤
re re,ren,reng 人亻刃刄仁壬认仍讱仞仭扔辸艿朲忈任纫屻礽芢忎秂忍饪牣纴轫杒妊韧肕芿若祍荏姙衽紉热荵栠栣紝軔訒喏秹袵梕陾惹葚腍絍鈓飪靭靱韌魜稔銋躵餁認熱鵀
ri ri,rong,rou 日乤冗厹禸乬宂乫乮乭戎肉驲肜坈宍囸乶衵乽乼乺挘栄茸荣茙狨绒柔毧峵容粈釰釼烿傇脜鈤媶嵘搑傛絨羢軵葇媃揉渘搈溶嵤嫆蓉榵楺瑈腬煣馹榕榮熔穁瑢縙镕褣蝾槦穃蝚糅融螎駥氄輮蹂艝嬫嶸鍒爃鎔鞣韖瀜騥瓇曧蠑鶔鰇鑓譳虄
ru ru,ruan,rui,run,ruo 入邚扖如汝杁阮叒肗芮汭闰侞乳软朊枘若帤茹洳耎挐桇辱蚋润挼鄀偌弱铷袽軟偄桵捼婼渃焫渪筎鄏堧媆甤锐閏楉蒘溽缛蓐嗕媷瑌腝蜹瑞閠蒻嵶銣碝緌睿箬蝡蕠褥撋緛蕤蕊蕋鋭銳潤儒鴑縟輭橤叡橍膶篛鴽嚅薷濡孺嬬擩嶿壖曘瓀繠爇襦礝蘂蘃壡鰙蠕颥醹鰯鶸顬鱬
sa sa,sai 卅仨扨苆钑乷洒飒栍思訯脎毢萨鈒靸愢揌馺摋隡塞腮毸嗮蕯颯嘥赛撒潵僿薩噻鳃賽櫒顋簺鰓灑躠虄
san san,sang,sao,se,sen,seng 三壭弎伞扫色参叁丧俕桒乺洓桑涩栜掻掃埽啬渋铯雭毵毶傘散閐喪搔溞骚慅嫂歮森椮厁嗓搡嗇瑟塞糁槡缫瘙閪摵歰銫僧毿犙馓磉褬澁縇槮颡螦濇濏擌懎瘷穑襂糝繅鳋燥氉臊璱澀糣糤繖鎟颾騒矂瀒穡鏒顙騷繬鏾饊鰠轖穯鏼鬖譅飋鬙髞鱪鱢
sha sha,shai,shan,shang,shao 丄山彡上勺少邖闪讪杀色汕圸汤伤芍杉沙纱删刪芟杉杓邵卲劭刹钐衫苫姗姍陕疝单尚尙苕绍砂狦挻舢珊栅柵陝炶殇垧恦柖玿殺莎唦猀粆紗倽晒脠痁扇軕閃訕剡赸扄晌莦弰捎烧袑哨娋挲铩桬奢啥萐帹啑唼掺笘釤掸掞商绱梢紹痧硰喢厦筛傓跚晱善椫禅觞赏稍焼萷睄摋煞蔱裟傻廈嗄歃翜剼搧睒煔銏骟禓傷旓蛸艄筲綤榝翣箑酾煽幓嘇熌鄯僐蔏滳漡墒慯緔輎韶樧噎鲨魦儍閯潸澘覢缮墠墡䦂䥇殤熵樉賞潲蕱閷霎篩樿敾歚擅嬗禪膳鋿鞘燒髿簁鯅縿膻檆磰赡謆螪鞝髾鯊鯋鎩簛羴繕蟮觴謪鮹繺羶蟺鏛鐥饍鳝騸贍譱鬺灗贘曬鱓鱔鑜籭
she she,shei,shen,sheng 什升叶申生圣舌厍设扟屾邥阩佘折社伸身弞沈呏声斘舍舎籶侁参诜冞罙呻妽绅矤审肾枡昇泩狌苼虵厙拾柛氠穼珅姺籸神甚哂矧胂侺昚陞珄牲殅省胜竔涉射谁娠峷莘眒甡砷谂谉涁眘陹眚晟晠乘曻奢猞赊蛇阇捨赦設渉涻深紳敒婶訠渖脤渗祳堔笙渑绳偗剰盛﨡畬畲畭揲蛥弽兟訷棯裑葠葚腎湦焺甥渻貹剩勝輋滠慑摄摂蓡罧詵鉮瘆慎愼椹蜃蜄榊鉎嵊琞聖賖賒蔎慴糁甧蔘滲墭榺糂諗審頣魫鋠憴縄蕂檨歙鲹駪薓燊曋瘮橳曑瞫鍟聲繉賸蠂韘騇鵢鯓瀋嬸鼪繩鯵鵿譝鰰麝懾灄攝欇鰺讅覾籡
shi shi,shou 十乄尸饣士扌什氏礻収手失石史矢示市世丗仕辻师乨似卋忕式收守时识豕戺亊佦竍寿呞邿诗鸤虱&实実旹飠使驶始事侍势试呩饰视柹受䴓狮施屍浉食祏炻蚀拾姼峕屎宩兘柿枾昰是贳恃恀眂峙拭冟室适首垨狩師埘莳時逝眎眡铈舐轼烒栻絁釶笶秲釈視兽售授涭绶葹湿湤遈寔湜释貰弑谥徥揓崼痩溼溮蒒蓍鉇詩獅溡塒鉐鉂嗜蒔勢弒軾筮睗觢試鈰鉃飾嵵煶膄瑡酾鳲嘘實榯蝕鉽誓舓適壽夀瘦綬鳾箷蝨鲥駛奭餝餙銴熟艏褷鲺諡諟澨噬嬕遾鮖獣鍦濕螫謚鼫簭鯴鼭識籂獸鏉釋襫鰘鰤鶳鰣籡襹鱰釃
shu shu,shua,shuai,shuan,shuang 书殳闩双术朮甩帅尗戍抒纾束陎叔枢杸沭述刷泷姝侸荗咰树怷竖耍帥拴閂荼倏倐殊紓書秫恕捒衰栓焂梳鄃菽婌掓軗淑孰庶庻蒁絉術唰率涮爽疏疎舒琡赎属暑暏黍裋尌綀毹毺摅输鼠蜀数署鉥腧竪腨跾踈塾墅漱潄誜摔漺慡塽﨎蔬樞熟潻澍數豎輸薯薥錰霔濖樹縔鮛橾曙蟀霜儵攄璹癙藷襡雙鵨鶐鏣瀭糬鏯襩骦孀灀屬卛孇騻贖蠴欆鷞鹴礵艭虪驦鸘
shui shui,shun,shuo 氵水氺妁吮说顺说烁谁帨涗涚朔铄祱硕欶脽税稅裞順舜矟睡楯蒴搠説說獡槊碩誰蕣箾橓瞚瞤瞬鎙鬊爍鑠
si si,song,sou 𠃌厶纟巳亖丝司四糹死似寺汜讼私泤姒兕伺佀祀厑忪㧐宋泀咝孠杫価驷饲泗松枀枩怂俬思洠娰俟枱柶牭食柗娀诵送叟凁叜恖鸶虒飤肂涘洍唜凇倯悚耸捜偲耜耛梩笥釲菘庺崧淞梥訟鄋傁缌媤蛳斯絲覗竢竦颂搜蒐蓃廀廋嗖獀馊溲鉰楒禗飔肆嗣貄鈶鈻飼旕硹嵩愯楤傱頌飕摉凘厮禠蜤锶銯罳榹嵷誦摗锼嗾瞍嗽鋖緦磃澌嘶噝撕蕬廝禩駟濍憽慫螋艘燍螄蕼檧醙擞薮瘶鍶儩聳駷鎹餸鎪餿颸蟖蟴瀃鯐鬆颼藪擻騦鶍騪櫢鐁㩳籔鷥鼶
su su,suan,sui,sun,suo 夊玊亗夙芕岁孙苏诉苆尿泝肃所俗洬虽砕狲荪涑莤速珟素狻祘笇浽荾哸倠绥祟谇荽孫笋损隼莎莏唆娑挱唢索逤粛殐梀骕宿隋眭随埣桫梭挲傞琐琑甦酥谡傃粟訴痠遂遀嵗飧飱筍睃惢锁窣稣肅鹔愫塑塐遡嫊嗉溯溸筭蒜睢滖綏煫歲歳碎睟猻搎蓀損嗍蓑羧嗩溑暛溹嗦缩遬蔌僳榡愬膆趚觫酸算隨粹隧槂榫摍缩趖褨瑣蜶鋉餗碿樎樕憟潥熣澻穂嬘賥誶蕵箰潠璅穌潚縤匴鞖濉膸燧檖禭璲薞簑簌謖藗橚璛雖瀡穗穟邃襚繀簔縮鯂蹜髄瓍繐繸旞簨鎨鮻鎖鎻鎍蘓蘇譢鐆鏁櫯鐩髓韢鶽囌驌鱛鷫鱐
ta ta,tai 太它台夳冭她汏牠祂邰旲呔汰汱忲拓沓侤囼孡苔坮骀抬肽态㳠挞闼狧胎炱炲钛铊趿粏舦泰崉涾萙菭酞溚塔傝嗒跆鈦鉈溻塌榙遝阘搨遢鲐溙禢墖漯毾榻颱臺箈態褟踏澾撻誻駘獭錔橽嚃燵鮐儓燤鮙鞜蹋濌薹擡嬯鳎鞳闒檯獺蹹襨鶎闥嚺籉鰨譶鱩躢
tan tan,tang,tao,te,teng 叹夲叨讨朰汤伖扨坍坛忐忑忒贪昙坦坣帑弢迯匋怹炭洮逃咷郯倓谈钽袒唐倘烫涛绦陶桃討套特疼痑啴舑貪弹婒埮惔菼探铴堂偒淌惝掏焘梼萄淘绹啕脦痋覃毯湠湯棠啺鄌傏傥絛詜祹铽罀滩摊锬痰榃僋鉭蓎隚搪溏塘慆搯滔幍嫍裪幐腾誊谭嗿嘆碳舕嘡煻榶漟禟瑭膅耥摥槄瑫韬飸蜪綯鞀慝漛嘽瘫潬潭憛墰墵談醈憳歎羰劏蝪趟膛磄糃樘躺镋鞉醄鋱滕邆曇錟壇燂橝澹憻醓暺薚镗橖糖螗篖踼燙縚縧鋾駣膯駦螣縢檀顃璮赯醣螳糛轁濤謟謄擹罈藫蹚鎕餹鎲騊饀蟘䲢儯藤壜譚醰貚鏜饄闛鞱韜鼗譠鞺鐋騰霯鶶鰧籐攤灘罎儻饕籘戃虅癱鼞爣曭矘鼟驣钂
ti ti,tian,tiao 天田芀兲旫体戻佃条屉沺屇忝佻苕迢岧岹厗荑洟剃恬胋畋畑殄庣挑恌祒宨剔绨挮俶倜逖涕悌畠钿倎祧條调晀朓脁梯偍惕屜掦逷啑笹悐婖添甜甛菾唺淟悿掭萔笤窕眺粜锑媞崹提渧缇惿遆啼稊鹈罤题躰惖替揥酟靔湉觍晪琠腆聎蓚絩瑅綈嗁裼填塡嗔阗搷睓痶蓨龆誂覜趒跳睼褆碮骵褅碵緂舔餂瑱樤蜩踢銻䴘漽蕛徲緹歒髰殢窴磌賟覥鋚鲦鞗髫窱斢醍趧蹄薙黇錪鴫擿蹏鍗鳀謕嚏鬀璳鯈嬥鮷題鵜鬄瓋嚔靝闐鎥騠舚鶗鶙鯷軆籊齠鷉鷈趯鷆鷏鰷禵體鷤糶
tie tie,ting,tong,tou 亠厅邒庁汀圢仝头廷同町听甼彤佟投帖怗呫耓侹侗庝峂妵贴烃厛莛庭亭娗挺涏恫炵峒峝哃狪茼垌统恸铁烶梃珽脡通烔晍桐浵砼蚒捅紏透萜蛈烴桯停铤痌秱铜眮桶偷偸聑貼綎葶婷嵉渟蜓筳艇颋絧童粡統筒痛衕媮婾敨鉄飻楟榳誔嗵蓪赨詷酮鉖筩綂骰銕僣閮霆鋌熥樋銅鉵餇鲖勭僮慟蝏聤頲潼獞憅鋀鞓諪橦犝曈朣膧燑氃頭黈聴穜瞳鮦鍮餮聼鼮蘣鐡廰鐵聽驖廳
tu tu,tuan,tui,tun,tuo 土乇圡屯凸仛讬阤吐汢团団弚氽饦托扡汑驮彵宊秃禿図兎迌抟忒吞呑坉囤忳芚饨杔佗陁陀妥怢图钍兔旽侂咜咃沰拖拕驼狏岮沱坨拓突凃彖俀侻退说侻柁柝涋荼徒途庩峹捈涂悇唋莵娧涒莌捝挩袥託鸵砣砤袉毤捸梌屠菟釷堍推蛌軘豚豘飥涶脱脫紽庹萚唾湥堗葖痜揬稌溌猯湍湪焞朜飩鲀詑酡跎堶椭跅瘏筡鈯嵞塗蒤腯圕煓剸颓腿煺蜕蛻馲馱碢楕毻嶀廜潳瑹酴跿圖圗摶漙團慱畽褖蓷隤僓褪褪魠槖駄嫷箨嶞魄鋵槫墥尵噋魨駝駞橢馟貒橔頹頺頽蹆骽燵暾黗霕橐鴕鮀駼鍎篿疃藬魋駾臀鵇鵚鵌檲鮵鼧鵎鵵鏄蘈穨蹪臋騨蘀鶟糰鼍鰖鷋鼵鷵鷒驒籜鷻驝鼉
wa wa,wai,wan,wang 乛丸万尢亾兦亡屲瓦卐卍尣王罓凹外罒穵邷佤刓芄汍纨仼网妄咓完岏抏忨妧杤尪汪尫彺迋忘劸咼玩宛尩往徃罔枉旺洼哇挖娃砙歪弯紈笂徍娲窊畖袜瓸㖞剜捖顽倇莞挽盌唍莣蚟窐媧啘聉喎帵婠貦烷绾埦惋梚菀萖婉脘晚晥捥脕琓惘菵望嗗瓾蛙嗢崴湾塆晩晼琬皖椀腕萬辋棢暀蛧搲溛腽甅睕頑碗畹漥窪膃蜿綰綩輓蔓輐蝄網朢豌潫翫踠鋔澫鋄輞誷錽薍瞣蟃魍瀇鼃竵贃鎫襪贎顡彎韈攨韤壪灣
wei wei,wen,weng,wo,wu 𠂉囗卫兀亡兀厃为韦文乌无毋五午勿未阢务戊厼朰危圩伟伪刎伆问仴邬弙污汙汚圬伍仵扤屼围囲闱违帏沩苇芛尾纬位芠彣纹吻呅抆妏免汶我沃肟呜巫杇芜吾吴吳呉迕妩庑怃忤岉芴坞杌委炜玮苿味炆呡肳瓮枂卧臥於玝武物忢旿矹威洈峗峞為韋洧胃畏昷闻挝屋洿诬钨郚侮卼敄俉误烓桅涠浘娓荱诿軎叞捤蚊蚉紋紊莬翁涡倭莴恶烏茣莁唔娪峿浯洖倵逜陚捂娒務悟悮悞粅隈隇偎逶帷唯维惟隗偽偉萎崣梶痏硊骩菋谓硙尉阌珳桽脗問渂萵唩猧渦涹婑婐捰捾涴偓剭窏梧祦珸娬牾啎晤焐喴葳葨媙崴嵔揻揋愄琟嵬媁圍喡幃違湋溈爲骫骪愇猥渨蒍葦徫廆遗喂媦猬渭温雯揾塭勜奣窝喔幄媉渥握焥硪鄔铻鹀無珷痦婺隖骛嵍靰溦椳楲詴煨微椲暐煒艉痿瑋韪腲煟溫辒殟榅瑥搵絻嗡滃嵡蓊塕窩蜗楃腛遤嗚誈蜈鹉碔摀雾雺嵨奦溩塢蜲維潍鄬蓶鲔撱嶉僞蔚碨蜼墛瘟榲駇馼聞瘒稳暡蝸斡瞃誣歍熓瑦舞鹜熃寤誤蝛覣縅潿潙醀寪蔿頠緯諉踓韑蝟磑犚慰緭熭衛緼蕰鳼鴍魰鹟瞈踒箼鋙蕪墲憮潕廡嫵鋈薇薳衞餧鮇懀謂罻嶶豱輼螡閿閺螉聬蕹螐橆璑儛甒窹燰鳂鍏闈鮠濰儰濻鍡鮪螱褽魏餵轀鳁闅蟁鼤穏鎾饂甕龌臒瓁濣鴮瞴霚鼿癓壝矀颹韙瀢轊藯鞰繧顐鎓鎢鵐蟱鯃齀霧韡鏏鳚霨穩攚罋譕鵡騖蘁鯲鰃鰄巍覹蘶鰛璺鼯鶩霺犩饖鰮闦鶲鰞躌欈亹讆躗躛讏鷡斖齆齷
xi xi,xia 匸丅夕习下兮邜卌巪吸汐忚西戏凩吓圷扸希饩屃系匣卥析昔穸肸肹矽郋呬细郄怬忥呷狎侠疜怸饻恓郗茜俙徆洗枲盻恄郤係咥巼虾俠狭陜峡炠柙莃奚娭唏浠狶悕屖栖牺氥息席玺屓绤欯夞莻唟烚峽埉狹祫珨夏悉硒琋赥釸欷晞桸惜烯焁焈淅渓唽菥觋習袭铣徙阋細釳裃谺硖翈舺陿假唬梺傒鄎焟焬犀晰晳翕翖舾粞稀睎惁腊喺喜葸葈鈢趇舄舃塈隙椞硳喸閕傄葭硤遐厦锡皙裼煕厀徯蒠溪嵠媳蓆蒵椺鉨鉩禊慀隟綌赩颬煆筪瑕舝敮暇閜僖熙熈熄榽蜥緆餏覡豨嶍漝趘蓰漇屣熂墍犔稧聢辖碬睱瘜磎膝潝嘻噏嬉嬆槢憘潟澙戯蕮覤瞎蝦磍蕸諕凞樨橀暿歙熺熻熹螅螇窸羲錫褶薂隰歖禧憙諰縘黖戱噺橲縖赮魻貕蹊豯蟋谿豀瞦燨犠檄謑縰壐戲磶礂霞鍜轄懗罅巂繥糦鵗謵鎴蟢蹝虩餼鬩鯐鎋黠夓鎼譆醯觹鏭鐊隵鳛霫璽繫騢鏬酅巇嚱犧曦爔饎飁騱闟鰕騽鶷觽鰼霼鼷襲鱚鸂蠵矖囍衋屭觿鑴躧驨
xian xian,xiang ⺈乡见仚仙屳纤先奾芗向忺佡氙闲伭县苋岘咞瓨杴秈苮祆弦咁妶贤冼狝限现线臽降佭详享枮籼胘涎盷咸挦险洗显県陥宪姭相香庠亯响饷蚃姠巷项莶珗娴烍毨蚬崄険猃娊峴陷莧哯涀垷郷栙祥晑珦掀铦娹婱蚿絃衔舷赻铣埳現晛馅鄉鄊厢象閑閒蛝鹇痫湺啣筅羡缐睍絤廂湘缃鄕葙萫絴翔飨項缿衖锨酰跹嗛嫌蜆跣禒搟尠尟腺粯塪献羨衘詳跭想勨像僊僲銛鲜嘕甉銜銑僩僴誢綫薌銄餉鲞嶑韯銽暹誸賢羬稴澖憪嫻嫺撏箲險線鋧撊箱緗膷橡曏薟憸嬐鍁諴醎輱獫嶮憲橺橌錎餡縣襐韱鮮褼繊癇癎瞯獮藓鍌豏壏襄鮝蠁蟓嚮藖燹顕麲鯗蹮馦幰攇臔瀗鐌孅攕廯礥鹹麙蘚櫶譣獻糮霰麘忀骧響饗纎鶱贒欀瓖躚襳玁镶鱌纖鷼鷳鷴韅顯鼸鑦纕鑲饟鱶灦驤鱻
xiao xiao,xie 小叶写灱灲邪劦协旪血肖孝伳灺枭呺効些胁協绁泄泻祄缷哓削侾骁枵洨恔咲奊垥恊峫挟拹洩炧炨契卸绡庨烋宵宯逍消鸮虓郩晓哮涍俲笑校效娎挾脇脋脅衺卨屑婋猇萧梟焇崤淆訤啸斜谐偕烲禼徢偰偞焎紲械销痚痟翛硝硣窙殽暁傚敩猲揳絜翓絏絬亵谢屟媟渫蛸綃揱筱筿詨楔歇綊瑎愶嗋携塮僁解箫嘐潇踃歊誟嘨嘋﨧熁膎鲑冩靾榭榍褉銷霄獢撨嘵憢誵皛蝎鞋蝢緳缬撷擕縀勰寫暬緤噧屧膮蕭彇颵魈鴞篠謏曉嘯諧獬嶰澥懈廨邂薤薢糏韰鴵簘蟏蟂藃穘皢熽歗燲謝褻燮嚣嚡擷藛夑瀉鞢瀟蟰簫髇蠍鞵齘繲蟹蠏瀣爕櫹斆斅襭齛囂嚻髐鷍攜孈齥纈驍蠨齂毊虈躞讗龤
xin xin,xing,xiong,xiu 忄心匂凶阠兄邤䜣伈伩囟兴刑邢饧行兇匈讻芎休朽辛芯妡忻孞陉形杏忷汹诇秀炘杺欣昕枔狌侀郉性幸姓俢苬岫峀盺信星陘荥洐型钘省荇哘洶恟哅修庥咻莘俽軐垶骍娙莕倖胸胷脩烌羞绣珛袖臭惞訢訫脪衅铏硎婞悻涬訩脙鸺宿琇鈊锌焮猩惺鈃葕雄焸焽詗臹锈歆新煋瑆腥蛵詾楿貅馐滫潃綉溴嗅馸觪滎銒鉶睲緈熊熋夐敻髤銝樇璓褏褎廞鋅篂箵鋞糔銹噷嬜薪鮏興醒﨨謃賯髹螑镡襑觲騂曐餳擤鵂鎀繍嚊鮴皨鏅饈顖嬹繡鏥馨鐔舋鯹臖鱃鏽鑫齅釁馫飍
xu xu,xuan,xue,xun 彐卂玄穴廵讯训吁圩戌许旭吅巡寻旬迅伨驯汛旴伵芧序汿轩县斈吷坃杊盱疞诩呴姁侐卹怴沀昍券泫怰乴茓峃学狘岤坹郇询畃侚砉欨胥须俆浒恤昫叙洫宣玹咺选炫昡绚削泶勋荤荨荀浔洵峋恂紃狥逊迿巺徇顼訏徐冔栩珝晇殈烅珬垿欰畜﨏弲晅軒痃烜眩铉袨疶鸴袕桖埙珣栒桪毥殉訊訓訙浚許裇虚虗偦谞酗烼绪续敍敘勖勗梋谖悬琁旋琄眴衒雪谑焄偱奞媭揟湑欻虛須喣溆婿壻聓訹絮朂萱萲喧媗揎塇愃愋渲絢蒆勛循尋揗殾巽稄綇楈禑蒣暊詡続賉頊滀蓄慉煦煖煊蓒暄瑄蜁楦楥鉉靴趐塤詢馴遜需魆墟嘘稰鄦槒漵潊銊聟緒盢瞁蓿睻嫙漩碹蔙踅熏窨鲟鄩愻噓蕦嬃歔縃緰蝑糈稸魣緖獝蝖禤箮翧儇鋗璇暶選樰膤勲噚潭潯蕈噀諝歘諿醑藇鞙蕿嬛懁諠諼镟颴薛辥學嶨壆噱謔勳薫駨璕攳燖燅樳盨駽鍹檈縼辪燢澩瞲薰壎獯嚑燸譃藚璿繏轌曛臐燻蟳翾蠉矎蘐藼癣鏇鞾鳕瀥蘍矄魖繻譞懸觷纁爋壦驉續醺顨鬚鑐癬鱈鑂贙鱏鱘鱮鷽灥
ya ya,yan ㄚ讠丫劜牙圠圧疋轧吖压厌伢厊覀襾冴亚讶延闫夵厌呀芽岈庌迓亜犽妍芫严阽言訁抁沇妟觃庘押枒厓玡亞軋郔岩沿炎炏昖奄乵兖牪鸦哑疨砑挜娅垭咽恹狿埏莚姸娫研兗匽弇俨衍砚姲彦彥䶮鸭桠琊蚜笌唖俹氩烟殷珚胭铅盐娮剡烻唁验宴艳晏覎剦孲铔堐猚崖崕涯啞痖掗訝埡婭焉淹淊阏阉崦阎啱琂硏訮閆眼酓偃掩郾厣萒偐谚隁焔雅椏釾猰聐揠氬湮腌蜒綖筵嵒嵓喦遃隒嵃揜渰渷扊棪愝晻琰焰焱堰喭雁敥猒硯睚衙瘂稏圔硽煙歅鄢傿塩揅楌詽罨裺椼椻鳫滟溎漄窫嫣漹碞蔅演嵼褗墕熖厭酽暥鴉蕥嶖醃颜蝘魇戭鴈谳嬊餍樮鴨錏閹燕虤閻厳噞躽燄赝鬳諺壓懨嬮篶檐縯鴳曕嚈懕顔顏黡檿酀騐験䜩鵶齖鯲簷壛巌嚴厴艶贋嚥嬿軅鐚臙櫩黤甗鶠鰋爓曣騴醶齞鑓黫龑黭黬儼鷃巖巗壧孍顩鼴贗灔鼹魘巘巚曮囐鷰驗醼讌觾饜軈鹽礹齴艷黶釅驠灎灧讞豓豔麣灩齾
yang yang,yao,ye ㄝ丆幺也卬夭爻央业叶阳阦扬羊⺶仰吆约尧仸吔邪爷曳页飏炀杨旸佒妖宎岆冶曵邺亪姎抰泱钖疡氜劷佯咉岟坱怏殀祅尭肴侥抭杳枖狕苭疟耶抴夜殃胦徉洋垟昜羏炴柍养要荛姚峣轺垚咬柼穾药钥捓枼拽亱咽頁秧眏鸯珜烊氧恙样烑陶倄珧眑窅窈舀袎倻捙枽烨晔陽眻痒紻羕訞窑铫偠窔掖揶铘野埜液谒蛘揚崵崸軮楧傟詇喓葽堯揺傜谣軺婹崾葯筄詏椰爺瑘葉腋殗鉠雵煬楊敭瑒暘慃氱飬蝆楆腰滧徭遥遙嗂媱猺摇搖愮溔蓔暍業煠馌墷鞅瘍養漾様摿榣暚飖瑶瑤餆榚靿覞熎歋鋣嘢漜璍僷燁曅駚樣鴁窯窰磘嶢嶤鹞獟潱噎曄皣瞱擛鄴靥鴦鍈輰諹鴢徼邀餚鼼薬鎁壄餣謁嶪嶫澲鍚鴹懩攁瀁繇謡謠闄擨擫瞸曗鍱颺鎐鳐藥燿曜艞鎑饁擪礏爗癢礢颻騕矅鵺鰑蘨耀鐷霷邎顤鰩齩纅鷂鷕鱙蠮靨驜鸉讑鸈
yi yi,yin,ying 一乁乙乂廴义已亿弋弌以刈艺忆辷冘引尹衤匜仪艾阣仡议肊匇凧囙印伊衣夷圯迆钇伇芅亦异忔屹因阴阥乑岃医吚壱宐诒冝杝沂攺矣苡佁尾抑坄呓劮役苅佚译耴杙邑吟犾圻饮吲应応迎盁依祎沶侇迤宜狋怡饴苢迱枍炈易衪秇诣佾呹呭驿泆怿怈绎峄侌烎斦茚英茔洢咿拸姨恞贻峓迻荑瓵珆咦庡舣蚁釔浂帟帠俋弈奕疫羿昳玴轶枻食茵骃姻洇垔音泿垠荫洕胤荥荧盈郢矨映栍訑貤胰栘桋巸眙袘宧扅笖酏扆逘倚栧欭袣益谊唈浥浳挹悒垼弬夞栶氤殷陰圁狺峾荶珢訚訔蚓垽粌莺珱偀莹浧桜郼渏悘铱猗萓蛇痍移偯埸埶逸勚萟殹翊翌悥豙豛異訲訳隿釴羛畩隂陻凐秵铟裀訡银淫寅婬崟崯隐赺渶绬婴媖萤营萦蛍営梬愥蛜壹揖椅椬蛦貽詒羠遗旑崺鈘鉯鳦鈠軼骮跇詍晹敡殔棭焲蛡鄓湙幆絪筃堙愔喑婣鈝龂鈏飲淾堷湚猌瑛煐朠萾溁溋颍暎硬禕媐颐飴頉誃跠椸暆裿蛾嗌溢缢兿義亄睪獈竩痬意詣肄裔裛溵蔭蒑禋滛碒鄞隠飮靷廕䲟锳碤嫈滢蓥塋楹僌颖颕媵漪稦銥嫛疑旖駅榏瘗膉蜴蓺勩廙嫕潩慇瘖銦蔩夤銀龈輑朄窨酳嘤缨撄甇緓蝧罂賏熒蝇潆摬嬄撎熪遺儀踦輢億鹝鹢毅镒瘞槸熠熤熼篒誼黓鞇磤緸誾璌殥噖趛癊慭樱璎蝿禜瑩影潁膡夁噫瑿鹥彛彜嶬螔頤頥螘敼嬟艗燚曀殪瘱瞖穓螠褹縊劓薏澺嬑嶧墿圛懌憶諲霒駰瘾檃隱憖憗鮣鹦噟霙罃褮鴬螢營嬴縈穎瘿頴繄檥顊鴺鮧簃嶷寲寱翳翼臆斁歝曎燡燱檍賹貖鮨霠闉噾濦嶾濥螾懚韺嬰膺應覮謍赢濙濚濴藀闏檹醫毉黟彝彞謻礒鎰贀镱癔藝藙嚚蟫檭檼鹰甖瀅蠅鎣鏔蟻艤顗繹繶豷霬鯣鶂鶃鶍鶎齗霪蘟鶑鶧巆攍瀛瀯瀠譩籎轙饐醷醳譯議蘙瀷韾櫽罌譍孆嚶攖蘡孾瀴贏櫿鐛廮巊觺囈鐿鷊鷁齦癮櫻瓔礯譻鶯灐鷖讉懿鑍籝癭黳齮襼鷧驛鷣讔鷪蠳纓灜鱦鷾鸃虉鷹齸讛鸎籯鸚
yo yo,yong,you 𠂇又尢尤友永用由甴右幼优有佣甬忧攸沋邮犹酉丣卣苃佑育拥咏泳苚怺怮呦泑油怞肬侑狖孧哟勇勈俑栐幽怣疣柚羑峟囿牰祐迶哊宥姷诱邕痈柡悀涌埇砽峳浟逌庮郵莜莸秞铀莠栯唀唷庸恿悠蚰訧偤逰梄铕聈蚴喲罀喁惥愑湧詠硧蒏遊猶游鱿湵亴釉貁傭嗈鄘雍蛹塎嵱彮愹麀羪鲉鈾楢猷蜏禉酭嫞滽墉慵慂踊滺輏駀銪誘褎牅颙鲬憂魷蝤蝣蕕槱牖牗壅澭擁噰镛郺踴鮋輶臃醟鄾優繇黝癕雝顒鯒瀀嚘懮鼬鳙鏞櫌灉廱鰫耰纋櫾饔鷛鱅癰
yu yu,yuan,yue,yun 䲣与于亐予肀元円曰月匀勻云允込邘驭玉夗曱乐戉孕迂迃吁扝扜纡伃屿宇伛羽聿芋芌圫邧贠约刖伝阭余妤扵杅欤玙玗妪饫汩忬谷囦肙沅园芫员远妜岄抈礿芸员妘沄纭囩狁抎夽运抣於穻陓盂衧臾鱼雨欥育郁鸢茒杬苑妴玥泧岳昀郓枟紆舁竽虶禺茰俞兪俣俁语挧禹茟狱秗昱剈垣爰貟盶院怨約哕说恱栎钥秐眃畇郧陨恽谀娱娛娯馀狳桙酑圄祤浴峪彧俼预钰砡冤鸳眢笎蚖袁圆原員衏垸钺蚏蚎阅軏悦悅晕涢耺耘紜荺盓菸淤唹雩魚渔萸隅隃圉敔匬鄅偊庾粖袬谕逳菀尉阈淯淢惐悆欲域堉寃涴渊渁渆渕厡逺捳跃跀殒酝鄆萮渝湡揄堣堬嵎嵛崳逾喁楰愉腴畬骬萭斞铻棫棛棜琙焴寓媀喻喅喩庽御遇馭飫粥鹆硲硢矞裕淵葾惌媛猨援圎湲鼋缘鈨傆掾鈅越粤蒀缊雲鄖隕喗鈗傊運愠惲瘀虞艅觎愚瑜歈榆楡牏瘐楀與瑀傴寙鈺誉罭預蓣蒮煜滪愈稢蒬棩鹓裷蜎源溒園圓塬猿嫄媴蒝遠禐瑗粵鉞蒕煴氲蒷溳愪筠筼慍暈韫腪韵箊舆窬睮褕漁語戫蔚僪隩嶎獄嫗緎蜮蜟毓瘉銉輍箢鳶辕榞榬愿裫褑氳熅熉馻殞褞蕍蝓歶雓餘諛羭窳頨龉豫鋊鳿遹薁蓹熨潏稶慾駌蜵緣魭縁褤蝯蝝箹閲閱奫蝹澐蕓鋆磒熨蕴踰覦嬩澞貐懙噳嶼澦燠燏蕷鴥鴪鴧錥諭閾鴛螈黿羱薗橼圜鋺噮噦篗樾嬳赟篔縜橒賱薀縕醖璵歟螸輿鍝礇禦鹬魊儥轅謜嶽龠醞餫謣髃鮽斔穥麌鵒礜癒醧篽礖鎱矱馧霣韞韗藴騟籅旟饇櫲鵷嬽櫞邍願籆贇蘊韻轝蘛鰅蘌霱譽鐭灁騵鶢蘥瀹黦㧐雤鶰躍爚禴鷠齬鬻驈欎鼘齫鷸鱊籞籥鸆齵鸒齳欝鼝鑰鸑龥籰鬰軉鸙鬱厵籲灪爩
za za,zai,zan,zang 帀扎兂匝仔杂再扗在沞灾災咂咋甾岾驵拶沯乽哉洅咱拶昝匨桚砸烖栽宰载赃牂脏羘奘弉偺寁渽崽傤喒揝暂塟葬鉔韴溨載酨賍雑睵賘臧蔵魳儎糌撍噆暫賛駔銺橴賳縡橵赞錾襍篸儧鄼藏雜簪簮鵤攅酂濽蹔臓攒鏨贊瓉臜鐟鐕瓒囃儹酇贓髒臟欌囋攢囋灒讃臢趱瓚禶雥襸贜趲讚饡
zao zao,ze,zei,zen,zeng 仄庂汄早则灶皂皁沢択枣泽泎责迮咋择昃昗侧蚤栆則怎造唣唕捑贼梍帻啧啫舴笮責戝曽综凿棗崱硳曾锃傮慥煰喿艁矠滜溭賊遭箦嘖嫧幘蔶鲗谮増鄫赜樍歵諎缯增憎鋥澡簉噪擇瞔皟橧璔赠熷甑糟璪薻燥竃簀磳矰罾醩蹧賾礋襗謮繒鬵藻蠌蠈譖譄贈竈譟趮躁齚鰂囎齰鸅鱡鑿
zha zha,zhai 扎轧札乍吒宅厏诈灹咋抯闸苲拃侧择责挓查柤奓炸眨咤栅柞夈粂紥哳砟痄宱捚斋窄柴债偧紮铡蚻蚱斎砦祭渣溠喳猹揸喋詐楂牐閘鲊搾槎蓙鉙債劄摣皶箚鲝榨蜡摘榸翟寨觰樝霅皻鮓瘵耫鍘鮺醡齋檡譇譗齄齇
zhan zhan,zhang,zhao 丈仉长爫爪占仗召扙兆佔张帐杖佋钊找诏沾枬斩胀账妱招巶沼枛毡飐战栈粀昭炤狣垗赵旃栴盏展桟站涨釗笊肁蛅粘飦崭斬绽偡菚張章涱帳着啁趈詀惉琖湛棧掌脹朝棹旐詔罀詹閚盞搌戦鄣傽障痮鉊鼌瑵罩照辗嶄嶃榐颭綻蔁遧粻嫜獐彰漳慞漲幛嶂墇肇肈箌趙谵醆嫸輚嶘樟暲璋賬幥駋嘲薝邅噡嶦霑橏戰虥虦餦瘴瘬瞕鍣曌氊氈輾蟑礃燳鮡瞻鹯襢覱皽瞾櫂旜轏鏱羄譫譧騿饘鳣驏蘸麞鱆魙驙鸇鱣黵讝
zhe zhe,zhei 厇折这这歽矺者砓虴籷柘袩埑哲這浙粍啠辄晢晣悊淛喆詟蛰蜇谪锗褚遮嗻嫬摺輒蔗輙銸磔赭踷樜辙鍺褶鹧螫蟄蟅鮿謫謺嚞轍讁鷓襵讋
zhen zhen,zheng 丁正氶贞阵圳争针诊纼佂抍证侦枕抮甽诤征姃怔爭糽郑帧浈胗珍珎貞轸昣弫姫鸩陣侲挋埩炡政挣狰峥拯䦶針祯桢真眞砧帪屒眕疹畛袗振栚朕紖烝脀钲眐症偵酙聄紾眹赈聇睁铮掙崝崢猙掟葴幀寊湞遉裖軫覙診塦揕揁媜筝証幁斟溱嫃獉搸蓁蒖甄椹楨禎鉁缜絼踭鉦睜徰蒸晸塣諍靕禛瑧榛碪殝賑誫錚箏愸鄭䦛潧箴駗稹镇震鴆鋴撜臻樼澵薽錱縝縥篜鲭鬇整鴊轃鍼鎭鎮籈辴證鬒癥鏳黰鱵
zhi zhi 之夂氏支止只卮汁芝执阯劧旨芖至汦汥吱巵帋芷扺沚纸址坁豸扻伿识忮志知肢泜织枝侄妷直坧抧茋祉炙质治垁郅迣厔制帜帙栀祗胝胑秓衼姪秖恉轵枳砋衹咫指洔挃庢庤陟峙洷栉柣祑俧疷隻脂祬栺倁值値聀釞淽茝紙疻挚桎晊歭秩贽轾徏娡狾致袟梔职淔埴執訨趾紩畤窒痔痓铚鸷貭翐觗袠猘徝掷乿剬偫秷梽椥臸殖戠植犆禃跖絷黹軹智滞崻傂骘痣彘蛭綕禔稙搘瓡酯置锧跱輊筫雉寘搱廌滍稚馶蜘榰馽摭徴墌滯墆銍製覟誌瘈疐潌憄鳷潪嬂漐慹踯徵觯踬質鋕熫稺膣摯摨幟膱樴擳隲璏旘瀄鴙駤緻鴲縶螲懥櫛穉儨劕擿擲織蹢蹠職蟙藢懫贄軄襧觶騭鯯櫍瓆鼅豑礩蘵躑騺驇鷙躓鑕豒
zhong zhong,zhou 中伀汷众仲州舟纣彸刣忪妐妕狆诌肘伷㑇炂忠泈终肿祌侜周妯疛帚咒呪绉宙㤘&钟柊盅衳种衶重茽洲诪炿轴冑祝昼咮荮紂胄舯衷冢蚛烐珘调郮辀皱酎終眾偅婤淍啁週徟鸼矪菷粙舳晝鈡喠尰堹媑筗衆粥喌赒軸晭葤詋㑳煄腫歱塚輈睭㥮甃蜙锺幒蔠種瘇銂箒碡銿徸輖賙僽駎皺鴤螤踵諥霌縐噣駲螽鍾鵃謅盩嚋骤繇鼨騆蹱鯞籀鐘籕譸籒籦驟
zhu zhu,zhua,zhuai 丶爪术主宁朱竹⺮伫劯住佇芧苎助纻抓邾侏诛竺宔拄坾贮驻迬杼拀注转茱洙笁柚茿炢柱祝柷炷殶壴挝拽诸珠株烛逐窋罜陼莇祩竚眝疰砫猪秼铢硃袾笜逫帾渚蛀紵紸著庶羜蛛絑煮煑属詝铸筑貯軴註跓嵀誅跦蓫瘃褚鉒筯飳馵跩銖槠蝫潴蕏箸翥墸撾橥諸豬濐嘱樦鋳駐檛膼駯篴燝麈麆築篫鴸鮢燭瞩簗簻髽鼄藸瀦鯺櫫櫧蠋躅蠩鱁鑄劚孎灟囑鸀爥斸欘曯矚蠾钃
zhuan zhuan,zhuang 专传庄妆壮沌灷妝庒壯状叀转狀専砖䏝孨荘壵莊娤桩奘專啭転梉焋堟蒃粧装湷鄟瑑腞裝嫥塼赚僎僮甎瑼膞磗颛馔撰篆樁幢撞磚諯竱篹糚襈縳賺顓蟤轉譔饌籑囀鱄戆
zhui zhui,zhun,zhuo 屯彴犳汋圴坠迍宒灼隹沝肫拙妰卓叕茁追窀炪浊斫笍谆准捉倬桌烵浞诼丵酌骓娷缀啍埻訰棁梲涿娺啄啅着椎缒甀腏惴凖棳焯椓晫斮斱琢琸锥畷膇硾準稕硺罬窡窧墜綴赘綧槕禚斲撯擆縋諈醊諄劅諑諁鋜錐錣衠䦃篧缴濁礈贅穛擢濯斵斀騅謶镯櫡鵻鐯鵫躅蠗灂鐲鑆穱鷟籗蠿籱
zi zi,zong,zou 子仔孖吇字芓自赱孜吱杍姊姉纵邹走甾茊胏秄矷宗枞驺茲兹姿姕咨虸耔籽秭呰茈荢茡总昮疭奏赀资玆栥紎笫剚倳牸恣倧倊陬郰诹赼缁秶崰淄谘菑釨梓眦眥渍骔综偬捴猔菆掫葘鄑滋湽嵫椔粢辎嗞孳啙紫胾胔堫惾腙葼猣嵏嵕棕揔搃惣焧棷棸鄒揍孶锱禌趑觜訾資貲滓訿嗭椶朡傯蓗碂緇緕龇鈭稵镃蓻榟漬稯嵸潈綜緃摠総粽緅箃輜鼒魸翪踪踨緵熧蝬縂緫糉諏鲻髭輺錙諮趦澬磫燪瘲縦鲰鄹鍿鎡繌鍐總縱頾頿鯑鬃騌蹤豵齍鶅鯔騣鯮鬉鬷糭黀鯫鰦纃鯼騶齜鑁齱齺
zu zu,zuan,zui,zun,zuo 卆左足⻊阻诅作佐阼坐苴卒组鼡咀怍岞岝咗祖珇爼俎乼昨侳祚胙租哫唨钻厜栬冣捘莋秨袏座唑菹崒崪族組脧絊酔笮捽做葅椊詛晬祽最尊琢葃葄蒩鉆觜稡罪辠筰鈼稓飵箤靻赚嗺嶊酻槜僔銌踤醉蕞嶟遵噂撙嘬撮镞篹樶嘴嶵鋷錊檇樽繤噿檌穝璻罇繜繓鏃缵蟕譐纂鐏鳟劗纉鑚躜攥鷷鱒纗纘籫躦糳鑽
